﻿@import './../../../../../styles/globals.scss';

.place-order-successfully {
    text-align: center;
    margin: 20px;
    font-size:20px;
    h4 {
        font-weight: 600;
        font-size:30px;
    }

    .thank-you {
        font-weight: 600;
        color: grey;
    }

    p {
        font-size: 22px;
    }

    a {
        color: $color-brand;
        font-weight: 600;
    }
    .btn-brand {
        background-color: $color-brand;
        border: 1px solid;
        font-size: 18px;
        height: 40px;
        box-shadow: inset 0px 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        padding: 6px 20px 6px 20px;
    }

    .btn-brand:hover, .btn-brand:active {
        background: linear-gradient(#3d5505,#719f08);
        text-decoration: none;
    }
}
