﻿<div class="billing-order">
    <div class="row">
        <form [formGroup]="billingOrderForm">
            <div class="form-group">
                <label for="country">Country<span class="required"> *</span></label>
                <div class="dropdown">
                    <select class="form-control" [formControl]="billingOrderForm.controls['country']"
                            (change)="onChangeCountry($event.target.value)"
                            [ngClass]="{'has-error':!billingOrderForm.controls['country'].valid
                                    && billingOrderForm.controls['country'].touched}">
                        <option value="" disabled selected>--Select--</option>
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                    </select>
                    <div class="alert-danger" *ngIf="billingOrderForm.controls['country'].hasError('required') && billingOrderForm.controls['country'].touched">Please enter your country.</div>
                </div>
            </div>
            <div [ngClass]="showEmail">
                <div><label for="email">Email<span class="required"> *</span></label></div>
                <div class="row email" [ngClass]="{'has-error':!billingOrderForm.controls['email'].valid && billingOrderForm.controls['email'].touched}">
                    <div class="col-lg-8">
                        <input class="form-control" [formControl]="billingOrderForm.controls['email']" id="email" maxlength="128" />
                        <div class="alert-danger" *ngIf="billingOrderForm.controls['email'].hasError('required') && billingOrderForm.controls['email'].touched">Please enter your email.</div>
                        <div class="alert-danger" *ngIf="!billingOrderForm.controls['email'].hasError('required') && billingOrderForm.controls['email'].hasError('invalidEmailAddress') && billingOrderForm.controls['email'].touched">Please enter your Email in this format name@company.com.</div>
                    </div>
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-brand" data-dismiss="modal" role="button" (click)="validateEmail()"> Add Email</button>
                    </div>

                </div>
            </div>
            <div *ngIf="billingAddresses?.length > 0">
                <div class="form-group">
                    <label for="billingAddress">Billing Address<span class="required"> *</span></label>
                    <select class="form-control" [formControl]="billingOrderForm.controls['billingAddress']"
                            (change)="changeBillingAddress($event.target.value)">
                        <option value="-1" disabled selected>-- Select --</option>
                        <option value="">Add a new billing address</option>
                        <option *ngFor="let item of billingAddresses" [value]="item.addrID">
                            {{item.address}}
                        </option>
                    </select>
                </div>
            </div>
            <div [ngClass]="showBillingOrder">
                <div class="form-group">
                    <label for="organization">Company</label>
                    <input class="form-control" [formControl]="billingOrderForm.controls['company']" maxlength="50" />
                </div>
                <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['firstName'].valid && billingOrderForm.controls['firstName'].touched}">
                    <label for="firstName">First Name<span class="required"> *</span></label>
                    <input class="form-control" [formControl]="billingOrderForm.controls['firstName']" maxlength="50" />
                    <div class="alert-danger" *ngIf="billingOrderForm.controls['firstName'].hasError('required') && billingOrderForm.controls['firstName'].touched">Please enter your first name.</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['lastName'].valid && billingOrderForm.controls['lastName'].touched}">
                    <label for="lastName">Last Name<span class="required"> *</span></label>
                    <input class="form-control" [formControl]="billingOrderForm.controls['lastName']" maxlength="50" />
                    <div class="alert-danger" *ngIf="billingOrderForm.controls['lastName'].hasError('required') && billingOrderForm.controls['lastName'].touched">Please enter your last name.</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['address'].valid && billingOrderForm.controls['address'].touched}">
                    <label for="address">Address<span class="required"> *</span></label>
                    <input class="form-control" [formControl]="billingOrderForm.controls['address']" maxlength="100" />
                    <div class="alert-danger" *ngIf="billingOrderForm.controls['address'].hasError('required') && billingOrderForm.controls['address'].touched">Please enter your address.</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['city'].valid && billingOrderForm.controls['city'].touched}">
                    <label for="city">City<span class="required"> *</span></label>
                    <input class="form-control" [formControl]="billingOrderForm.controls['city']" maxlength="100" />
                    <div class="alert-danger" *ngIf="billingOrderForm.controls['city'].hasError('required') && billingOrderForm.controls['city'].touched">Please enter your city.</div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['zip'].valid && billingOrderForm.controls['zip'].touched}">
                            <label for="zip">Zip Code<span class="required"> *</span></label>
                            <input class="form-control" [formControl]="billingOrderForm.controls['zip']" maxlength="20" />
                            <div class="alert-danger" *ngIf="billingOrderForm.controls['zip'].hasError('required') && billingOrderForm.controls['zip'].touched">Please enter your zip code.</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['state'].valid && billingOrderForm.controls['state'].touched}">
                            <label for="state">State/Region<span class="required"> *</span></label>
                            <!--<input class="form-control" [formControl]="billingOrderForm.controls['state']" id="state" maxlength="25" />-->
                            <select class="form-control" [formControl]="billingOrderForm.controls['state']">
                                <option value="-1" disabled selected>--Select--</option>
                                <option *ngFor="let state of states" [value]="state.stateID">
                                    {{state.stateDesc}}
                                </option>
                            </select>
                            <div class="alert-danger" *ngIf="billingOrderForm.controls['state'].hasError('required') && billingOrderForm.controls['state'].touched">Please enter your state/region.</div>
                        </div>

                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['phone'].valid && billingOrderForm.controls['phone'].touched}">
                    <label for="phone">Telephone<span class="required"> *</span></label>
                    <input class="form-control" [formControl]="billingOrderForm.controls['phone']" maxlength="20" placeholder="xxx-xxx-xxx" />
                    <div class="alert-danger" *ngIf="billingOrderForm.controls['phone'].hasError('required') && billingOrderForm.controls['phone'].touched">Please enter your Telephone.</div>
                    <div class="alert-danger" *ngIf="!billingOrderForm.controls['phone'].hasError('required') && billingOrderForm.controls['phone'].hasError('invalidTelephone') && billingOrderForm.controls['phone'].touched">Phone Number is invalid (format: xxx-xxx-xxxx)</div>
                </div>

                <!--<div class="form-group visaAccept">
                    <p>
                        <span>We Accept:</span>
                        <img src="../images/card_badges.png" />
                    </p>
                </div>-->
                <div class="form-group paymentType">
                    <label for="paymentType">Select Payment Type<span class="required"> *</span></label>
                    <br />
                    <input #creditCard name="paymentType" type="radio" value="24" (click)="chooseCreditCard(creditCard.value)" /> Credit Card
                    <input #payPal name="paymentType" type="radio" value="33" (click)="paymentType = payPal.value" /> PayPal
                    <input #affirmm name="paymentType" type="radio" value="25" (click)="paymentType = affirmm.value" [disabled]="billingCountry == 'CA'? true: false"/> Affirm (US only)
                    <div class="alert-danger" *ngIf="requiredPaymentType">Please enter your Payment.</div>

                </div>
                <div [ngClass]="paymentType == 24 ? 'show-class' :'hide-class'">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['creditCardNumer'].valid && billingOrderForm.controls['creditCardNumer'].touched}">
                                <label for="creditCardNumer">Credit Card Numer<span class="required"> *</span></label>
                                <input class="form-control" [formControl]="billingOrderForm.controls['creditCardNumer']" id="creditCardNumer" maxlength="20" placeholder="Enter Card Numer" />
                                <div class="alert-danger" *ngIf="requiredCreditCard">Please enter your credit card numer.</div>
                                <div class="alert-danger" *ngIf="!billingOrderForm.controls['creditCardNumer'].hasError('required') && billingOrderForm.controls['creditCardNumer'].hasError('invalidCreditCard') && billingOrderForm.controls['creditCardNumer'].touched">Credit Card  Number is invalid (format: xxxxxxxxxx):</div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['expirationDateM'].valid && billingOrderForm.controls['expirationDateM'].touched}">
                                        <label for="expirationDateM">Expiration Date<span class="required"> *</span></label>
                                        <select id="expirationDateM" class="form-control" [formControl]="billingOrderForm.controls['expirationDateM']"
                                                [ngClass]="{'has-error':!billingOrderForm.controls['expirationDateM'].valid && billingOrderForm.controls['expirationDateM'].touched}">
                                            <option value="-1" disabled selected>--Select Month--</option>
                                            <option *ngFor="let month of months" [value]="month">
                                                {{month}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="alert-danger" *ngIf="requiredExpirationDateM">Please enter your expiration date.</div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['expirationDateY'].valid && billingOrderForm.controls['expirationDateY'].touched}">
                                        <label></label>
                                        <select class="form-control" [formControl]="billingOrderForm.controls['expirationDateY']"
                                                [ngClass]="{'has-error':!billingOrderForm.controls['expirationDateY'].valid && billingOrderForm.controls['expirationDateY'].touched}">
                                            <option value="-1" disabled selected>--Select Year--</option>
                                            <option *ngFor="let year of years" [value]="year">
                                                {{year}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="alert-danger" *ngIf="requiredExpirationDateY">Please enter your expiration year.</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['cardVerifyNumber'].valid && billingOrderForm.controls['cardVerifyNumber'].touched}">
                                <label for="cardVerifyNumber">Card Verify Number<span class="required"> *</span></label>
                                <input class="form-control" [formControl]="billingOrderForm.controls['cardVerifyNumber']" id="cardVerifyNumber" maxlength="20" />
                                <div class="alert-danger" *ngIf="requiredCreditCardNumer">Please enter card verify number.</div>
                            </div>
                        </div>
                        <div class="col-lg-8 whatIsThis">
                            <!--<span>What is this?</span>-->
                        </div>
                    </div>
                </div>
                <div class="form-group actions" role="group">
                    <button type="submit" class="btn btn-primary btn-brand" role="button" (click)="validateBillingOrderForm()">
                        <span>Continue</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>