﻿@import './../../../../../../../styles/globals.scss';

.billing-order {
    /*.row {
        margin-left: 0;
        margin-right: 0;
    }*/
    font-size:20px;
    .form-group {
        margin-bottom: 10px;

        .btn-brand {
            font-size: 18px;
        }
    }

    .email {
        input {
            display: inline-block;
        }

        button {
            height: 35px;
        }
    }

    .visaAccept {
        margin-top: 20px;

        span {
            font-weight: 600;
        }

        img {
            height: 35px;
            width: 220px;
        }
    }

     label {
         font-size:20px;

     }

    .paymentType {
        label {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        input[type=radio] {
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }

    .whatIsThis {
        top: 35px;
    }

    .btn-brand {
        background-color: $color-brand;
        border: 1px solid;
        font-size: 18px;
        height: 40px;
        box-shadow: inset 0px 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        padding: 6px 50px 6px 50px;
    }

    .btn-brand:hover, .btn-brand:active {
        background: linear-gradient(#3d5505,#719f08);
        text-decoration: none;
    }
}
