﻿<div class="my-password">
    <ul> 
        <li class="title">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <span>My Account</span>
        </li>
        <li>
            <div class="accountInformation">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <span>Change Password</span>
            </div>
            <p>
                Feel free to update your password so your account stays secure                
            </p>
            <form [formGroup]="myPassForm">
                <div class="form-group" [ngClass]="{'has-error':!myPassForm.controls['password'].valid && myPassForm.controls['password'].touched}">
                    <label for="password">New Password<span class="required"> *</span></label>
                    <input type="password" class="form-control" id="password" [formControl]="myPassForm.controls['password']" placeholder="Must be 6 characters. Can not space or . , - | \ / = _" maxlength="25" />
                    <div class="alert-danger" *ngIf="myPassForm.controls['password'].hasError('required') && myPassForm.controls['password'].touched">Please enter your password.</div>
                    <div class="alert-danger" *ngIf="myPassForm.controls['password'].hasError('minlength') && myPassForm.controls['password'].touched">Must be 6 characters.</div>
                    <div class="alert-danger" *ngIf="myPassForm.controls['password'].hasError('invalidPassword') && myPassForm.controls['password'].touched">Can not space or . , - | \ / = _</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!myPassForm.controls['confirmPassword'].valid && myPassForm.controls['confirmPassword'].touched}">
                    <label for="confirmPassword">Confirm New Password<span class="required"> *</span></label>
                    <input type="password" class="form-control" id="confirmPassword" [formControl]="myPassForm.controls['confirmPassword']" maxlength="25" />
                    <div class="alert-danger" *ngIf="myPassForm.controls['confirmPassword'].hasError('required') && myPassForm.controls['confirmPassword'].touched">Please enter your confirm password.</div>
                    <div class="alert-danger" *ngIf="myPassForm.controls['confirmPassword'].hasError('MatchPassword') && myPassForm.controls['confirmPassword'].touched">Please make sure your password match</div>
                </div>
                <div class="form-group actions" role="group">
                    <button type="submit" class="btn btn-brand full-width" data-dismiss="modal" role="button" (click)="save()">Save Password</button>
                </div>
            </form>  
        </li>
    </ul>
</div>
