﻿<div class="row">
    <div class="sale-messages hidden-sm hidden-xs visible-lg-block visible-md-block">
        <div class="sale-off">
            <div class="sale-off-info" style="margin-top:-15px;"></div>
        </div>
    </div>
</div>
<div class="my-account-overral">
    <h4>
        <i class="fa fa-lock" aria-hidden="true"></i>
        Account
    </h4>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="row left">
            <ul class="menu">
                <li>
                    <span class="label circle">{{shortcurrentUser}}</span>
                    <span class="welcome">Hi,&nbsp;</span>
                    <span class="name">{{currentUser.custFirstName}}&nbsp;{{currentUser.custLastName}}</span>
                </li>
                <li class="title">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <span>My Account</span>
                    <ul class="menu-child">
                        <li class="title-child">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <span class="visible-lg-block visible-md-block visible-sm-block hidden-xs" (click)="changeLink('PW')">My Password</span>
                            <span class="hidden-lg hidden-md hidden-sm visible-xs-block" (click)="openChangePasswordModal()">My Password</span>

                        </li>
                        <li class="title-child">
                            <i class="fa fa-address-book" aria-hidden="true"></i>
                            <span class="visible-lg-block visible-md-block visible-sm-block hidden-xs" (click)="changeLink('AB')">My Address</span>
                            <span class="hidden-lg hidden-md hidden-sm visible-xs-block" (click)="openMyAddressBookModal()">My Address</span>
                        </li>
                        <li class="title-child">
                            <i class="fa fa-address-book" aria-hidden="true"></i>
                            <span class="visible-lg-block visible-md-block visible-sm-block hidden-xs" (click)="changeLink('ACC')">My Account</span>
                            <span class="hidden-lg hidden-md hidden-sm visible-xs-block" (click)="openMyAccountModal()">My Account</span>
                        </li>
                    </ul>
                </li>
                <li class="title">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <span>My Order</span>
                    <ul class="menu-child">
                        <li class="title-child">
                            <span class="visible-lg-block visible-md-block visible-sm-block hidden-xs" (click)="changeLink('O')">My Order History</span>
                            <span class="hidden-lg hidden-md hidden-sm visible-xs-block" (click)="openMyOrdersModal()">My Order History</span>
                        </li>
                        <li class="title-child">
                            <span class="visible-lg-block visible-md-block visible-sm-block hidden-xs" (click)="changeLink('COS')">Current Order Status</span>
                            <span class="hidden-lg hidden-md hidden-sm visible-xs-block" (click)="openMyRecentsOrdersModal()">Current Order Status</span>
                        </li>
                    </ul>
                </li>
                <li class="title">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    <span>My WishList</span>
                    <ul class="menu-child">
                        <li class="title-child">
                            <span class="visible-lg-block visible-md-block visible-sm-block hidden-xs" (click)="changeLink('WL')">My WishList</span>
                            <span class="hidden-lg hidden-md hidden-sm visible-xs-block" (click)="openMyWishListModal()">My WishList</span>
                        </li>                     
                    </ul>
                </li>
                <!--<li class="title-child">
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    <span>Need help</span>
                </li>-->
            </ul>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 visible-lg-block visible-md-block visible-sm-block hidden-xs">
        <div class="content" *ngIf="myAccount">
            <my-account (changeNameFinished)="changeNameFinished($event)"></my-account>
        </div>
        <div *ngIf="myChangePassword">
            <my-password>

            </my-password>
        </div>
        <div *ngIf="myAddressBook">
            <my-address-book>
            </my-address-book>
        </div>
        <div *ngIf="myOrders">
            <my-orders>
            </my-orders>
        </div>
        <div *ngIf="myCurrentOrders">
            <my-recents-orders>
            </my-recents-orders>
        </div>
        <div *ngIf="myWishList">
            <my-wish-list>
            </my-wish-list>
        </div>
    </div>

</div>