﻿@import './../../../styles/globals.scss';
.my-orders-details {
    width: 700px;
    margin: 10px auto;
    background: white;
    overflow-y: scroll;
    height: 700px;
    font-size:18px;
    h4 {
        font-weight:600;
    }
      .close {
        font-size:30px;
    }
    @media (max-width:700px) {
        width: 100%;
        padding-left: 3px;
        padding-right: 3px;

        .col-lg-4, .col-md-4, .col-sm-4, .col-xs-4,
        .col-lg-2, .col-md-2, .col-sm-2, .col-xs-3,
        .col-lg-1, .col-md-1, .col-sm-1, .col-xs-2 {
            margin-left:0;
            margin-right:0;
            padding-left:0;
            padding-right:0;
        }
    }
    a {
        color:#333;
        font-size:18px;
        font-weight:600;
    }
    .view-link {
        color:$color-brand;
        font-weight:300;
    }
     .view-link-re-order {
        color:  #e67a00;
      font-weight:300;
    }
    .modal-header {
        padding: 0;
    }
    .close {
        font-size:30px;
    }
    p {
        margin: 0;
    }
    .title {
        border: none;
        font-size: 24px;
        border-bottom: 1px solid $color-brand;
        margin-bottom: 15px;
    }
    .header {
        font-size: 20px;
        font-weight: 600;
        @media (max-width:700px) {
            margin-left:0;
            margin-right:0;
        }
    }
    .row {
        border-top:0;
    }
    .panel-body {
        padding-top: 0;
        padding-bottom: 0;

        @media (max-width:700px) {
            padding: 0;
            margin: 0;            
        }
    }
    .contents {
        padding-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }
    .title-footer {
        text-align: right;
    }
    .contents-footer {
        margin-top: -10px;
        background-color: lightgrey;
        margin-left: 0;
        margin-right: 0;
    }
}
