﻿<div class="my-recents-orders">
    <ul>
        <li class="title">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <span>My Order</span>
        </li>
        <li>
            <div class="accountInformation">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
                <span>Current Order Status</span>
                <a class="view-link pull-right">View All</a>
            </div>
        </li>
        <li>
            <div class="row header">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                #
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                    Date
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                    To
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                    Total
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                    Status
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

                </div>
            </div>
            <div class="row contents" *ngFor="let order of orders;let i = index">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    {{order.orderID}}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                    {{order.createDateTime | date: 'dd/MM/yyyy' }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                    {{order.shippingFullName}}
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                    {{order.total}}
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                    {{order.orderStatus}}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 actions">
                    <a class="view-link" (click)="showOrderDetailsDialog(order)">View</a> &nbsp;
                    <a class="view-link-re-order" (click)="reOrder(order)">ReOrder</a>
                </div>
            </div>
        </li>
    </ul>  
</div>
