﻿<div class="container my-recents-orders" style="background: white;margin-top:10px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()"><span aria-hidden="true" style="font-size:30px;">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="lineModalLabel">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <span>My Order</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="modal-body" style="padding-left:0;padding-right:0;">
        <ul>
            <li>
                <div class="accountInformation" style="font-size:20px!important;">
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                    <span>My Order History</span>
                    <a class="view-link pull-right">View All</a>
                </div>
            </li>
            <li style="font-size:14px!important;">
                <div class="row header">
                    <div class="col-xs-2">
                        #
                    </div>
                    <div class="col-xs-3">
                        Date
                    </div>
                    <div class="col-xs-2">
                        Total
                    </div>
                    <div class="col-xs-2">
                        Status
                    </div>
                    <div class="col-xs-3">

                    </div>
                </div>
                <div class="row contents" *ngFor="let order of orders;let i = index">
                    <div class="col-xs-2">
                        {{order.orderID}}
                    </div>
                    <div class="col-xs-3">
                        {{order.createDateTime | date: 'dd/MM/yyyy' }}
                    </div>
                    <div class="col-xs-2">
                        {{order.total}}
                    </div>
                    <div class="col-xs-2">
                        {{order.orderStatus}}
                    </div>
                    <div class="col-xs-3 actions">
                        <a class="view-link" (click)="showOrderDetailsDialog(order)">View</a> &nbsp;
                        <a class="view-link-re-order" (click)="reOrder(order)">ReOrder</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
