﻿@import './../../../styles/globals.scss';
.my-recents-orders {
    font-size: 18px;
    width: 100%;
    @media(max-width:769px) {
        font-size: 14px;
    }
    .accountInformation {
        font-size: 24px;
        color: $color-brand;
        font-weight: 600;
        margin-top: 25px;
    }
    .view-link {
        color: $color-brand;
    }
    .view-link-re-order {
        color: #e67a00;
    }
    .actions {
        text-align: right;
    }
    ul {
        list-style: none;
        @media(max-width:993px) {
            padding: 0;
        }
    }
    .title {
        border: none;
        font-size: 30px;
        border-bottom: 1px solid $color-brand;
        margin-bottom: 15px;
        @media(max-width:769px) {
            font-size: 20px;
        }
    }
    .header {
        font-size: 20px;
        font-weight: 600;
        color: #333;
        margin-bottom: 5px;
        margin-top: 10px;
        @media(max-width:769px) {
            font-size: 14px;
        }
    }
    .col-xs-2, .col-xs-3 {
        padding-left: 5px;
        padding-right: 5px;
    }
}