﻿@import './../../../styles/globals.scss';
.my-wish-list {
    font-size: 18px;
    color: #333;
    ul {
        list-style: none;
        @media(max-width:993px) {
            padding: 0;
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    a {
        color: $color-brand;
    }
    .title {
        border: none;
        font-size: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid $color-brand;
    }
    .product-list {
        .header, .productDesc, .grandTotal {
            font-weight: 600;
        }
        .number {
            text-align: end;
        }
        .contents {
            margin-top: 30px;
            margin-bottom: 30px;

            .col-lg-2, .col-lg-1, .col-lg-5 {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .img-product {
            width: 100%;
        }
        p {
            margin: 0 0 5px;
            font-size: 20px;
            .productSKU, .qty {
                color: gray;
            }
            .number {
                width: 50px;
                text-align: center;
            }
        }
        .icon {
            text-align: center;
            font-size: 35px;
            i:hover {
                cursor: pointer;
            }
        }
    }
    .btn-add-cart:hover, .btn-add-cart:active,
    .btn-share-wishlist:hover, .btn-share-wishlist:active {
        background: linear-gradient(#3d5505,#719f08);
        text-decoration: none;
        color: #fff;
    }
    .btn-add-cart {
        font-size: 20px;
        background-color: $color-brand;
        border: 1px solid $color-brand;
        box-shadow: inset 0px 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        padding: 5px 40px;
    }
    .btn-share-wishlist {
        font-size: 20px;
        background-color: white;
        border: 1px solid #000000;
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #000000;
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding: 5px 30px;
        margin-right: 10px;
    }
    .col-xs-3, .col-xs-2 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .col-xs-2 {
        width: 15%;
    }
    .col-xs-3 {
        width: 20%;
    }
    .col-xs-5 {
        padding-right: 5px;
        width: 50%;
    }
}
