﻿<div class="container my-wish-list" style="background: white;margin-top:10px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()"><span aria-hidden="true" style="font-size:30px;">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="lineModalLabel">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    <span>My Wish List</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="modal-body" style="padding-left:0;padding-right:0;">
        <ul>
            <li style="font-size:14px!important;">
                <div class="row header">
                    <div class="col-xs-5">
                    </div>
                    <div class="col-xs-2">
                        Price
                    </div>
                    <div class="col-xs-2">
                        Qty
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>
                <div class="row contents" *ngFor="let wishList of wishLists;let i = index">
                    <div class="col-xs-5">
                        <img *ngIf="wishList.product.imageMain" class="img-product" [attr.src]="'../images' + wishList.product.imageMain" alt="image" />
                        <br />
                        <span class="productDesc">{{wishList.product.productDesc}}</span>
                        <br />
                        <span class="productSKU"> {{wishList.product.productSKU}} </span>
                    </div>
                    <div class="col-xs-2">
                        <span class="webPrice number">{{wishList.product.webPrice | currency:'USD':true:'1.2-2'}}</span>
                    </div>
                    <div class="col-xs-2">
                        <input type="number" class="number"
                               style="width: 50px; margin-left:5px;"
                               [value]="wishList.wishItemQty" min="1" (change)="changeQty(wishList, qty.value);" #qty />
                    </div>
                    <div class="col-xs-3 icon" style="display: inline-flex;">
                        <i style="font-size:30px;margin-left:5px" class="fa fa-remove" aria-hidden="true" (click)="remove(wishList, index)"></i>

                        <i style="font-size:30px;" class="fa fa-shopping-cart" aria-hidden="true" (click)="addToCart(wishList, index)"></i>
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="col-lg-12" *ngIf="wishLists?.length > 0">
                        <button type="submit" class="btn btn-primary btn-add-cart" (click)="addAllToCart()" style="width:200px;">Add All To Cart</button>
                        <button type="submit" class="btn btn-primary btn-share-wishlist" (click)="shareWishList()" style="width:200px;">Share WishList</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
