﻿@import './../../../styles/globals.scss';

.add-order-modal {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    @media(min-width:992px) {
        height: 650px;
        width: 970px;
    }

    margin: 30px auto;
    background: white;
    font-size: 25px;
    /*margin-top: 5px;*/
     .modal-header {
            padding: 0;
            border-bottom:0;
     }
            
    .paypal {margin-left:20%;}
    fieldset {
        border: 1px groove #ddd !important;
        padding: 0 10px 10px 10px !important;
        margin: 0 0 10px 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;

        legend {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: center !important;
            border: none;
            margin-bottom: -20px !important;
            width: auto;

            img {
                height: 35px;
                width: 220px;
            }
        }

        .modal-header {
            margin: 5px 0;
            padding: 0;

            p {
                text-align: center;
                margin-top: 20px;

                a {
                    font-weight: 600;
                }
            }
            
            .reserved-item {
                   font-size:20px;
                   margin-top:-5px;
               }
            .easy {
                font-weight: 600;
                color:$color-brand;
            }
        }

        .modal-body {
            font-size: 20px;
            .my-cart, .total {
                float: left;
                font-size: 20px;
                font-weight: 600;
            }

            .sub-total {
                float: right;
                font-size: 22px;
                font-weight: 600;
            }

            .product-list {                
                @media(min-width:992px) {
                    overflow-y: scroll;
                    height: 550px;
                }

                .number {
                    width: 50px;
                    text-align: center;
                    line-height: 26px;
                }

                input.number{
                    border: 1px solid;
                }
                
                .buttonminus {
                   width:27px;
                }

                .contents {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }

                .img-product {
                    width: 100%;
                }

                .reserved-item {
                    float: right;
                }

                .fa-check-circle-o {
                    color: $color-brand;
                }

                .product-added {
                    font-weight: 600;
                }

                p {
                    margin: 0 0 10px;
                    font-size: 20px;

                    .webPrice, .productDesc {
                        font-weight: 600;
                    }

                    .productSKU, .qty {
                        color: #636363;
                    }
                }
            }

            .summary {
                .row {
                    margin-left: 0;
                }

                input {
                    width: 260px;

                    @media(max-width:993px) {
                        margin-left: 3px;
                        width: 180px;
                        border: 1px solid;       
                        line-height:26px;    
                        padding-top:0;             
                    }
                }

                .btn-apply {	
                    /*background: $color-brand;	
                    color: white;*/	
                    background-color: $color-brand;	
                    border: 1px solid $color-brand;	
                    font-size: 20px;	
                    box-shadow: inset 0px 1px 1px #a4e388;	
                    border-color: #3b6e22 #3b6e22 #2c5115;	
                    color: #fff;	
                    cursor: pointer;	
                    display: inline-block;	
                    position: relative;	
                    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);	
                    padding: 2px 15px 2px 15px;	
                  }	
	
               .btn-apply:hover, .btn-apply:active {	
                   background: linear-gradient(#3d5505,#719f08);	
                   text-decoration: none;	
                }	


                .sub-total {
                    float: left;
                    font-size: 20px;
                    font-weight: 600;
                }

                .sub-total-value {
                    float: right;
                    font-size: 20px;
                }
            }
        }
    }

    .close {
        font-size: 30px;
        opacity: 1;
        margin-top: -8px
    }
/*.actions{
    .btn-brand:hover, .btn-brand:active {
        background: linear-gradient(#3d5505,#719f08);
        text-decoration: none;
    }
    }*/
    .price {
        text-decoration: line-through;
        color: rgba(82, 80, 80, 0.64);
        text-decoration-color: darkred;
        font-size: $font-size-18;
        margin-right: 20px;
    }

    .cross-price {
        text-decoration: line-through;
        color: rgba(82, 80, 80, 0.64);
        text-decoration-color: darkred;
        font-size: 18px;
        margin-right: 20px;
    }
}
