﻿<div class="item-content" *ngIf="item">
    <div class="col-item" (click)="selectDetails(item)">
        <div class="top-line1">
            <span class="a-size-mini a-color-base dotdBadge1" *ngIf="item.newArrivalInd == 'Y' && item.crossoffInd == 'N'&& item.clearanceInd == 'N'">New!</span>
            <span class="a-size-mini a-color-base dotdBadge1" *ngIf="item.crossoffInd==='Y' && item.clearanceInd == 'N'">Sale!</span>
            <span class="a-size-mini a-color-base dotdBadge1" *ngIf="item.clearanceInd == 'Y'"> Clearance!</span>
            <span class="a-size-mini a-color-base badgeSkew"></span>
        </div>
        <div class="photo">
            <img class='img-responsive-productRelated' [attr.src]="'../images' + item.imageMain" />
        </div>
        <div class="info">

            <p class="productDesc iphone" title="{{item.productDesc}}">  {{ (item.productDesc.length> 30)? (item.productDesc | slice:0:30)+'...':(item.productDesc)}}</p>
            <p class="productDesc iphone5" title="{{item.productDesc}}">  {{ (item.productDesc.length> 25)? (item.productDesc | slice:0:25)+'...':(item.productDesc)}}</p>

            <p style="margin:0;line-height:22px;">
                <span *ngIf="item.crossoffInd==='N'">${{ item.webPrice | number }}</span>
                <span class="price" *ngIf="item.crossoffInd==='Y'">${{ item.msrpPrice | number }}</span>
                <span class="promo-price" *ngIf="item.crossoffInd==='Y'">${{ item.webPrice | number }}</span>
            </p>
            <fieldset class="rating">
                <label *ngFor="let i of item.reviewRate | rateNumber">
                    <span class="full" *ngIf="i >= 0 && i != 0.5"></span>
                    <span class="half" *ngIf="i==0.5"></span>
                    <span class="" *ngIf="i===-1"></span>
                </label>
            </fieldset>
            <div class="total-rating" *ngIf="item.reviewCount > 0 "> {{item.reviewCount | number}}</div>
        </div>
        <div class="btn-view-details">
            <button class="btn btn-primary btn-view-products">View Details</button>
        </div>

    </div>
</div>
