﻿@import './../../../styles/globals.scss';

:host {
    .products-review-list {
        font-size: 18px;

        p {
            margin: 0 0 20px;
        }

        .title {
            font-size: 20px;
            font-weight: 600;
        }
        .see-more {
            color: $color-brand;
            font-weight: 600;
        }

        .rating {
            border: none;
        }

        .total-rating {
            display: inline-block;
            padding-top: 10px;

            @media (max-width:414px) {
                padding-top: 0;
            }
        }

        .rating {
            border: none;
        }

        .rating:after {
            display: table;
            content: " ";
        }

        .rating > label > span:before {
            margin: 5px;
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }

        .rating > label > span.half {
            display: inline-flex;
        }

        .rating > label > span.half:after {
            margin: 5px;
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f089";
            color: $color-brand;
            position: absolute;
        }

        .rating > label > span.half:before {
            margin: 5px;
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
            color: #ddd;
        }

        .rating > label > span.full:before {
            color: $color-brand;
        }

        .rating > label > span {
            font-size: 18px;
            color: #ddd;
        }
    }

    .mobile > label {
        margin-bottom: -20px;
    }
}
