<div class="product-addition-info">
    <table>
        <tr *ngFor="let item of productAdditionInfos">
            <td><span><strong>{{item.additionName }}</strong></span></td>
            <td><span> {{ item.additionValue }}</span></td>
        </tr>
    </table>
</div>
