<div class="products-review-list">
    <div class="row" *ngFor="let item of productReviews">
        <span class="title">Review by {{ item.revName }}</span><br />    
        <fieldset class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block rating">
            <span class="title">Overall Satisfaction</span>
            <label *ngFor="let i of item.revRate | rateNumber">
                <span class="full" *ngIf="i >= 0 && i != 0.5"></span>
                <span class="half" *ngIf="i==0.5"></span>
                <span class="" *ngIf="i===-1"></span>
            </label>
            <p>
                {{ item.revComments }} (Posted on {{ item.createDatetime | date}})
            </p>
        </fieldset>
        <fieldset class="visible-xs-inline-block rating mobile">           
            <span class="title">Overall</span>
            <label *ngFor="let i of item.revRate | rateNumber">
                <span class="full" *ngIf="i >= 0 && i != 0.5"></span>
                <span class="half" *ngIf="i==0.5"></span>
                <span class="" *ngIf="i===-1"></span>
            </label>
            <span class="title">Satisfaction</span>
            <p>
                {{ item.revComments }} (Posted on {{ item.createDatetime | date}})
            </p>
        </fieldset>
</div>
    <div class="row" *ngIf="totalItems > this.productReviews.length">
        <a class="see-more" (click)="loadMore()"> See more reviews</a>
    </div>
</div>
