﻿@import './../../../styles/globals.scss';

:host {
    .price {
        text-decoration: line-through;
        color: rgba(82, 80, 80, 0.64);
        text-decoration-color: darkred;
        font-size: $font-size-18;
    }

    .promo-price {
        margin-left: 30px;
        font-size: $font-size-20;

        @media (max-width:375px) {
            margin-left: 0;
        }
    }

    a {
        color: $color-background-darker;
    }

    .description {
        margin-top: 20px;

        .title {
            font-size: 24px;
            font-weight: 700;
        }
    }

    .checkbox-inline {
        color: $color-brand;
        margin-top: -10px;
        padding-left: 0;
        margin-right: 10px;
    }

    .additional-views {
        margin-top: 10px;

        img {
            border: 2px solid #E1E1E1;
            border-radius: 5px;
            margin-top: -30px;
            margin-left: 60px;
            @media (max-width:1024px) {
            margin-top: -30px;
            margin-left: 30px;
        }
        }
    }

    .card-img {
        width: 80px;
        height: 80px;
        padding: 5px;
    }

    .color-card-img {
        /*width: 6%;*/
        height: 60px;
        margin-right: 5px;
        border: 2px solid #ddd;
        padding: 3px;
    }

    .btn-action {
        display: inline-block;
        margin-left: 10px;

        .btn-add-cart {
            font-size: 20px;
            background-color: $color-brand;
            border: 1px solid $color-brand;
            box-shadow: inset 0px 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
            padding: 5px 40px;
        }

        .btn-add-cart:hover, .btn-add-cart:active,
        .btn-add-wishlist:hover, .btn-add-wishlist:active {
            background: linear-gradient(#3d5505,#719f08);
            text-decoration: none;
            color: #fff;
        }

        .btn-add-wishlist {
            font-size: 20px;
            background-color: white;
            border: 1px solid #000000;
            border-color: #3b6e22 #3b6e22 #2c5115;
            color: #000000;
            cursor: pointer;
            display: inline-block;
            position: relative;
            padding: 5px 30px;
            margin-right: 10px;
        }
    }

    .add-to-cart {
        margin-top: 5px;
    }
}

.products-details {
    margin-top: 10px;
    margin-bottom: 30px;

    .sitemap {
        margin-bottom: 30px;
        font-size: 20px;
        color: #333;
    }

    .img-top {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: transform .5s ease-out;
        margin-left: 70px;
        @media (max-width:1024px) {
            margin-left: 0;
            width:350px;
            height:350px;
        }
    }

 

    .tiles {
        position: absolute;
        width: 416px;
        height: 416px;
        cursor: move;
        z-index:2;
    }
     

    .tile {
        /*position: relative;*/
        float: left;
        width: 416px;
        height: 416px;
        overflow: hidden;
    }

    .pdf {
        font-size: 28px;
        font-weight: 700;
        margin-top: 30px;
        display: grid;

        a {
            cursor: pointer;
            text-decoration: unset;
            color: $color-brand;
        }

        a:hover, a:active {
            color: #577a08;
        }
    }

    .contents {
        margin-left: 10px;
        font-size: 20px;
        margin-top: -35px;

        .checkbox-inline {
            color: $color-brand;
            margin-top: -10px;
            padding-left: 0;
        }

        .number {
            width: 70px;
            padding: 3px 10px;
            line-height: 24px;
        }
        .buttonminus {
            width:27px;
        }

        .add-to-wishlist {
            margin-left: 30px;
            display: inline-block;
        }



        .affirm-logo {
            width: 7%;
            vertical-align: text-bottom;
        }

        .affirm-product-modal {
            color: $color-brand;
            text-decoration: unset;
            cursor: pointer;
        }

        a.affirm-product-modal:hover, a.affirm-product-modal:active {
            color: #577a08;
        }


        .inStock {
            zoom: 2;
            margin-top: 0;
        }
    }

    .productSpec {
        font-size: 20px;
    }

    .tab-content {
        margin: 40px 0 40px 20px;
    }

    .nav-tabs {
        border: none;
        font-size: 20px;

        a {
            padding: 5px 10px;
        }
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border: none;
        font-weight: 600;
        border-bottom: 5px solid #719F0A;
    }

    .product-reviews {
        border: 10px solid $color-bright;
        margin-top: 30px;
    }

    .review {
        /*height: 700px;
        overflow-y: scroll;*/
    }

    .long-description {
        ul {
            color: green;
        }
    }

    .additional-views {
        margin-top: 450px;
        position: inherit;
    }

    .zoomProduct {
        width: 600px;
        height: 600px;
        display: block;
        position: absolute;
        z-index: 1000;
        background: white;
        overflow: hidden;
        top: -50px;
    }
}

.products-details-moblie {
    margin-top: 25px;
    font-size: 20px;

    
    h2 {
        margin-top:10px;

    }

    .panel-body {
        margin-left: 10px;
    }

    .panel-heading {
        font-size: 24px;
    }

    .sitemap {
        color: #333;
    }

    .affirm-logo {
        width: 20%;
        vertical-align: text-bottom;
    }

    a.learn-more {
        color: $color-brand;
        cursor: pointer;
        text-decoration: unset;
    }

    a.learn-more:hover, a.learn-more:active {
        color: #577a08;
    }


    .inStock {
        zoom: 2;
        margin-top: 0;
    }

    .card-img-top {
        width: 320px;
        height: 320px;
        text-align: center;
        margin-top: 15px;

        /*width: 300px;
        height: 450px;
        text-align: center;*/
    }

    .price {
        margin-right: 15px;
    }

    .avatar {
        vertical-align: middle;
        text-align: center;
    }

    .btn-action {
        margin-left: 0;
        width: 100%;

        button {
            width: 100%;
        }
    }

    .qty {
        lable {
            margin-right: 5px;
        }

        input {
            width: 40px;
            text-align: center;
            font-weight: 500;
            border: 1px solid rgba(82, 80, 80, 0.64);
            margin-right: 10px;
            padding: 2px;
        }

        button {
            color: $color-brand;
            width: 30px;
            font-weight: 700;
            margin-right: -6.5px;
        }
    }

    .glyphicon-plus, .glyphicon-minus {
        float: right;
        color: $color-brand;
    }

    .carousel-indicators {
        width: auto;
        position: inherit;
        left: 0;
        margin-left: 0;
        top: 10px;
    }

    .carousel-indicators .active {
        background-color: $color-brand;
    }

    .carousel-indicators li {
        border: 1px solid $color-brand;
    }

    ul {
        display: inline-block;
    }

    ul > li {
        display: block;
        vertical-align: middle;
    }

    .content {
        margin-bottom: 35px;
    }

    .swipe-box {
        display: block;
        width: 100%;
        float: left;
        margin: 0;
        transition: .5s ease .1s;
    }

    .ctn {
        max-width: 400px;
        margin: 0 auto;
    }

    .inner-ctn {
        margin: 20px;
    }
    
    .additional-views {
        margin-top: 10px;

        .card-img {
            border: 2px solid #E1E1E1;
            border-radius: 5px; 
            margin-left:5px;  
            
        }
    }

}
.sale-messages {
    .sale-off {
        background-color: $color-background-dark;
        height: 35px;

        .sale-off-info {
            width: 400px;
            margin-left: 10%;
            height: 35px;
            -webkit-transform: skew(50deg);
            -moz-transform: skew(50deg);
            -o-transform: skew(50deg);
            background-color: $color-brand;
        }
    }


    .first {
        color: white;
        position: absolute;
        font-size: 12px;
        font-weight: 700;
        margin-top: -45px;
        margin-left: 15px;
        word-wrap: break-word;
        width: 90px;
    }

    .second {
        color: white;
        position: absolute;
        font-size: 25px;
        font-weight: 700;
        margin-top: -35px;
        margin-left: 200px;
        width: 400px;
    }

    .third {
        color: white;
        position: absolute;
        font-size: 18px;
        font-weight: 700;
        margin-top: -30px;
        margin-left: 660px;
        width: 400px;
    }
}
