<div class="products-review visible-lg-inline-block visible-sm-inline-block visible-md-inline-block" >
    <span class="title"> Write A Review </span>
    <div>
        <br/>
    </div>
    <p>
        <span class="title-name">You're reviewing:</span>
        <span class="productSKU">{{productSKU}} </span>
    </p>
    <p>
        <span> How do you rate this product? </span>
        <span class="required">*</span>

        <label for="nickName" class="required pull-right"> * Required Fields</label>
    </p>
    <br />
    <form class="productReviewForm" [formGroup]="productReviewForm">
        <div class="form-group stars">
            <div class="row title-stars">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    1 star
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    2 stars
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    3 stars
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    4 stars
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    5 stars
                </div>
            </div>
            <div class="row  content-stars">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <span>Overall Satisfaction</span>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <input type="radio" [checked]="star === 1" value="1" (click)="star = 1" />
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <input type="radio" [checked]="star === 2" value="2" (click)="star = 2" />
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <input type="radio" [checked]="star === 3" value="3" (click)="star = 3" />
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <input type="radio" [checked]="star === 4" value="4" (click)="star = 4" />
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <input type="radio" [checked]="star === 5" value="5" (click)="star = 5" />
                </div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!productReviewForm.controls['nickName'].valid && productReviewForm.controls['nickName'].touched}">
            <label for="nickNameMobi">Nickname<span class="required"> *</span></label>
            <input class="form-control" [formControl]="productReviewForm.controls['nickName']" name="nickNameMobi" maxlength="50" />
            <div class="alert-danger" *ngIf="productReviewForm.controls['nickName'].hasError('required') && productReviewForm.controls['nickName'].touched">Please enter your nick name.</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!productReviewForm.controls['review'].valid && productReviewForm.controls['review'].touched}">
            <label for="reviewMobi">Review<span class="required"> *</span></label>
            <textarea class="form-control review" [formControl]="productReviewForm.controls['review']" name="reviewMobi" maxlength="500"></textarea>
            <div class="alert-danger" *ngIf="productReviewForm.controls['review'].hasError('required') && productReviewForm.controls['review'].touched">Please enter your review.</div>
        </div>
        <div class="form-group actions" role="group">
            <button type="submit" class="btn btn-review" data-dismiss="modal" role="button" (click)="validateSubmit()">Submit Review</button>
        </div>
    </form>
</div>
<div class="row visible-xs-inline-block products-review mobile">
    <span class="title"> Write A Review </span>
    <br />
    <br />
    <p>
        <span class="title-name">You're reviewing: <strong>{{productSKU}}</strong></span>
    </p>
    <p>
        <span class="productDesc">
            {{productDesc}}
        </span>
    </p>  
    <p>
        <span> How do you rate this product? </span>
        <span class="required">*</span>

        <label for="nickName" class="required pull-right"> * Required Fields</label>
    </p>
    <br />
    <form class="productReviewForm" [formGroup]="productReviewForm">
        <div class="form-group stars">
            <div class="row title-stars">
                <div class="col-xs-3 " style="color:black;font-weight:500">
                    Overall
                </div>
                <div class="col-xs-2">
                    1 
                </div>
                <div class="col-xs-2">
                    2 
                </div>
                <div class="col-xs-2">
                    3 
                </div>
                <div class="col-xs-2">
                    4 
                </div>
                <div class="col-xs-2">
                    5 
                </div>
            </div>
            <div class="row  content-stars">
                <div class="col-xs-3">
                    <span>Satisfaction</span>
                </div>
                <div class="col-xs-2">
                    <input type="radio" [checked]="star === 1" value="1" (click)="star = 1" />
                </div>
                <div class="col-xs-2">
                    <input type="radio" [checked]="star === 2" value="2" (click)="star = 2" />
                </div>
                <div class="col-xs-2">
                    <input type="radio" [checked]="star === 3" value="3" (click)="star = 3" />
                </div>
                <div class="col-xs-2">
                    <input type="radio" [checked]="star === 4" value="4" (click)="star = 4" />
                </div>
                <div class="col-xs-2">
                    <input type="radio" [checked]="star === 5" value="5" (click)="star = 5" />
                </div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!productReviewForm.controls['nickName'].valid && productReviewForm.controls['nickName'].touched}">
            <label for="nickName">Nickname<span class="required"> *</span></label>
            <input class="form-control" [formControl]="productReviewForm.controls['nickName']" name="nickName" maxlength="50" />
            <div class="alert-danger" *ngIf="productReviewForm.controls['nickName'].hasError('required') && productReviewForm.controls['nickName'].touched">Please enter your nick name.</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!productReviewForm.controls['review'].valid && productReviewForm.controls['review'].touched}">
            <label for="review">Review<span class="required"> *</span></label>
            <textarea class="form-control review" [formControl]="productReviewForm.controls['review']" name="review" maxlength="500"></textarea>
            <div class="alert-danger" *ngIf="productReviewForm.controls['review'].hasError('required') && productReviewForm.controls['review'].touched">Please enter your review.</div>
        </div>
        <div class="form-group actions" role="group">
            <button type="submit" class="btn btn-review" data-dismiss="modal" role="button" (click)="validateSubmit()">Submit Review</button>
        </div>
    </form>
</div>