<div class="row">
    <div class="sale-messages hidden-sm hidden-xs visible-lg-block visible-md-block">
        <div class="sale-off">
            <div class="sale-off-info" style="margin-top:-15px;"></div>
        </div>
    </div>
</div>
<div class="products-details hidden-sm hidden-xs visible-lg-block  visible-md-block" *ngIf="product">
    <div class="sitemap">
        <a [routerLink]="'/home'">Home</a>
        <span>></span>
        <a (click)="productDepartmentLink()">
            {{product.departmentDesc}}
        </a>
        <span>></span>
        <a (click)="productClassLink()">{{product.classDesc}} </a>
        <span>></span>
        <a (click)="productSubClassLink()">
            {{product.subclassDesc}}
        </a>
    </div>
    <div class="row">
        <div class="col-md-5 col-lg-5 avatar">
            <div class="tiles" (mousemove)="zoomProduct = 'visible'; contents ='hidden';mouseMove($event)" (mouseout)="zoomProduct = 'hidden';contents ='visible';mouseOut()">
                <div class="tile">
                    <img id="photo" *ngIf="product.image1" class="img-top" [attr.src]="'../images' + product.image1" alt="image" />
                </div>
            </div>
            <div class="additional-views">
                <img class="card-img" *ngIf="product.image2" [attr.src]="'../images' + product.image2" alt="image2" (click)="changeImage2()"
                />
                <img class="card-img" *ngIf="product.image3" [attr.src]="'../images' + product.image3" alt="image3" (click)="changeImage3()"
                />
                <img class="card-img" *ngIf="product.image4" [attr.src]="'../images' + product.image4" alt="image4" (click)="changeImage4()"
                />
            </div>
        </div>
        <div class="col-md-7 col-lg-7">
            <div class="zoomProduct" [style.visibility]="zoomProduct">
                <img id="photo" [style.transform]="'scale(' + scaleX + ','+ scaleY +')'" [style.transform-origin]="transformOrigin" *ngIf="product.image1"
                    class="img-top" [attr.src]="'../images' + product.image1" alt="image" />
            </div>
        </div>
        <div class="contents" [style.visibility]="contents">
            <h2>
                <p>
                    <strong>{{product.productDesc}}</strong>
                </p>
            </h2>
            <p>
                <span *ngIf="product.crossoffInd==='N'">${{ product.webPrice }}</span>
                <span class="price" *ngIf="product.crossoffInd==='Y'">${{ product.msrpPrice }}</span>
                <span class="promo-price" *ngIf="product.crossoffInd==='Y'">${{ product.webPrice }}</span>
            </p>
            <p>
                Or starting at $25 per month with
                <img class="affirm-logo" src="/images/blue_logo-solid_bg.jpg" />
                <a id="learn-more" class="affirm-product-modal" (click)="learnMore()" data-modal-id="W6WU7UK82RS34HDH" data-promo-id="W6WU7UK82RS34HDH">
                    Learn more </a>
            </p>
            <p>
                <input class="inStock" type="checkbox" checked="checked" />
                <span class="checkbox-inline">{{product.availability}}</span>
                <input class="inStock" type="checkbox" checked="checked" />
                <span class="checkbox-inline"> Free Shipping</span>
            </p>
            <div class="color-views" *ngIf="product.color">
                <p>Color:</p>
                <img class="color-card-img" *ngFor="let item of products" [attr.src]="'../images' + item.image1" alt="image2" (click)="changeProduct(item)"
                />
            </div>
            <form [formGroup]="productForm">
                <div class="form-group add-to-cart">
                    <input class="number" [formControl]="productForm.controls['qty']" type="number" [value]="product.qty" min="1" step="1" (change)="changeQty(qty.value)"
                        #qty />
                    <button class="buttonminus" (click)="decrement(product)">-</button>
                    <button (click)="increment(product)">+</button>
                    <div class="btn-action">
                        <button class="btn btn-primary btn-add-cart" (click)="showAddOrderDialog()" *ngIf="showAddToCart" type="submit"> Add To Cart</button>
                        <button class="btn btn-primary btn-add-wishlist" (click)="addToWishList()" type="submit"> Add To Wishlist</button>
                    </div>
                    <div class="alert-danger" *ngIf="productForm.controls['qty'].hasError('required') && productForm.controls['qty'].touched">Please enter your quatity.</div>
                    <div class="alert-danger" *ngIf="inValidQty">Must be greater than 0.</div>
                </div>
            </form>
            <p class="description">
                <span class="title">Description </span>
            </p>
            <div class="long-description" [innerHtml]="product.productLongDesc | safeHtml ">
            </div>
        </div>
    </div>
    <div class="row">
        <productRelated> </productRelated>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6">
            <p class="description">
                <span class="title">Specifications </span>
            </p>
            <div class="productSpec" [innerHtml]="product.productSpec | safeHtml">
            </div>
            <p class="pdf">
                <a *ngIf="product.productDocument1" href="..{{product.productDocument1}}" target="_blank">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download Manual</a>
                <a *ngIf="product.productDocument2" href="..{{product.productDocument2}}" target="_blank">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download Quick Start Guide</a>
            </p>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4">
            <div class="video embed-responsive embed-responsive-16by9" *ngIf="url">
                <iframe width="560" height="300" [src]="url" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row product-reviews">
        <ul id="navbar_menu" class="nav nav-tabs" role="tablist">
            <li [ngClass]="{'active':isReview}">
                <a role="tab" (click)="isReview = true">Reviews</a>
            </li>
            <li  [ngClass]="{'active':!isReview}">
                <a data-toggle="tab" role="tab" class="tab" (click)="isReview = false">Additional Information</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="review" class="tab-pane fade" [ngClass]="{'in active':isReview}">
                <div class="col-xs-12  col-sm-12  col-md-6 col-lg-6 review">
                    <products-review-list></products-review-list>
                </div>
                <div class="col-xs-12  col-sm-12  col-md-6 col-lg-6">
                    <products-review></products-review>
                </div>
            </div>
            <div id="information" class="tab-pane fade" [ngClass]="{'in active':!isReview}">
                <product-addition-info></product-addition-info>
            </div>
        </div>
    </div>

</div>
<div class="products-details-moblie hidden-lg hidden-md visible-sm-block visible-xs-block" *ngIf="product">
    <div class="sitemap">
        <a [routerLink]="'/home'">Home</a>
        <span>></span>
        <a (click)="productDepartmentLink()">
            {{product.departmentDesc}}
        </a>
        <span>></span>
        <a (click)="productClassLink()">{{product.classDesc}} </a>
        <span>></span>
        <a (click)="productSubClassLink()">
            {{product.subclassDesc}}
        </a>
    </div>
    <h2>
        <p>
            <strong>{{product.productDesc}}</strong>
        </p>
    </h2>
    <p>
        <span *ngIf="product.crossoffInd==='N'">${{ product.webPrice }}</span>
        <span class="price" *ngIf="product.crossoffInd==='Y'">${{ product.msrpPrice }}</span>
        <span class="promo-price" *ngIf="product.crossoffInd==='Y'">${{ product.webPrice }}</span>
    </p>
    <p>
        Or starting at $25 per month with
        <img class="affirm-logo" src="/images/blue_logo-solid_bg.jpg" />
        <a class="learn-more">Learn More</a>
    </p>
    <p>
        <input class="inStock" type="checkbox" checked="checked" />
        <span class="checkbox-inline"> {{product.availability}}</span>
        <input class="inStock" type="checkbox" checked="checked" />
        <span class="checkbox-inline"> Free Shipping</span>
    </p>
    <div class="avatar">
        <div class="ui card swipe-box" (mouseenter)="mouseEnter()" *ngFor="let avatar of avatars; let idx=index" (swipeleft)="swipe(idx, $event.type)"
            (swiperight)="swipe(idx, $event.type)" [class.visible]="avatar.visible" [class.hidden]="!avatar.visible">
            <div class="image">
                <img class="card-img-top" [src]="avatar.image" [attr.src]="'../images' + avatar.image" [alt]="avatar.name">
            </div>
        </div>
        <div class="content">
            <ol class="carousel-indicators carousel-indicators-numbers">
                <li *ngFor="let avatar of avatars; let idx=index" [class.active]="avatar.visible"></li>
            </ol>
        </div>
        <p class="additional-views" *ngIf="product.color">
            <img class="card-img" *ngFor="let item of products" [attr.src]="'../images' + item.image1" alt="image2" (click)="changeProductMobile(item)"
            />
        </p>
    </div>
    <form [formGroup]="productForm">
        <p class="qty">
            <label>QTY</label>
            <input type="number" [formControl]="productForm.controls['qty']" class="number" [value]="product.qty" min="1" step="1" (change)="changeQty(qtymobi.value)"
                #qtymobi />
            <button (click)="decrement(product)">-</button>
            <button (click)="increment(product)">+</button>
        </p>
        <div class="alert-danger" *ngIf="productForm.controls['qty'].hasError('required') && productForm.controls['qty'].touched">Please enter your quatity.</div>
        <div class="alert-danger" *ngIf="inValidQty">Must be greater than 0.</div>
        <p class="btn-action">
            <button class="btn btn-primary btn-add-cart" (click)="showAddOrderDialog()" *ngIf="showAddToCart"> Add To Cart</button>
        </p>
        <p class="btn-action">
            <button class="btn btn-primary btn-add-wishlist" (click)="addToWishList()"> Add To Wishlist</button>
        </p>
    </form>
    <p class="description">
        <span class="title">Description </span>
    </p>
    <div class="long-description" [innerHtml]="product.productLongDesc | safeHtml ">
    </div>
    <div class="row">
        <productRelatedMobi> </productRelatedMobi>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" (click)="getProductSpeCollapse()">
                    <span class="title" [ngClass]='productSpeCollapse' aria-hidden="true"></span>
                    <strong> Specifications</strong>
                </a>
            </div>
            <div id="productSpe" class="panel-collapse collapse" [ngStyle]="{'display':displayProductSpec}">
                <div class="panel-body">
                    <div [innerHtml]="product.productSpec | safeHtml"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" (click)="getProductReviewCollapse()">
                    <span class="title" [ngClass]='productReviewCollapse' aria-hidden="true"></span>
                    <strong>Reviews</strong>
                </a>
            </div>
            <div id="productReview" class="panel-collapse collapse" [ngStyle]="{'display':displayReview}">
                <div class="panel-body">
                    <products-review-list></products-review-list>
                </div>
                <div class="panel-body">
                    <products-review></products-review>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" (click)="getProductInfoCollapse()">
                    <span class="title" [ngClass]='productInfoCollapse' aria-hidden="true"></span>
                    <strong> Additional Information</strong>
                </a>
            </div>
            <div id="productInfo" class="panel-collapse collapse" [ngStyle]="{'display':displayProductInfo}">
                <div class="panel-body">
                    <product-addition-info></product-addition-info>
                </div>
            </div>
        </div>
    </div>
</div>