﻿@import './../../../styles/globals.scss';

.products-image-mobi {
    width: 100%;
    background: white;
    height: 100%;

    .modal-body {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .modal-header {
        margin: 0;
        padding: 0;
        border: none;
    }

    ul {
        display: inline-block;
    }

    ul > li {
        display: block;
    }

    .carousel-inner {
        overflow: unset;
    }

    .carousel-indicators {
        width: auto;
        position: inherit;
        left: 0;
        margin-left:0;
        top: 10px;
    }

    .carousel-indicators .active {
        background-color: $color-brand;
    }

    .carousel-indicators li {
        border: 1px solid $color-brand;
    }

    .close {
        font-size: 20px; //ladded
    }

    .additional-views {
        
        img {
            border: 2px solid #E1E1E1;
            border-radius: 5px;
        }
    }

    .card-img {
        width: 60px;
        height: 60px;
        padding: 5px;
    }

    .swipe-box {
        display: block;
        width: 100%;
        float: left;
        margin: 0;
        margin-top:-5px;
        transition: .5s ease .1s;
    }

    .ctn {
        max-width: 400px;
        margin: 0 auto;
    }

    .inner-ctn {
        margin: 20px;
    }

    .visible {
        display: block;
    }

    .hidden {
        display: none;
    }
    .card-img-top {
        width: 300px;
        height: 430px;
        text-align: center;
    }
}
