﻿@import './../../../styles/globals.scss';

:host {
    .products-review {
        font-size: 18px;
        width:100%;
        .col-xs-2,
        .col-sm-2,
        .col-md-2,
        .col-lg-2 {
            width: 14%;
            border-left: 2px solid $color-bright;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            line-height: 45px;
        }

        .col-xs-3,
        .col-sm-3,
        .col-md-3,
        .col-lg-3 {
            width: 30%;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            line-height: 45px;
        }


        .content-stars {
            border-top: 2px solid $color-brand;
        }

        .title {
            color: $color-brand;
            font-weight: 600;
            font-size: 25px;   
        }

        .title-name {
            color: $color-brand;
        }

        .productDesc {
            font-weight: 100;
            font-size: 20px;
        }

        .productSKU {
            font-weight: 600;
        }

        .stars {
            border: 2px solid $color-bright;

            .row {
                margin-left: 0;
                margin-right: 0;
            }

            .title-stars {
                color: $color-brand;
                font-weight: 600;
            }

            input[type=radio] {
                zoom: 1.5;
                margin-top: 12px;
            }
        }

        .review {
            height: 200px;
        }

        .btn-review {
            font-size: 20px;
            background-color: $color-brand;
            border: 1px solid $color-brand;
            box-shadow: inset 0px 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
            padding: 5px 40px;
        }

        .btn-review:hover, .btn-review:active {
            background: linear-gradient(#3d5505,#719f08);
            text-decoration: none;
        }
    }

    .mobile {
        .col-xs-2 {
            width: 13% !important;
        }

        .col-xs-3 {
            width: 35% !important;
        }
    }
}
