@import './../../../../../../../styles/globals.scss';

.category {
    margin-top: 20px;
    text-align: center;

    @media (min-width: 568px) and (max-width:991px) {
        .visible-sm-block {
            display: block !important;
        }
        .visible-xs-block{
            display:none!important;
        }
    }

    @media (min-width: 320px) and (max-width:567px){
        .visible-xs-block {
            display: block !important;
        }
         .visible-sm-block {
            display: none !important;
        }
    }

    .carousel-indicators {
        display: none;
    }

    .row {
        padding: 0;
        margin: 0;
    }

    .featured-categories {
        text-align: center;

        h3 {
            font-size: $font-size-60;

            @include breakpoint(xs) {
                font-size: $font-size-45;
            }

            margin-bottom: 35px;
        }
    }

    ul {
        display: inline-block;
        padding: 0 15px;

        @media (min-width:320px) {
            padding: 0;
        }
    }

    ul > li {
        display: table-cell;
        vertical-align: middle;
    }

    .title {
        line-height: 200%;
        text-align: center;
        margin-left: 20%;
    }

    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
        padding-left: 0;
        padding-right: 5px;
        margin-top: 20px;
    }

    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .col-item {
        border: 2px solid $color-bright;
        border-radius: 5px;
        background: $color-background-brighter;
        text-align: center;
        font-size: $font-size-20;
        height: 415px;

        @media (min-width:1024px) {
            height: 390px;
        }
    }

    .col-item:hover {
        cursor: pointer;
        transition: box-shadow 500ms;
        box-shadow: 0px 0px 15px 10px rgba(232,232,232,1);
    }

    .col-item .photo {
        margin-top: 20px;
    }

    .col-item .photo img {
        width: 230px;
        height: 230px; //250250  300
        @media (min-width:1024px) {
            height: 230px;
        }
    }

    .col-item .info {
        padding: 20px 0 20px 0;
        border-radius: 0 0 5px 5px;
        margin-top: 1px;
    }

    /*.col-item .info:hover {
        background-color: $color-brighter;
    }*/



    .btn-view-details {
        margin-bottom: 5%;

        .btn-view-products {
            background-color: $color-brand;
            border: 1px solid $color-brand;
            font-size: 20px;
            width: 200px;
            padding: 8.5px;
            height: 48px;
            box-shadow: inset 0px 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        }

        .btn-view-products:hover, .btn-view-products:active {
            background: linear-gradient(#3d5505,#719f08);
            /*background-color: #577a08;*/
            text-decoration: none;
        }
        /*.btn-view-products {
            background-color: $color-brand;
            border: 1px solid $color-brand;
            padding: 0.6vW 2vW;
            font-size: $font-size-20;
            height: 50px;
            width: 200px;
            font-size: $font-size-18;
        }*/
    }

    .carousel-control {
        position: inherit;
        color: $color-foreground-dark;
    }

    .carousel-control.prev { //minh bo vo
        margin-left: -10px;
        font-size: 40px;
    }

    .carousel-control.next {
        margin-left: 0%;
        font-size: 40px;
        /*@include breakpoint(xs) {
            margin-left: -10%;
        }*/
    }
}
