﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <style>
        .navbar-left {
            float: left !important;
        }

        .nav > li, .nav > li > a {
            position: relative;
            display: block;
            color: #333333;
            text-decoration: none;
            padding: 10px 2px;
            position: relative;
            display: block;
        }

            .nav > li > a:focus, .nav > li > a:hover {
                text-decoration: none;
                background-color: #eee;
                cursor: pointer;
            }

        @media (min-width: 768px) {
            .navbar-nav > li {
                float: left;
            }
        }

        .separator-vertical {
            border-left: 2px solid #719F0A;
            margin-top: 25px;
        }

        @media (min-width: 768px) {
            .navbar-collapse.collapse {
                display: block !important;
                height: auto !important;
                padding-bottom: 0;
                overflow: visible !important;
            }
        }

        @media (min-width: 768px) {
            .navbar-collapse {
                width: auto;
                border-top: 0;
                box-shadow: none;
            }
        }

        .navbar-collapse {
            padding: 0;
            margin: 0;
            overflow-x: visible;
            -webkit-overflow-scrolling: touch;
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 hsla(0,0%,100%,.1);
        }

        .menu {
            font-size: 22px;
            padding: 0;
            margin: 0;
        }

        .phones {
            list-style-type: none;
            margin-top: -6px;
    line-height: 32px;
        }

        .hearing-loss {
            list-style-type: none;
            color: #719F0A;
            font-size: 24px;
        }

        .phones-number {
            font-size: 14px;
            color: #000000;
        }

        .phones-title {
            color: #719F0A;
            font-size: 20px;
        }
    </style>

    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
        <tr>

            <td width="11%">
                <a class="navbar-brand">
                    <img alt="Brand" src="{{LogoUrl}}"   style="width:100%; height:54px;" />

                    <!--<img alt="Brand" src="LogoUrl" src="images/logo.png" style="height:50px;" />-->
                </a>
            </td>
            <td>
                <ul style="padding:0; margin:0;">
                    <li class="phones">
                        <span class="phones-title">
                            <strong>Voice</strong>
                        </span>
                        <span class="phones-number">800-825-6758</span>
                        <span class="phones-title">
                            <strong>VP </strong>
                        </span>
                        <span class="phones-number">(Deaf) 952-388-2152</span>
                    </li>
                    <li class="hearing-loss">
                        <span> <strong>Hearing Loss Experts</strong></span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <div class="collapse navbar-collapse">
                    <ul class="col nav navbar-nav navbar-left menu">
                        <li class="active"><a href="{{HomeUrl}}">Home</a></li>
                        <li class="separator-vertical" role="separator"></li>
                        <li><a href="/home">Alarms</a></li>
                        <li class="separator-vertical" role="separator"></li>
                        <li><a href="/home">Phones</a></li>
                        <li class="separator-vertical" role="separator"></li>
                        <li><a href="/home">Listening</a></li>
                        <li class="separator-vertical" role="separator"></li>
                        <li><a href="/home">Educational</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
    <div>
        <p><strong> {{CustLFullName}}</strong></p><br />
        <div>There was recently a request to change the password for your account.</div>
        <div>If you requested this password change, please reset your password here:</div>
        <div>
            <a style='color: #719F0A; cursor: pointer;' href='{{ResetPasswordUrl}}'><strong>Reset Password</strong> </a>
            <div>Please note: for your security, this link is only valid for 4 hours.</div>
            <div>If you did not make this request, you can ignore this message and your password will remain the same.</div>
            <div>Thank you again,</div>
            <div><strong>Harris Communications, Inc.</strong></div> <br />
            <hr />
            <p>Harris Communications, Inc. 15155 Technology DR Eden Prairie, MN 55344</p>
        </div>
    </div>
</body>
</html>
