﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Email</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style type="text/css">
        body {
            font-size: 1em;
            margin: 0;
            padding: 0;
            font-family: "Times New Roman", Times, serif;}
        @font-face {
            font-family: 'icomoon';
            src: url('fonts/icomoon.eot?9143wd');
            src: url('fonts/icomoon.eot?9143wd#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?9143wd') format('truetype'), url('fonts/icomoon.woff?9143wd') format('woff'), url('fonts/icomoon.svg?9143wd#icomoon') format('svg');
            font-weight: normal;
            font-style: normal;}
        [class^="icon-"], [class*=" icon-"] {
            /* use !important to prevent issues with browser extensions that change fonts */
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;}
        .icon-twitter:before {
            content: "\e900";}
        .icon-facebook2:before {
            content: "\ea91";}
        ul {list-style-type: none;}
        #header {
            position: relative;
            height: 120px;
            display: block;
            font-size: 20px;}
        .menu-content {
            display: flex;
            justify-content: center;}
            .menu-content span {
                color: #719f0a;
                font-weight: bold;}
        .nav {
            display: flex;
            justify-content: center;
            list-style-type: none !important;}
        .nav-item {
            float: left;
            list-style-type: none;
            position: static;
        }
            .nav-item a {
                color: #372a19;
                padding: 0 10px;}
            .nav-item:last-child {
                border-right: none;}
        #main {position: relative;}
        h1 {
            font-weight: bold;
            font-size: 19px;}
        .content {position: absolute;}
        table {
            width: 60%;
            margin-left: auto;
            margin-right: auto;}
            table tr th {
                background: #f5f5f5;}
        th, td {
            padding: 8px;
            text-align: left;}
        #footer {
            position: relative;
            background: #f5f5f5;
            padding-top: 17px;
            padding-left: 5px;}
            #footer a {
                font-size: 20px;
                color: gray;
                text-decoration: underline;}
        .icon {
            bottom: 72px;
            position: absolute;
            right: 300px;}
        ul {
            list-style-type: none !important;}
        body {
            padding-left: 20px;
            padding-right: 20px;}
        @media only screen and (max-width: 900px) {
            body {
                padding-left: 0;
                padding-right: 0;
            }
        }
    </style>
</head>
<body style="margin-left: auto; margin-right: auto;">
    <div id="header">
        <div class="menu-content">
            <p><span>Voice</span> 800-825-6758 <span>VP</span> (Deaf) 952-388-2152<br><span>Hearing Loss Experts</span></p>

        </div>
        <ul class="nav" style="list-style-type: none;">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="http://localhost:4000/allproducts" style="cursor: pointer;">Alarms</a></li>
            <li class="nav-item"><a href="#">Phones</a></li>
            <li class="nav-item"><a href="#">Listening</a></li>
            <li class="nav-item"><a href="#">Educational</a></li>
        </ul>
    </div>
    <br />
    <div id="main">
        <div class="content" style="text-align: center;">
            <h1>Hello!</h1>
            <p>Thank you for your order! Below is conformation of your order details.<br>Once your package ships you will receive an email with a link to track your order. If you have any questions <br>regarding your order, please contact us at <a href="#">info@harriscomm.com</a> or call us at(800) 825-6758 Monday - Friday,<br> 8am- 5:30pm Central Time, Saturdays 9-12pm Central Time.</p>
            <div class="divider"></div>
            <p style="color:#4a525b;font-size:20px; font-weight: bold">Order #{{OrderNumber}}</p>
            <p>Order Date: {{checkoutDate}}</p>
        </div>
        <div class="row" style="text-align: center;">
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <strong>Shipping Address</strong>
                            <p style="margin:0">{{shippingFullName}}</p>
                            <p style="margin:0">{{shippingAddress}} </p>
                            <p style="margin:0">{{shippingApt}}</p>
                            <p style="margin:0">
                                <span>{{shippingCity}}, </span>
                                <span>{{shippingState}}, </span>
                                <span>{{shippingZip}} </span>
                            </p>
                            <p style="margin:0">{{shippingCountry}} </p>
                            <p style="margin:0">T: ({{shippingPhone}}) </p>
                        </div><br />
                        <div class="form-group">
                            <strong>Shipping Method</strong>
                            <p style="margin:0">{{shippingType}}</p>
                        </div>
                    </td>
                    <td style="width: 25%;">
                        <div class="form-group">
                            <strong>Billing Address</strong>
                            <p style="margin:0">{{billingFullName}}</p>
                            <p style="margin:0">{{billingAddress}} </p>
                            <p style="margin:0">{{billingApt}} </p>
                            <p style="margin:0">
                                <span>{{billingCity}}, </span>
                                <span>{{billingState}}, </span>
                                <span>{{billingZip}} </span>
                            </p>
                            <p style="margin:0">{{billingCountry}} </p>
                            <p style="margin:0">T: ({{billingPhone}}) </p>
                        </div><br />
                        <div class="form-group">
                            <strong>Payment Method</strong>
                            <p style="margin:0">{{paymentType}}</p>               
                        </div>
                    </td>
                </tr>
            </table>
            <table style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th style="padding:5px;text-align:left;">Product Name</th>
                        <th style="padding:5px;text-align:center;" width="27%">SKU</th>
                        <th style="padding:5px;text-align:center;" width="13%">Price</th>
                        <th style="padding:5px;text-align:center;" width="7%">Qty</th>
                        <th style="padding:5px;text-align:center;" width="13%">Subtotal    </th>
                    </tr>
                </thead>
                <tbody>
                    {{productList}}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" style="text-align:right;">Shipping & Hanlding</td>
                        <td style="padding:5px; text-align:right;" width="7%" $>{{shipFee}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:right;">Tax</td>
                        <td style="padding:5px; text-align:right;" width="7%" $>{{tax}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:right;"><strong>Grand Total</strong></td>
                        <td style="padding:5px; text-align:right;" width="7%" $><strong>{{total}}</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="footer" style="width: 60%; margin-left: auto; margin-right: auto;">
            <span><b>Harris Communations</b> Products for hearing Loss</span><br />
            <span>
                15155 Technology Drive, Eden Prairie, MN 55344
            </span><br />
            <span><b>Phone:</b>800.825.6758</span><br />
            <span><b>VP:</b> 952.388.2152</span><br />
            <span><b style="color: black;">Email:</b><a href="#" style="color: #719f0a;">info@harriscomm.com</a></span><br />
            <span><b style="color: black;">Online:</b><a href="#" style="color:#719f0a;">www.harriscomm.com</a></span><br />
            <div class="icon">
                <a href="#"><span class="icon-twitter" style="font-size:36px"></span></a>
                <a href="#"><span class="icon-facebook2" style="font-size:36px"></span></a>
            </div>
        </div>
    </div>
</body>
</html>