﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <br />
    <div class="contents-send-contact-us">
        <p>
            Name: {{ClientName}} <br /> Email: {{ClientEmail}} <br /> Telephone: {{Telephone}} 
        </p>
        <br />        
        <p>
            Comments: {{Comments}}          
        </p>
        <br />
    </div>
</body>
</html>
