@import './../../../../../../../styles/globals.scss';

.my-account {
    ul {
        /*margin-left: 30px !important;*/
        list-style: none;
        @media(max-width:993px) {
            padding: 0;
        }
    }

    .title {
        border: none;
        font-size: 30px;
        /*margin-top: 20px;*/
        margin-bottom: 30px;
        border-bottom: 1px solid $color-brand;

        @media(max-width:993px) {
            margin-bottom: 10px;
            font-size: 38px;
        }
    }

    .accountInformation {
        font-size: 24px;
        color: $color-brand;
        font-weight: 600;

        @media(max-width:993px) {
            font-size: 22px;
        }
    }

    p {
        font-size: 18px;
        color: #333;
        margin-right: 10px;
    }

    input {
        width: 400px;

        @media(max-width:993px) {
            width: 100%;
        }
    }

    .actions {
        button {
            width: 400px;
            @media(max-width:993px) {
                width: 300px;
            }
        }
    }

    .userForm {
        font-size: 18px;
    }
}
