<div class="row">
    <div class="sale-messages hidden-sm hidden-xs visible-lg-block visible-md-block">
        <div class="sale-off">
            <div class="sale-off-info" style="margin-top:-15px;"></div>
        </div>
        <div>
            <!--<span class="first">LAST DAY!</span>-->
            <!--<span class="second">10% OFF Storewide!</span>
            <span class="third">FREE Ground Shipping & Returns</span>-->
        </div>
    </div>
</div>
<div class="about">
    <div class='mission'>
        <div class="row">
            <img src="./images/our-team.png" class="img-our-team" />
        </div>
        <div class="row content">
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                <img src="./images/greenarrowleft.gif" />
            </div>
            <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
                <div class="row text-center">
                    <h1><strong>Mission Statement</strong> </h1>
                </div>
                <div class="row info">
                    <p>
                        We are focused on bringing the best products and solutions for hearing loss together in one place, backed by friendly and knowledgeable customer service that you can trust. That means no commissions on sales and no bias towards certain brands. And because no two people have the same hearing loss, we believe that offering a large array of products is the only way to ensure that we've got the perfect solution for you. Our ultimate goal is to develop relationships that don't end at the sale. And since any good business is only as good as the foundation it stands on, we built our foundation upon integrity and ethics, and will never do business in any other way.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 text-right">
                <img src="./images/greenarrowright.gif" />
            </div>
        </div>
    </div>
    <div class="meet-our-team visible-xs-block">
        <h4 class="title title-bar"><span>Meet Our Team</span></h4>
        <div class="flex-row row">
            <div class="col-xs-12">
                <div class="card" (click)="show_card_info('bob-harris')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/bob-harris.jpg" alt="bob-harris" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Bob Harris</h5>
                        <span class="card-text">Founder</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex-row row">
            <div class="col-xs-12">
                <div class="card-info hide-class" id="bob-harris">
                    <p>I lost my hearing at age 8 months due to spinal meningitis. Growing up deaf in a hearing world, I personally experienced the many challenges that deaf and hard of hearing people face on a daily basis. I founded Harris Communications in 1982 to help other deaf and hard of hearing people overcome those challenges. Prior to founding the company, I received my doctoral degree in clinical psychology and worked for 15 years as a Clinical Psychologist working with deaf patients and their families in various settings. I spend a lot of my voluntary time as a board member on state and national organizations serving this special population.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('bob-harris')">Close</a>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-xs-12">
                <div class="card" (click)="show_card_info('ray-harris')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/ray-harris.jpg" alt="ray harris" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Ray Harris</h5>
                        <span class="card-text">President / CEO</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="ray-harris">
                    <p>I'm responsible for establishing the company's long term vision and making sure that every single thing we do here day in and day out is in support of that vision. Having grown up with 2 deaf parents, but being hearing myself, I've gone my entire life experiencing firsthand not only the challenges that people with hearing loss face, but also the beauty of Deaf culture and sign language and all that is to be celebrated along with it. During my free time, I enjoy training for and competing in triathlons and other endurance events, and have a passion for travel, having been to over 15 different countries with hopefully many more to come!</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('ray-harris')">Close</a>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-xs-12">
                <div class="card" (click)="show_card_info('jenny-skiba')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/jenny-skiba.jpg" alt="jenny skiba" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Jenny Skiba</h5>
                        <span class="card-text">Director of Operations</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="jenny-skiba">
                    <p>I enjoy my work because through good days and not so good days, every day is an adventure. One of my favorite Harris memories was surprising everyone with our first office happy hour. I went around as if I were a flight attendant with my cart of beverages in tow. The looks on some of the CSR's faces were priceless! In my free time I like to play volleyball, snowboard, travel and keep up on independent news.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('jenny-skiba')">Close</a>
                </div>
            </div>

        </div>
        <div class="flex-row row">
            <div class="col-xs-12">
                <div class="card" (click)="show_card_info('krista-nevelle')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/krista-nevelle.jpg" alt="krista nevelles">
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Krista Nevelle</h5>
                        <span class="card-text">National Sales Manager </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="krista-nevelle">
                    <p>The thing that excites me the most about working for Harris Communications is knowing that we are able to help enhance the lives of those with hearing loss. In my free time I like to spend time with my two adult children, travel and ride horses. My greatest accomplishment is being the mother to my two wonderful children. My most recent favorite memory was going to Mexico with my kids.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('krista-nevelle')">Close</a>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-xs-12">
                <div class="card" (click)="show_card_info('dave-motes')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/dave-motes.jpg" alt="dave motes" />
                    </div>

                    <div class="card-block">
                        <h5 class="card-title">Dave Motes</h5>
                        <span class="card-text">Purchasing Manager</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="dave-motes">
                    <p>I have been with Harris Communications since 1998 and enjoy that we get to change people's lives for the better. I am in charge of deciding what products to bring in, our goal is to help you with solutions that work and are easy-to-use. I also represent Harris at tradeshows, that direct interaction with customers helps me quite a bit in developing our product line up. I know American Sign Language, in fact, I first meet Bob Harris, the owner of Harris Communications, at a presentation he gave. Because I knew American Sign language, that allowed me to communicate directly with him and I found myself working for him a month later! And the story is still continuing from there.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('dave-motes')">Close</a>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-xs-12">
                <div class="card" (click)="show_card_info('tricia-meger')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/tricia-meger.jpg" alt="tricia meger">
                    </div>

                    <div class="card-block">
                        <h5 class="card-title">Tricia Meger</h5>
                        <span class="card-text">Office Manager</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="tricia-meger">
                    <p>I am the Office Manager at Harris Communications. I have worked at Harris since 1992! My responsibilities include Accounts Payable, Payroll, HR, Financial Statements and organizing company events. When I am not working I like to be outdoors, some activities I enjoy are hiking, biking, golfing, fishing, and kayaking. I also enjoy spending time with my husband, our two miniature dachshunds, family and friends.</p>

                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('tricia-meger')">Close</a>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-xs-12">
                <div class="card" (click)="show_card_info('jill-nelson')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/jill-nelson.jpg" alt="jill nelson">
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Jill Nelson</h5>
                        <span class="card-text">Returns Manager</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="jill-nelson">
                    <p>I have worked for Harris since 2005 in our Returns Dept processing credits/exchanges. I enjoy home projects/redecorating ... and believe it or not, I like to do laundry! I am fluent in basic sign language and enjoy being able to practice that each day. I'm married and have 2 children.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('jill-nelson')">Close</a>
                </div>

            </div>
        </div>
        <div class="flex-row row">
            <div class="col-xs-12">
                <div class="card" (click)="show_card_info('don-asp')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/don-asp.jpg" alt="don asp" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Don Asp</h5>
                        <span class="card-text">Warehouse Manager</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="jill-nelson">
                    <p>I have worked for Harris since 2005 in our Returns Dept processing credits/exchanges. I enjoy home projects/redecorating ... and believe it or not, I like to do laundry! I am fluent in basic sign language and enjoy being able to practice that each day. I'm married and have 2 children.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('jill-nelson')">Close</a>
                </div>
                <div class="card-info hide-class" id="don-asp">
                    <p>I'm in charge of managing the warehouse and getting orders out quickly, in fact we ship most the same day. We have a relatively small warehouse department and I take great pride in the work my staff does. In my free time I like to go fishing and cook on my Big Green Egg. I make really good pizza on it and fall off the bone ribs not to mention turkey, chicken and the holiday lasagna.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('don-asp')">Close</a>
                </div>

            </div>
        </div>
        <div class="flex-row row">
            <div class="col-xs-12">
                <div class="card" (click)="show_card_info('linda-hua')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/jill-nelson.jpg" alt="jill nelson">
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Linda Hua</h5>
                        <span class="card-text">Infomartion Technology Manager</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="linda-hua">
                    <p>I am the Infomartion Technology Manager at Harris Communications. I have worked at Harris since 1992! My responsibilities include Accounts Payable, Payroll, HR, Financial Statements and organizing company events. When I am not working I like to be outdoors, some activities I enjoy are hiking, biking, golfing, fishing, and kayaking. I also enjoy spending time with my husband, our two miniature dachshunds, family and friends.</p>

                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('linda-hua')">Close</a>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-xs-12">
                <div class="card" (click)="show_card_info('nancy-lauseng')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/krista-nevelle.jpg" alt="bob-harris" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Nancy Lauseng</h5>
                        <span class="card-text">Marketing Manager</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="nancy-lauseng">
                    <p>I have worked for Harris since 2005 in our Returns Dept processing credits/exchanges. I enjoy home projects/redecoratin ... and believe it or not, I like to do laundry! I am fluent in basic sign language and enjoy being able to practice that each day. I'm married and have 2 children.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('nancy-lauseng')">Close</a>
                </div>
            </div>
        </div>
    </div>
    <div class="meet-our-team visible-sm-block">
        <h4 class="title title-bar"><span>Meet Our Team</span></h4>
        <div class="flex-row row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="card" (click)="show_card_info('bob-harris-sm')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/bob-harris.jpg" alt="bob-harris" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Bob Harris</h5>
                        <span class="card-text">Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="card" (click)="show_card_info('ray-harris-sm')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/ray-harris.jpg" alt="ray harris" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Ray Harris</h5>
                        <span class="card-text">President / CEO</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="bob-harris-sm">
                    <p>I lost my hearing at age 8 months due to spinal meningitis. Growing up deaf in a hearing world, I personally experienced the many challenges that deaf and hard of hearing people face on a daily basis. I founded Harris Communications in 1982 to help other deaf and hard of hearing people overcome those challenges. Prior to founding the company, I received my doctoral degree in clinical psychology and worked for 15 years as a Clinical Psychologist working with deaf patients and their families in various settings. I spend a lot of my voluntary time as a board member on state and national organizations serving this special population.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('bob-harris-sm')">Close</a>
                </div>
                <div class="card-info hide-class" id="ray-harris-sm">
                    <p>I'm responsible for establishing the company's long term vision and making sure that every single thing we do here day in and day out is in support of that vision. Having grown up with 2 deaf parents, but being hearing myself, I've gone my entire life experiencing firsthand not only the challenges that people with hearing loss face, but also the beauty of Deaf culture and sign language and all that is to be celebrated along with it. During my free time, I enjoy training for and competing in triathlons and other endurance events, and have a passion for travel, having been to over 15 different countries with hopefully many more to come!</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('ray-harris-sm')">Close</a>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="card" (click)="show_card_info('jenny-skiba-sm')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/jenny-skiba.jpg" alt="jenny skiba" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Jenny Skiba</h5>
                        <span class="card-text">Director of Operations</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="card" (click)="show_card_info('krista-nevelle-sm')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/krista-nevelle.jpg" alt="krista nevelles">
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Krista Nevelle</h5>
                        <span class="card-text">National Sales Manager </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="jenny-skiba-sm">
                    <p>I enjoy my work because through good days and not so good days, every day is an adventure. One of my favorite Harris memories was surprising everyone with our first office happy hour. I went around as if I were a flight attendant with my cart of beverages in tow. The looks on some of the CSR's faces were priceless! In my free time I like to play volleyball, snowboard, travel and keep up on independent news.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('jenny-skiba-sm')">Close</a>
                </div>
                <div class="card-info hide-class" id="krista-nevelle-sm">
                    <p>The thing that excites me the most about working for Harris Communications is knowing that we are able to help enhance the lives of those with hearing loss. In my free time I like to spend time with my two adult children, travel and ride horses. My greatest accomplishment is being the mother to my two wonderful children. My most recent favorite memory was going to Mexico with my kids.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('krista-nevelle-sm')">Close</a>
                </div>
            </div>

        </div>
        <div class="flex-row row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="card" (click)="show_card_info('dave-motes-sm')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/dave-motes.jpg" alt="dave motes" />
                    </div>

                    <div class="card-block">
                        <h5 class="card-title">Dave Motes</h5>
                        <span class="card-text">Purchasing Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="card" (click)="show_card_info('tricia-meger-sm')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/tricia-meger.jpg" alt="tricia meger">
                    </div>

                    <div class="card-block">
                        <h5 class="card-title">Tricia Meger</h5>
                        <span class="card-text">Office Manager</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="dave-motes-sm">
                    <p>I have been with Harris Communications since 1998 and enjoy that we get to change people's lives for the better. I am in charge of deciding what products to bring in, our goal is to help you with solutions that work and are easy-to-use. I also represent Harris at tradeshows, that direct interaction with customers helps me quite a bit in developing our product line up. I know American Sign Language, in fact, I first meet Bob Harris, the owner of Harris Communications, at a presentation he gave. Because I knew American Sign language, that allowed me to communicate directly with him and I found myself working for him a month later! And the story is still continuing from there.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('dave-motes-sm')">Close</a>
                </div>
                <div class="card-info hide-class" id="tricia-meger-sm">
                    <p>I am the Office Manager at Harris Communications. I have worked at Harris since 1992! My responsibilities include Accounts Payable, Payroll, HR, Financial Statements and organizing company events. When I am not working I like to be outdoors, some activities I enjoy are hiking, biking, golfing, fishing, and kayaking. I also enjoy spending time with my husband, our two miniature dachshunds, family and friends.</p>

                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('tricia-meger-sm')">Close</a>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="card" (click)="show_card_info('jill-nelson-sm')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/jill-nelson.jpg" alt="jill nelson">
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Jill Nelson</h5>
                        <span class="card-text">Returns Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="card" (click)="show_card_info('don-asp-sm')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/don-asp.jpg" alt="don asp" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Don Asp</h5>
                        <span class="card-text">Warehouse Manager</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="jill-nelson-sm">
                    <p>I have worked for Harris since 2005 in our Returns Dept processing credits/exchanges. I enjoy home projects/redecorating ... and believe it or not, I like to do laundry! I am fluent in basic sign language and enjoy being able to practice that each day. I'm married and have 2 children.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('jill-nelson-sm')">Close</a>
                </div>
                <div class="card-info hide-class" id="don-asp-sm">
                    <p>I'm in charge of managing the warehouse and getting orders out quickly, in fact we ship most the same day. We have a relatively small warehouse department and I take great pride in the work my staff does. In my free time I like to go fishing and cook on my Big Green Egg. I make really good pizza on it and fall off the bone ribs not to mention turkey, chicken and the holiday lasagna.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('don-asp-sm')">Close</a>
                </div>

            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="card" (click)="show_card_info('linda-hua-sm')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/jill-nelson.jpg" alt="jill nelson">
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Linda Hua</h5>
                        <span class="card-text">Infomartion Technology Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="card" (click)="show_card_info('nancy-lauseng-sm')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/krista-nevelle.jpg" alt="bob-harris" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Nancy Lauseng</h5>
                        <span class="card-text">Marketing Manager</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="linda-hua-sm">
                    <p>I am the Infomartion Technology Manager at Harris Communications. I have worked at Harris since 1992! My responsibilities include Accounts Payable, Payroll, HR, Financial Statements and organizing company events. When I am not working I like to be outdoors, some activities I enjoy are hiking, biking, golfing, fishing, and kayaking. I also enjoy spending time with my husband, our two miniature dachshunds, family and friends.</p>

                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('linda-hua-sm')">Close</a>
                </div>
                <div class="card-info hide-class" id="nancy-lauseng-sm">
                    <p>I have worked for Harris since 2005 in our Returns Dept processing credits/exchanges. I enjoy home projects/redecoratin ... and believe it or not, I like to do laundry! I am fluent in basic sign language and enjoy being able to practice that each day. I'm married and have 2 children.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('nancy-lauseng-sm')">Close</a>
                </div>
            </div>
        </div>
    </div>
    <div class="meet-our-team visible-lg-block visible-md-block">
        <h4 class="title title-bar"><span>Meet Our Team</span></h4>
        <div class="flex-row row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" (click)="show_card_info('bob-harris-lg')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/bob-harris.jpg" alt="bob-harris" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Bob Harris</h5>
                        <span class="card-text">Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" (click)="show_card_info('ray-harris-lg')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/ray-harris.jpg" alt="ray harris" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Ray Harris</h5>
                        <span class="card-text">President / CEO</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" (click)="show_card_info('jenny-skiba-lg')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/jenny-skiba.jpg" alt="jenny skiba" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Jenny Skiba</h5>
                        <span class="card-text">Director of Operations</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="bob-harris-lg">
                    <p>I lost my hearing at age 8 months due to spinal meningitis. Growing up deaf in a hearing world, I personally experienced the many challenges that deaf and hard of hearing people face on a daily basis. I founded Harris Communications in 1982 to help other deaf and hard of hearing people overcome those challenges. Prior to founding the company, I received my doctoral degree in clinical psychology and worked for 15 years as a Clinical Psychologist working with deaf patients and their families in various settings. I spend a lot of my voluntary time as a board member on state and national organizations serving this special population.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('bob-harris-lg')">Close</a>
                </div>
                <div class="card-info hide-class" id="ray-harris-lg">
                    <p>I'm responsible for establishing the company's long term vision and making sure that every single thing we do here day in and day out is in support of that vision. Having grown up with 2 deaf parents, but being hearing myself, I've gone my entire life experiencing firsthand not only the challenges that people with hearing loss face, but also the beauty of Deaf culture and sign language and all that is to be celebrated along with it. During my free time, I enjoy training for and competing in triathlons and other endurance events, and have a passion for travel, having been to over 15 different countries with hopefully many more to come!</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('ray-harris-lg')">Close</a>
                </div>
                <div class="card-info hide-class" id="jenny-skiba-lg">
                    <p>I enjoy my work because through good days and not so good days, every day is an adventure. One of my favorite Harris memories was surprising everyone with our first office happy hour. I went around as if I were a flight attendant with my cart of beverages in tow. The looks on some of the CSR's faces were priceless! In my free time I like to play volleyball, snowboard, travel and keep up on independent news.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('jenny-skiba-lg')">Close</a>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" (click)="show_card_info('krista-nevelle-lg')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/krista-nevelle.jpg" alt="krista nevelles">
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Krista Nevelle</h5>
                        <span class="card-text">National Sales Manager </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" (click)="show_card_info('dave-motes-lg')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/dave-motes.jpg" alt="dave motes" />
                    </div>

                    <div class="card-block">
                        <h5 class="card-title">Dave Motes</h5>
                        <span class="card-text">Purchasing Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" (click)="show_card_info('tricia-meger-lg')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/tricia-meger.jpg" alt="tricia meger">
                    </div>

                    <div class="card-block">
                        <h5 class="card-title">Tricia Meger</h5>
                        <span class="card-text">Office Manager</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="krista-nevelle-lg">
                    <p>The thing that excites me the most about working for Harris Communications is knowing that we are able to help enhance the lives of those with hearing loss. In my free time I like to spend time with my two adult children, travel and ride horses. My greatest accomplishment is being the mother to my two wonderful children. My most recent favorite memory was going to Mexico with my kids.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('krista-nevelle-lg')">Close</a>
                </div>
                <div class="card-info hide-class" id="dave-motes-lg">
                    <p>I have been with Harris Communications since 1998 and enjoy that we get to change people's lives for the better. I am in charge of deciding what products to bring in, our goal is to help you with solutions that work and are easy-to-use. I also represent Harris at tradeshows, that direct interaction with customers helps me quite a bit in developing our product line up. I know American Sign Language, in fact, I first meet Bob Harris, the owner of Harris Communications, at a presentation he gave. Because I knew American Sign language, that allowed me to communicate directly with him and I found myself working for him a month later! And the story is still continuing from there.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('dave-motes-lg')">Close</a>
                </div>
                <div class="card-info hide-class" id="tricia-meger-lg">
                    <p>I am the Office Manager at Harris Communications. I have worked at Harris since 1992! My responsibilities include Accounts Payable, Payroll, HR, Financial Statements and organizing company events. When I am not working I like to be outdoors, some activities I enjoy are hiking, biking, golfing, fishing, and kayaking. I also enjoy spending time with my husband, our two miniature dachshunds, family and friends.</p>

                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('tricia-meger-lg')">Close</a>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" (click)="show_card_info('jill-nelson-lg')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/jill-nelson.jpg" alt="jill nelson">
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Jill Nelson</h5>
                        <span class="card-text">Returns Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" (click)="show_card_info('don-asp-lg')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/don-asp.jpg" alt="don asp" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Don Asp</h5>
                        <span class="card-text">Warehouse Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" (click)="show_card_info('linda-hua-lg')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/jill-nelson.jpg" alt="jill nelson">
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Linda Hua</h5>
                        <span class="card-text">Infomartion Technology Manager</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="jill-nelson-lg">
                    <p>I have worked for Harris since 2005 in our Returns Dept processing credits/exchanges. I enjoy home projects/redecorating ... and believe it or not, I like to do laundry! I am fluent in basic sign language and enjoy being able to practice that each day. I'm married and have 2 children.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('jill-nelson-lg')">Close</a>
                </div>
                <div class="card-info hide-class" id="don-asp-lg">
                    <p>I'm in charge of managing the warehouse and getting orders out quickly, in fact we ship most the same day. We have a relatively small warehouse department and I take great pride in the work my staff does. In my free time I like to go fishing and cook on my Big Green Egg. I make really good pizza on it and fall off the bone ribs not to mention turkey, chicken and the holiday lasagna.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('don-asp-lg')">Close</a>
                </div>
                <div class="card-info hide-class" id="linda-hua-lg">
                    <p>I am the Infomartion Technology Manager at Harris Communications. I have worked at Harris since 1992! My responsibilities include Accounts Payable, Payroll, HR, Financial Statements and organizing company events. When I am not working I like to be outdoors, some activities I enjoy are hiking, biking, golfing, fishing, and kayaking. I also enjoy spending time with my husband, our two miniature dachshunds, family and friends.</p>

                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('linda-hua-lg')">Close</a>
                </div>
            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" (click)="show_card_info('nancy-lauseng-lg')">
                    <div class="img-box">
                        <img class="card-img-top" src="./images/krista-nevelle.jpg" alt="bob-harris" />
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">Nancy Lauseng</h5>
                        <span class="card-text">Marketing Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

            </div>
        </div>
        <div class="flex-row row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-info hide-class" id="nancy-lauseng-lg">
                    <p>I have worked for Harris since 2005 in our Returns Dept processing credits/exchanges. I enjoy home projects/redecoratin ... and believe it or not, I like to do laundry! I am fluent in basic sign language and enjoy being able to practice that each day. I'm married and have 2 children.</p>
                    <a class="info-close" href="javascript:void(0)" (click)="close_card_info('nancy-lauseng-lg')">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
