﻿<!-- <div class="row">
    <offsale></offsale>
</div> -->
<div class="checkout-order">
    <div class="row">
        <div class="col-lg-12 checkOut">
            Checkout
        </div>
        <div class="col-lg-12 visa visible-lg visible-md  hidden-sm hidden-xs">
            <p>
                <i class="fa fa-lock" aria-hidden="true"></i>
                <span>Shop with confidence:</span>
                <span class="easy">Easy free returns and free ground shipping</span><br />
            </p>
            <p>
                We Accept:
                <img src="../images/card_badges.png" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="progress">
            <div class="secureCheckout visible-lg visible-md  hidden-sm hidden-xs">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <span>Secure Checkout</span>
            </div>
            <span [ngClass]="billingProgress"></span>
            <div [ngClass]="billingCircleProgress">
                <span class="label">1</span>
                <span class="title">Billing</span>
            </div>
            <span [ngClass]="shippingProgress"></span>
            <div [ngClass]="shippingCircleProgress">
                <span class="label">2</span>
                <span class="title">Shipping</span>
            </div>
            <span class="bar half" [ngClass]="placeOrderProgress"></span>
            <div class="circle active" [ngClass]="placeOrderCircleProgress">
                <span class="label">3</span>
                <span class="title">PlaceOrder</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 order-shipping">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" [ngClass]="billingOrderPanel">
                            <span>1</span>
                            <a data-toggle="collapse" href="#billing" data-parent="#accordion">Billing</a>
                            <label for="" class="required pull-right hidden-xs visible-lg visible-md visible-sm" *ngIf="!editBilling"> * Required Fields</label>
                        </h4>
                        <label for="" class="editBilling pull-right" (click)="editBillingOrderPanel()" *ngIf="editBilling"> Edit</label>
                    </div>
                    <div id="billing" [ngClass]="billing">
                        <div class="panel-body">
                            <billing-order [billingAddress]="billingAddress"
                                           (billingOrderFinished)="billingOrderFinished($event)"></billing-order>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" [ngClass]="shippingOrderPanel">
                            <span>2</span>
                            <a data-toggle="collapse" href="#shipping" data-parent="#accordion">Shipping</a>
                            <label for="" class="required pull-right hidden-xs visible-lg visible-md visible-sm" *ngIf="!editShipping"> * Required Fields</label>
                        </h4>
                        <label for="" class="editBilling pull-right"
                               (click)="editShippingOrderPanel()" *ngIf="editShipping">Edit</label>
                    </div>
                    <div id="shipping" [ngClass]="shipping">
                        <div class="panel-body">
                            <shipping-order [totals]="totals"
                                            [paymentType]="paymentType"
                                            [billingAddress]="billingAddress"
                                            [shippingAddress]="shippingAddress"
                                            (shippingOrderFormFinished)="shippingOrderFormFinished($event)"
                                            (changeFeesFinished)="changeFeesFinished($event)"></shipping-order>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" [ngClass]="placeOrderPanel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span>3</span>
                            <a data-toggle="collapse" href="#placeOrder" data-parent="#accordion">Place Order</a>
                            <label for="" class="required pull-right hidden-xs visible-lg visible-md visible-sm"> * Required Fields</label>
                        </h4>
                    </div>
                    <div id="placeOrder" [ngClass]="placeOrder">
                        <div class="row panel-body hidden-lg hidden-md visible-sm visible-xs  mobi-product-list" style="padding-left:0;padding-right:0; padding-bottom:20px;">
                            <div class="col-sm-12 col-xs-12" id="mobi-productList">
                                <div class="row contents" *ngFor="let product of products">
                                    <div class="col-sm-5 col-xs-5">
                                        <p *ngIf="shipCountry == 'CA' && (!product.shipToCa || product.shipToCa =='N')">
                                            <span class="alert-danger">
                                                We cannot ship this item out Canada
                                            </span>
                                        </p>
                                        <p *ngIf="product.required || product.validQty">
                                            <span class="alert-danger" *ngIf="product.required">Please enter your quatity.</span>
                                            <span class="alert-danger" *ngIf="product.validQty">Must be greater than 0.</span>
                                        </p>
                                        <img *ngIf="product.image1" class="img-product" [attr.src]="'../images' + product.image1" alt="image" />

                                    </div>
                                    <div class="col-sm-7 col-xs-7">
                                        <p>
                                            <span class="webPrice number" *ngIf="!promoCode || product.cartPrice == '-1.00'">{{product.webPrice | currency:'USD':true:'1.2-2'}}</span>
                                            <span class="webPrice number" *ngIf="promoCode && product.cartPrice != '-1.00'">{{product.cartPrice | currency:'USD':true:'1.2-2'}}</span>
                                        </p>
                                        <p>
                                            <span class="productDesc">{{product.productDesc}}</span>
                                            <button type="button" class="close" data-dismiss="modal" (click)="removeProduct(product)"><span aria-hidden="true">×</span><span class="sr-only">Delete</span></button>
                                        </p>
                                        <p>
                                            <label>Qty </label>
                                            <input type="number" class="number" [value]="product.qty" min="1" (change)="changeQtyMobi(product, qty.value);" #qty />
                                        </p>
                                    </div>
                                </div>
                                <div class="row bottom">
                                    <div class="col-sm-10 col-xs-9" style="padding-left:0;padding-right:0px;">
                                        <div class="title">
                                            <p>
                                                SubTotal
                                            </p>
                                            <p>
                                                Shipping & Ground Shipping
                                            </p>
                                            <p>
                                                Tax
                                            </p>
                                            <p class="grandTotal">
                                                Grand Total
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3 number" style="padding-left:8px;padding-right:0px;">
                                        <p>
                                            {{ sub_totals |  currency:'USD':true:'1.2-2'}}
                                        </p>
                                        <p>
                                            {{ shipFee |  currency:'USD':true:'1.2-2'}}
                                        </p>
                                        <p>
                                            {{ tax*sub_totals |  currency:'USD':true:'1.2-2'}}
                                        </p>
                                        <p class="grandTotal">
                                            {{ totals |  currency:'USD':true:'1.2-2'}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <place-order [isExistEmail]="isExistEmail"
                                         [email]="email"
                                         [comments]="comments"
                                         [taxResponse]="taxResponse"
                                         [shipProvider]="shipProvider"
                                         [shipFee]="shipFee"
                                         [creditCard]="creditCard"
                                         [billingAddress]="billingAddress"
                                         [shippingAddress]="shippingAddress"
                                         [showPass]="showPass"
                                         [paymentType]="paymentType">

                            </place-order>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-6 hidden-sm hidden-xs visible-lg visible-md  product-list" id="productList">
            <div class="row header">
                <div class="col-lg-2 col-md-2">
                </div>
                <div class="col-lg-3 col-md-3">
                </div>
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-1 col-md-1">
                    Price
                </div>
                <div class="col-lg-1 col-md-1">         
                </div>
                <div class="col-lg-1 col-md-1">
                    Qty
                </div>
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-1 col-md-1">
                    Total
                </div>
            </div>
            <div class="row contents" *ngFor="let product of products">
                <p *ngIf="product.required">
                    <span class="alert-danger">Please enter your quatity.</span>
                </p>
                <p *ngIf="product.validQty">
                    <span class="alert-danger" *ngIf="product.validQty">Must be greater than 0.</span>
                </p>
                <div class="col-lg-2 col-md-2">
                    <img *ngIf="product.imageMain" class="img-product" [attr.src]="'../images' + product.imageMain" alt="image" />
                </div>
                <div class="col-lg-3 col-md-3">
                    <p *ngIf="shipCountry == 'CA' && (!product.shipToCa || product.shipToCa =='N')">
                        <span class="alert-danger">
                            We cannot ship this item out Canada
                        </span>
                    </p>                    
                    <p>
                        <span class="productDesc">{{product.productDesc}}</span>
                    </p>
                    <p>
                        <span class="productSKU"> {{product.productSKU}} </span>
                    </p>
                </div>
                <div class="col-lg-1 col-md-1">
                    <button type="button" class="close" data-dismiss="modal" (click)="removeProduct(product)"><span aria-hidden="true">×</span><span class="sr-only">Delete</span></button>
                </div>
                <div class="col-lg-1 col-md-1">
                    <p>
                        <span class="webPrice number" *ngIf="!promoCode || product.cartPrice == '-1.00'">{{product.webPrice | currency:'USD':true:'1.2-2'}}</span>
                        <span class="webPrice number" *ngIf="promoCode && product.cartPrice != '-1.00'">{{product.cartPrice | currency:'USD':true:'1.2-2'}}</span>

                    </p>
                </div>
                <div class="col-lg-1 col-md-1">
                    <p>
                    </p>
                </div>
                <div class="col-lg-1 col-md-1">
                    <p>
                        <input type="number" class="number" [value]="product.qty" min="1" (change)="changeQty(product, qty.value);" #qty />
                    </p>
                </div>
                <div class="col-lg-1 col-md-1">   
                </div>
                <div class="col-lg-1 col-md-1 number">
                    <p>
                        <span class="webPrice number" *ngIf="!promoCode || product.cartPrice == '-1.00'">{{product.webPrice*product.qty | currency:'USD':true:'1.2-2'}}</span>
                        <span class="webPrice number" *ngIf="promoCode  && product.cartPrice != '-1.00'">{{product.cartPrice*product.qty | currency:'USD':true:'1.2-2'}}</span>
                    </p>
                </div>
            </div>
            <div class="row bottom">
                <div class="col-lg-10 col-md-10">
                    <div class="title">
                        <p>
                            SubTotal
                        </p>
                        <p>
                            Shipping & Ground Shipping
                        </p>
                        <p>
                            Tax
                        </p>
                        <p class="grandTotal">
                            Grand Total
                        </p>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 number" style="padding:0;">
                    <p>
                        {{ sub_totals |  currency:'USD':true:'1.2-2'}}
                    </p>
                    <p>
                        {{ shipFee |  currency:'USD':true:'1.2-2'}}
                    </p>
                    <p>
                        {{ tax*sub_totals |  currency:'USD':true:'1.2-2'}}
                    </p>
                    <p class="grandTotal">
                        {{ totals |  currency:'USD':true:'1.2-2'}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
