﻿@import './../../../styles/globals.scss';

.checkout-order {
    margin-top: 10px;
    font-size: 25px;

    .disable {
        pointer-events: none;
        opacity: 0.5;
    }

    .editBilling {
        margin-top: -25px;
        font-size:22px;
        color: $color-brand;
    }

    .checkOut {
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        margin-top:15px;
    }

    // .order-shipping {
    // }

    .visa {
        text-align: center;
        img {
            height: 35px;
            width: 200px;
        }

       .easy {
                font-weight: 600;
                color:$color-brand;
            }
    }

     input[type=checkbox] {
                zoom: 1.5;
            }
    .progress {
        float: left;
        width: 100%;
        text-align: center;
        overflow: unset;
        background-color: transparent;
        box-shadow: none;
        height:25px;
        margin-bottom:10px;
        display:inline-table;

        .secureCheckout {
            // float: left;
            margin-top: 6px;
            display: inline-block;
            margin-left: 20px;
        }

        .circle,
        .bar {
            display: inline-block;
            background: #fff;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            border: 1px solid #d5d5da;
        }

        .bar {
            position: relative;
            width: 18%;
            height: 6px;
            top: -33px;
            margin-left: -5px;
            margin-right: -5px;
            border-left: none;
            border-right: none;
            border-radius: 0;
        }

        .bar.first {
            width: 24%;
        }

        .circle {
            .label {
                display: inline-block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                border-radius: 32px;
                margin-top: 3px;
                color: #b5b5ba;
                font-size: 17px;
            }

            .title {
                color: #b5b5ba;
                font-size: 13px;
                line-height: 30px;
                margin-left: -5px;
            }
        }

        .circle.done {
            background: #eee;
        }

        .bar.done {
            background-color: gray;
        }

        .bar.active {
            background: linear-gradient(to right, #EEE 40%, #FFF 60%);
        }

        // .circle.active .title {
        // }

        .circle.done {
            .label {
                color: #FFF;
                background: #8bc435;
                box-shadow: inset 0 0 2px rgba(0,0,0,.2);
            }

            .title {
                color: black;
                font-weight: 600;
            }
        }
    }

    .mobi-product-list {
        top: 0;

        .header, .productDesc, .grandTotal {
            font-weight: 600;
        }

        .bottom {
            margin-right:0;
            .title {
                float: right;
                text-align: end;
            }
        }

        .img-product {
            width: 150px;
        }

        p {
            margin: 0 0 5px;
            font-size: 20px;

            .productSKU, .qty {
                color: gray;
            }

            .number {
               width: 40px;
                text-align: center;
                line-height: 10px;
            }
            input.number{                
                border: 1px solid;
            }
        }

        .close {
            margin-left: 10px;
            font-size: 30px;
            opacity: 1;
            color:red;
        }
    }
    .row   .product-list {top:400px;
        }
     .product-list {
        display: inline-block;
        position: fixed;
        left: 50%;
        top: 340px;        
        overflow-y: auto;
        background-color:white;
        height:500px;
        z-index:100;
        font-size:22px;
        .header {
            font-weight: 600;
            font-size:22px;
        }
        .productDesc, .productSKU, .number, .grandTotal {
            font-weight: 600;
            font-size:20px;
            }
        .number {
            text-align: end;
            font-size:20px;
        }

        .contents {
            margin-top: 20px;
            margin-bottom: 10px;

            .col-lg-2, .col-lg-1, .col-lg-5, .col-lg-4,
            .col-md-2, .col-md-1, .col-md-5, .col-md-4 {
                padding-left: 2px;
                padding-right: 2px;
            }
        }

        .bottom {
            .title {
                float: right;
                text-align: end;
                margin-right: 20px;
            }
        }

        .img-product {
            width: 100%;
        }

        p {
            margin: 0;
            font-size: 20px;

            .productSKU, .qty {
                color: #636363;
            }

            .number {
                width: 70px;
                text-align: center;
                line-height:10px;
            }
        }

        .close {
            float: left !important;
            margin-left: 10px;
            font-size: 30px;
            opacity: 1;
            color: red;
        }

        .row {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }

    .panel-default {
        border-left: none;
        border-right: none;
    }

    .panel-heading {
        span {
            background-color: $color-brand;
            color: white;
            padding: 5px 10px;
            margin-right: 10px;
            margin-left: -10px;
        }

        h4 {
            font-weight: 600;
            font-size: 22px;
        }
    }
}
