﻿<div class="container fedExRateOptions">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4>
                    Federal Express
                </h4>
            </div>
            <div class="modal-body">
                <p *ngFor="let rate of rates">
                    <span>
                        <input name="rate" type="radio"  [checked]="rate.serviceTypeCode == selected"  [value]="rate.serviceTypeCode" (click)="chooseServiceType(rate)" /> &nbsp;
                        <span>{{rate.serviceType}}</span>
                        <span class="price"> - ${{rate.totalNetCharge}}</span>
                    </span>
                    <br />
                    <span class="deliveryTimestamp" *ngIf="rate.deliveryTimestamp">
                        {{rate.deliveryTimestamp | date:"MM/dd/yyyy h:mm a" }}
                    </span>                
                    <span class="transitTime" *ngIf="!rate.deliveryTimestamp && rate.transitTime">                       
                        {{rate.transitTime | date:"MM/dd/yyyy h:mm a"}}
                    </span>
                </p>
            </div>
            <div class="form-group actions pull-right" role="group">
                <button type="button" class="btn-clear"
                         data-dismiss="modal" role="button"
                         [style.visibility] = "showClear ? 'visible' : 'hidden'"
                         (click)="clear()">  Clear</button>
                <button type="button" class="btn" data-dismiss="modal" role="button" (click)="close()">  Ok</button>
            </div>
        </div>
    </div>
</div>