﻿@import './../../../styles/globals.scss';

.fedExRateOptions {
    width: 320px;
    margin: 30px auto;
    background: white;

     .btn {
                 background-color: $color-brand;
                 border: 1px solid $color-brand;
                 font-size: 14px;
                 box-shadow: inset 0px 1px 1px #a4e388;
                 border-color: #3b6e22 #3b6e22 #2c5115;
                 color: #fff;
                 cursor: pointer;
                 display: inline-block;
                 position: relative;
                 text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                 padding: 3px 15px 3px 15px;
            }
            .btn:hover, .btn:active {
                   background: linear-gradient(#3d5505,#719f08);
                   text-decoration: none;
             }
            .btn-clear {
                    /*background-color: black;*/
                    border: 0.5px solid $color-brand;
                    font-size: 14px;
                    box-shadow: inset 1px 1px 1px #a4e388;
                    border-color: #3b6e22 #3b6e22 #2c5115;
                    color: black;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                    padding: 2px 13px 4px 13px;
                    border-radius:5px;
                    }
             .btn-clear:hover, .btn-free-clear:active {
                    background: linear-gradient(#3d5505,#719f08);
                    /*background-color: #577a08;*/
                    text-decoration: none;
                    color: #fff;
                }

    h4 {
        text-align: center;
    }

    label {
        font-size: 18px;
    }

    .close {
        font-size: 30px; //ladded
    }

    .modal-body {
        margin-left: 0;
        margin-right: 0;
        padding: 0;

        .price {
            font-weight: 600;
        }

        p {
            border-bottom: 1px solid #E1E1E1;
            border-radius: 5px;
            background: #FFFFFF;
            line-height: 30px;
        }

        .deliveryTimestamp, .transitTime {
            margin-left: 26px;
        }
    }
}
