﻿<div class="container login-check-out-modal">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4>
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <span>Secure Checkout</span>
                </h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm">   
                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['email'].valid && userForm.controls['email'].touched}"  *ngIf="showEmail == 1">
                        <label for="email">Email<span class="required"> *</span></label>
                        <label for="email" class="required pull-right"> * Required Fields</label>
                        <input class="form-control" [formControl]="userForm.controls['email']" id="email" maxlength="128" />
                        <div class="alert-danger" *ngIf="userForm.controls['email'].hasError('required') && userForm.controls['email'].touched">Please enter your Email</div>
                        <div class="alert-danger" *ngIf="!userForm.controls['email'].hasError('required') && userForm.controls['email'].hasError('invalidEmailAddress') && userForm.controls['email'].touched">Please enter your Email in this format name@company.com.</div>
                        <div class="alert-danger" *ngIf="!userForm.controls['email'].hasError('required')
                             && !userForm.controls['email'].hasError('invalidEmailAddress')
                             && !isExistEmail
                             && userForm.controls['email'].touched">Please try again or create an account. We weren't able to find the email.</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['password'].valid && userForm.controls['password'].touched}">
                        <label for="password">Password<span class="required"> *</span></label>
                        <!--<a class="forgot-your-password pull-right" (click)="openForgotPassword()">
                            <span class="visible-lg visible-md visible-sm-block"> Forgot your password?</span>
                            <span class="visible-xs-block"> Forgot password?</span>
                        </a>-->
                        <input type="password" class="form-control" [formControl]="userForm.controls['password']" id="password" formControlName="password" maxlength="25" />
                        <div class="alert-danger" *ngIf="userForm.controls['password'].hasError('required') && userForm.controls['password'].touched">Please enter your password.</div>
                        <div class="alert-danger" *ngIf="userForm.controls['password'].hasError('minlength') && userForm.controls['password'].touched">Must be 6 characters.</div>
                        <div class="alert-danger" *ngIf="userForm.controls['password'].hasError('invalidPassword') && userForm.controls['password'].touched">Can not space or . , - | \ / = _</div>
                        <div class="alert-danger" *ngIf="!userForm.controls['password'].hasError('required')
                              && !userForm.controls['password'].hasError('minlength')
                              && !isExistPassword
                              && userForm.controls['password'].touched">Please try again. Invalid password.</div>
                    </div>
                    <div class="form-group actions-login" role="group">
                        <button type="submit" class="btn btn-brand full-width" data-dismiss="modal" role="button" (click)="login()">Login</button>
                        <h5>Or</h5>
                        <button type="submit" class="btn btn-brand full-width btn-brand-checkout" data-dismiss="modal" role="button" (click)="secureDifferentUser()">User a different email address</button>
                        <h5>Or</h5>
                        <button type="submit" class="btn btn-brand full-width btn-brand-checkout" data-dismiss="modal" role="button" (click)="continueToCheckout()">Continue To Checkout</button>
                    </div>
                </form>
            </div>           
        </div>
    </div>
</div>