﻿<div class="container my-orders-details">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="lineModalLabel">Order# {{order.orderID}}</h4>
                <div class="pull-right">
                    <a class="view-link" (click)="reOrder()">ReOrder</a> &nbsp;

                    <a class="view-link-re-order" (click)="print()">Print Order</a>
                </div>

            </div>
            <div class="modal-body">
                <span> Order Date: {{order.createDateTime | date: 'MM/dd/yyyy' }}</span>
                <div class="row">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" [ngClass]="shippingOrderPanel">
                                    <a data-toggle="collapse" href="#shipping" data-parent="#accordion">Shipping</a>
                                </h4>
                            </div>
                            <div id="shipping" class="panel-collapse">
                                <div class="panel-body">
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        <div class="form-group">
                                            <div *ngIf="order">
                                                <label class="title-lable-line">Shipping Address</label>
                                                <p>{{order.shippingFullName}}</p>
                                                <p>{{order.shippingAddress}} </p>
                                                <p>
                                                    <span>{{order.shippingCity}}, </span>
                                                    <span>{{getShippingState(order.shippingState)}}, </span>
                                                    <span>{{order.shippingZip}} </span>
                                                </p>
                                                <p>{{getCountry(order.shippingCountry)}} </p>
                                                <p>T: ({{order.shippingPhone}}) </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <div class="form-group">
                                            <label class="title-lable">Shipping Method</label>
                                            <p>{{order.shipProvider}}</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#billing" data-parent="#accordion">Billing Information</a>
                                </h4>
                            </div>
                            <div id="billing" class="panel-collapse">
                                <div class="panel-body">
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        <div class="form-group">
                                            <div *ngIf="order">
                                                <label class="title-lable-line">Shipping Address</label>
                                                <p>{{order.billingFullName}}</p>
                                                <p>{{order.billingAddress}} </p>
                                                <p>
                                                    <span>{{order.billingCity}}, </span>
                                                    <span>{{getBillingState(order.billingState)}}, </span>
                                                    <span>{{order.shippingZip}} </span>
                                                </p>
                                                <p>{{getCountry(order.billingCountry)}} </p>
                                                <p>T: ({{order.billingPhone}}) </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <div class="form-group">
                                            <label class="title-lable-line">Payment Method</label>
                                            <p>PaypalExpress</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#products" data-parent="#accordion">Items Ordered</a>
                                </h4>
                            </div>
                            <div id="products" class="panel-collapse">
                                <div class="row panel-body">
                                    <div class="row header"> <!--visible-lg visible-md visible-sm hidden-xs-->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                                            Product
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                                            SKU
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            Price
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                            Qty
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                            Subtotal
                                        </div>
                                    </div>
                                    <div class="row contents" *ngFor="let orderDetail of orderDetails;let i = index">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            {{orderDetail.product.productDesc}}
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                                            {{orderDetail.productSKU}}
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" *ngIf="orderDetail.cartPrice <= 0">
                                            {{orderDetail.webPrice |  currency:'USD':true:'1.2-2'}}
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" *ngIf="orderDetail.cartPrice > 0">
                                            {{orderDetail.cartPrice |  currency:'USD':true:'1.2-2'}}
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                            {{orderDetail.quantity}}
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" *ngIf="orderDetail.cartPrice <= 0">
                                            {{orderDetail.webPrice * orderDetail.quantity |  currency:'USD':true:'1.2-2'}}
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" *ngIf="orderDetail.cartPrice > 0">
                                            {{orderDetail.cartPrice * orderDetail.quantity |  currency:'USD':true:'1.2-2'}}
                                        </div>
                                    </div>
                                    <div class="row contents-footer">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 title-footer">
                                            <p>Subtotal</p>
                                            <p>Shipping & Hanlding</p>
                                            <p>Tax</p>
                                            <p>Gift Certificates</p>
                                            <p>
                                                <strong>Grand Total</strong>
                                            </p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" style="text-align: right;">
                                            <p>{{subTotal |  currency:'USD':true:'1.2-2'}}</p>
                                            <p>{{getShipFee(order) |  currency:'USD':true:'1.2-2'}}</p>
                                            <p>{{order.tax |  currency:'USD':true:'1.2-2'}}</p>
                                            <p>$0.00</p>
                                            <p>
                                                <strong>{{order.total |  currency:'USD':true:'1.2-2'}}</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="print-section" style="display:none;">
                    <div class="row">
                        <p>
                            <img alt="Brand" src="./images/logo.png">
                        </p>
                        <p style="margin:5px;">
                            <strong>
                                Order# {{order.orderID}}
                            </strong>
                        </p>
                        <p style="margin:5px;"><span> Order Date: {{order.createDateTime | date: 'dd/MM/yyyy' }}</span></p>
                        <br />
                        <table style="width:100%">
                            <tr>
                                <td style="width:50%">
                                    <div class="form-group">
                                        <div *ngIf="order">
                                            <strong>Shipping Address</strong>
                                            <p style="margin:0">{{order.shippingFullName}}</p>
                                            <p style="margin:0">{{order.shippingAddress}} </p>
                                            <p style="margin:0">
                                                <span>{{order.shippingCity}}, </span>
                                                <span>{{getShippingState(order.shippingState)}}, </span>
                                                <span>{{order.shippingZip}} </span>
                                            </p>
                                            <p style="margin:0">{{getCountry(order.shippingCountry)}} </p>
                                            <p style="margin:0">T: ({{order.shippingPhone}}) </p>
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <strong>Shipping Method</strong>
                                        <p style="margin:0">{{order.shipProvider}}</p>
                                    </div>
                                </td>
                                <td style="width:50%">
                                    <div class="form-group">
                                        <div *ngIf="order">
                                            <strong>Billing Address</strong>
                                            <p style="margin:0">{{order.billingFullName}}</p>
                                            <p style="margin:0">{{order.billingAddress}} </p>
                                            <p style="margin:0">
                                                <span>{{order.billingCity}}, </span>
                                                <span>{{getBillingState(order.billingState)}}, </span>
                                                <span>{{order.shippingZip}} </span>
                                            </p>
                                            <p style="margin:0">{{getCountry(order.billingCountry)}} </p>
                                            <p style="margin:0">T: ({{order.billingPhone}}) </p>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <strong>Payment Method</strong>
                                        <p style="margin:0">PaypalExpress</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <p style="margin:5px;">
                            <strong>Items Ordered</strong>
                        </p>
                        <table style="width:100%;table-layout: fixed;">
                            <thead>
                                <tr>
                                    <th style="padding:5px;text-align:left;">Product Name</th>
                                    <th style="padding:5px;text-align:center;" width="27%">SKU</th>
                                    <th style="padding:5px;text-align:center;" width="13%">Price</th>
                                    <th style="padding:5px;text-align:center;" width="7%">Qty</th>
                                    <th style="padding:5px;text-align:center;" width="13%">Subtotal    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let orderDetail of orderDetails;let i = index">
                                    <td style="padding:5px; text-align:left;">{{orderDetail.product.productDesc}}</td>
                                    <td style="padding:5px; text-align:center;" width="27%">{{orderDetail.productSKU}}</td>
                                    <td style="padding:5px; text-align:center;" width="13%" *ngIf="orderDetail.product.cartPrice <= 0">{{orderDetail.product.webPrice | currency:'USD':true:'1.2-2'}}</td>
                                    <td style="padding:5px; text-align:center;" width="13%" *ngIf="orderDetail.product.cartPrice > 0">{{orderDetail.product.cartPrice | currency:'USD':true:'1.2-2'}}</td>
                                    <td style="padding:5px; text-align:center;" width="7%">{{orderDetail.quantity}}</td>
                                    <td style="padding:5px; text-align:center;" width="13%" *ngIf="orderDetail.product.cartPrice <= 0">{{orderDetail.product.webPrice * orderDetail.quantity | currency:'USD':true:'1.2-2'}}</td>
                                    <td style="padding:5px; text-align:center;" width="13%" *ngIf="orderDetail.product.cartPrice > 0">{{orderDetail.product.cartPrice * orderDetail.quantity | currency:'USD':true:'1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <br />
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td width="87%" colspan="4" style="text-align:right;">Subtotal</td>
                                    <td width="13%" style="text-align:right;">{{subTotal | currency:'USD':true:'1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="text-align:right;">Shipping & Hanlding</td>
                                    <td style="text-align:right;">{{getShipFee(order) | currency:'USD':true:'1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="text-align:right;">Tax</td>
                                    <td style="text-align:right;">{{order.tax | currency:'USD':true:'1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="text-align:right;">Gift Certificates</td>
                                    <td style="text-align:right;">$0.00</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="text-align:right;"><strong>Grand Total</strong></td>
                                    <td style="text-align:right;"><strong>{{order.total |  currency:'USD':true:'1.2-2'}}</strong></td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
