﻿@import './../../../styles/globals.scss';

.order-review {
    /*.row {
        margin-left: 0;
        margin-right: 0;
    }*/
    margin-left: 20px;

    .title-lable {
        color: $color-brand;
    }

    .title-lable-line {
        color: $color-brand;
        padding-right: 10px;
        border-right: 2px solid;
    }

    .form-group {
        margin-bottom: 10px;
        font-size: 18px;

        .btn-brand {
            font-size: 18px;
        }
    }

    .email {
        input {
            display: inline-block;
        }

        button {
            height: 35px;
        }
    }

    .btn-brand {
        background-color: $color-brand;
        border: 1px solid;
        font-size: 18px;
        height: 40px;
        box-shadow: inset 0px 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        padding: 6px 20px 6px 20px;
    }

    .btn-brand:hover, .btn-brand:active {
        background: linear-gradient(#3d5505,#719f08);
        text-decoration: none;
    }

    input[type=text], select {
        width: 500px;
    }

    #billing {
        p {
            margin: 0 0 5px 10px;
        }
    }

    .sameAsShippingAddress {
        p {
            line-height: 50px;

            input[type=radio] {
                width: 20px;
            }
        }
    }

    .product-list {

        .header, .productDesc, .grandTotal {
            font-weight: 600;
        }

        .number {
            text-align: end;
        }

        .contents {
            margin-top: 30px;
            margin-bottom: 30px;

            .col-lg-2, .col-lg-1, .col-lg-5 {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .bottom {
            .title {
                float: right;
                text-align: end;
                margin-right: 20px;
            }
        }

        .close {
            font-size: 30px;
            opacity: 1;
        }

        .img-product {
            width: 100%;
        }

        p {
            margin: 0 0 5px;
            font-size: 20px;

            .productSKU, .qty {
                color: gray;
            }

            .number {
                width: 50px;
                text-align: center;
            }
        }
    }
}
