﻿<div class="order-review">
    <div class="row">
        <div class="col-lg-5">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" [ngClass]="shippingOrderPanel">
                            <a data-toggle="collapse" href="#shipping" data-parent="#accordion">Shipping</a>
                        </h4>
                    </div>
                    <div id="shipping" class="panel-collapse">
                        <div class="panel-body">
                            <div class="form-group">
                                <div *ngIf="expressCheckoutDetails">
                                    <label class="title-lable-line">Shipping Address</label>
                                    <a (click)="edit()">Edit</a>
                                    <p>{{expressCheckoutDetails.shipToName}}</p>
                                    <p>{{expressCheckoutDetails.shipToStreet}} </p>
                                    <p>
                                        <span>{{expressCheckoutDetails.shipToCity}}, </span>
                                        <span>{{getShippingState(expressCheckoutDetails.shipToState)}}, </span>
                                        <span>{{expressCheckoutDetails.shipToZip}} </span>
                                    </p>
                                    <p>{{getCountry(expressCheckoutDetails.shipToCountryCode)}} </p>
                                    <p *ngIf="expressCheckoutDetails.phone">T:{{expressCheckoutDetails.phone}} </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="title-lable">Shipping Method</label>
                            </div>                          
                            <div class="form-group">
                                <label *ngIf="shipCountry=='US'">Ground Shipping {{ shipFee |  currency:'USD':true:'1.2-2'}} (2-7 business)</label>
                                <label *ngIf="shipCountry=='CA'">Ground Shipping {{ shipFee |  currency:'USD':true:'1.2-2'}} (7-14 days Canada)</label>
                            </div>
                            <div class="form-group">
                                <span>
                                    Want item sooner?
                                    <a *ngIf="shipCountry=='US'" (click)="getRatesDialog()">See express options</a>
                                    <span *ngIf="shipCountry=='CA'"> Call 800-825-6758</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#billing" data-parent="#accordion">Billing Information</a>
                        </h4>
                    </div>
                    <div id="billing" class="panel-collapse">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="title-lable-line">Payment Method</label>
                                <a (click)="edit()">Edit</a>
                                <p>PaypalExpress</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#placeOrderInfo" data-parent="#accordion">Place Order</a>
                        </h4>
                    </div>
                    <div id="productInfo" class="panel-collapse">
                        <div class="panel-body">
                            <input type="checkbox" [value]="agrreeTerm" (click)="agrreeTermClick()" />
                            <span>By sending your order you agree to our <a [routerLink]="['ordering-information']">Terms</a> </span>
                            <p class="alert-danger" *ngIf="agrreeTerm == 0">Please check your order your agree.</p>
                            <div>
                                <button style="margin-top:5px;" class="btn btn-primary btn-brand" data-dismiss="modal" role="button" (click)="save()">
                                    <span>Place Order</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel-group" id="products">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#productInfo" data-parent="#products">Item in your Shopping Cart</a>
                        </h4>
                    </div>
                    <div id="productInfo" class="panel-collapse">
                        <div class="panel-body">
                            <div class="product-list" id="productList">
                                <div class="row header">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-5">
                                    </div>
                                    <div class="col-lg-2">
                                        PRICE
                                    </div>
                                    <div class="col-lg-1">
                                        QTY
                                    </div>
                                    <div class="col-lg-2">
                                        SUBTOTAL
                                    </div>
                                </div>
                                <div class="row contents" *ngFor="let product of products">
                                    <div class="col-lg-2">
                                        <img *ngIf="product.image1" class="img-product" [attr.src]="'../images' + product.image1" alt="image" />
                                    </div>
                                    <div class="col-lg-5">
                                        <p>
                                            <span class="alert-danger" *ngIf="shipCountry == 'CA' && (!product.shipToCa || product.shipToCa =='N')">
                                                We can't ship this item to Canada
                                            </span>
                                        </p>
                                        <p>
                                            <span class="productDesc">{{product.productDesc}}</span>
                                            <button type="button" class="close" data-dismiss="modal" (click)="removeProduct(product)"><span aria-hidden="true">×</span><span class="sr-only">Delete</span></button>
                                        </p>
                                        <p>
                                            <span class="productSKU"> {{product.productSKU}} </span>
                                        </p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p>
                                            <span class="webPrice number" *ngIf="!promoCode || product.cartPrice == '-1.00'">{{product.webPrice | currency:'USD':true:'1.2-2'}}</span>
                                            <span class="webPrice number" *ngIf="promoCode  && product.cartPrice != '-1.00'">{{product.cartPrice | currency:'USD':true:'1.2-2'}}</span>

                                        </p>
                                    </div>
                                    <div class="col-lg-1">
                                        <p>
                                            <input type="number" class="number" [value]="product.qty" min="1" (change)="changeQty(product, qty.value);" #qty />
                                        </p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p>
                                            <span class="webPrice number" *ngIf="!promoCode || product.cartPrice == '-1.00'">{{product.webPrice*product.qty | currency:'USD':true:'1.2-2'}}</span>
                                            <span class="webPrice number" *ngIf="promoCode  && product.cartPrice != '-1.00'">{{product.cartPrice*product.qty | currency:'USD':true:'1.2-2'}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row bottom">
                                    <div class="col-lg-10">
                                        <div class="title">
                                            <p>
                                                SubTotal
                                            </p>
                                            <p>
                                                Ground Shipping
                                            </p>
                                            <p>
                                                Tax
                                            </p>
                                            <p class="grandTotal">
                                                Grand Total
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 number">
                                        <p>
                                            {{ sub_totals |  currency:'USD':true:'1.2-2'}}
                                        </p>
                                        <p>
                                            {{ shipFee |  currency:'USD':true:'1.2-2'}}
                                        </p>
                                        <p>
                                            {{tax*sub_totals |  currency:'USD':true:'1.2-2'}}
                                        </p>
                                        <p class="grandTotal">
                                            {{ totals |  currency:'USD':true:'1.2-2'}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
