﻿<!-- <div class="row">
    <offsale></offsale>
</div> -->
<div class="place-order-successfully">
    <div class="row" *ngIf="showsuccessfullyOrder == 1">
        <h4>Your order has been received</h4>
        <p><span class="thank-you">Thank you for your purchase!</span></p>
        <p>
            Your order # is: <a>{{orderNumber}}</a>.
        </p>
        <p>You will receive an order information email with details of your order and a link to track its progress</p>
        <p>
            Click <a (click)="print()">here to print</a> a copy of your order confirmation.
        </p>
        <p>
            <button type="submit" class="btn btn-primary btn-brand" data-dismiss="modal" role="button" [routerLink]="['/allproducts']"
                    [queryParams]="{departmentId:1,classId : 11, subClassId: 111 , title : 'Clock & Watch'}">
                <span>Continue Shopping</span>
            </button>
        </p>
    </div>
    <div class="row" *ngIf="showsuccessfullyOrder == 0">
        You have not successfully order. Thank you.
    </div>
    <div id="print-section" style="display:none;" *ngIf="order">
        <div class="row">
            <p>
                <img alt="Brand" src="./images/logo.png">
            </p>
            <p style="margin:5px;">
                <strong>
                    Order# {{order.orderID}}
                </strong>
            </p>
            <p style="margin:5px;"><span> Order Date: {{order.createDateTime | date: 'MM/dd/yyyy' }}</span></p>
            <br />
            <table style="width:100%">
                <tr>
                    <td style="width:50%">
                        <div class="form-group">
                            <div *ngIf="order">
                                <strong>Shipping Address</strong>
                                <p style="margin:0">{{order.shippingFullName}}</p>
                                <p style="margin:0">{{order.shippingAddress}} </p>
                                <p style="margin:0">
                                    <span>{{order.shippingCity}}, </span>
                                    <span>{{getShippingState(order.shippingState)}}, </span>
                                    <span>{{order.shippingZip}} </span>
                                </p>
                                <p style="margin:0">{{getCountry(order.shippingCountry)}} </p>
                                <p style="margin:0">T: ({{order.shippingPhone}}) </p>
                            </div>
                        </div><br />
                        <div class="form-group">
                            <strong>Shipping Method</strong>
                            <p style="margin:0">{{order.shipProvider}}</p>
                        </div>
                    </td>
                    <td style="width:50%">
                        <div class="form-group">
                            <div *ngIf="order">
                                <strong>Billing Address</strong>
                                <p style="margin:0">{{order.billingFullName}}</p>
                                <p style="margin:0">{{order.billingAddress}} </p>
                                <p style="margin:0">
                                    <span>{{order.billingCity}}, </span>
                                    <span>{{getBillingState(order.billingState)}}, </span>
                                    <span>{{order.shippingZip}} </span>
                                </p>
                                <p style="margin:0">{{getCountry(order.billingCountry)}} </p>
                                <p style="margin:0">T: ({{order.billingPhone}}) </p>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <strong>Payment Method</strong>
                            <p style="margin:0">PaypalExpress</p>
                        </div>
                    </td>
                </tr>
            </table>
            <p style="margin:5px;">
                <strong>Items Ordered</strong>
            </p>
            <table style="width:100%;table-layout: fixed;">
                <thead>
                    <tr>
                        <th style="padding:5px;text-align:left;">Product Name</th>
                        <th style="padding:5px;text-align:center;" width="27%">SKU</th>
                        <th style="padding:5px;text-align:center;" width="13%">Price</th>
                        <th style="padding:5px;text-align:center;" width="7%">Qty</th>
                        <th style="padding:5px;text-align:center;" width="13%">Subtotal    </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orderDetail of orderDetails;let i = index">
                        <td style="padding:5px; text-align:left;">{{orderDetail.product.productDesc}}</td>
                        <td style="padding:5px; text-align:center;" width="27%">{{orderDetail.productSKU}}</td>
                        <td style="padding:5px; text-align:center;" width="13%" *ngIf="orderDetail.cartPrice <= 0">{{orderDetail.webPrice | currency:'USD':true:'1.2-2'}}</td>
                        <td style="padding:5px; text-align:center;" width="13%" *ngIf="orderDetail.cartPrice > 0">{{orderDetail.cartPrice | currency:'USD':true:'1.2-2'}}</td>
                        <td style="padding:5px; text-align:center;" width="7%">{{orderDetail.quantity}}</td>
                        <td style="padding:5px; text-align:center;" width="13%" *ngIf="orderDetail.cartPrice <= 0">{{orderDetail.webPrice * orderDetail.quantity | currency:'USD':true:'1.2-2'}}</td>
                        <td style="padding:5px; text-align:center;" width="13%" *ngIf="orderDetail.cartPrice > 0">{{orderDetail.cartPrice * orderDetail.quantity | currency:'USD':true:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td width="87%" colspan="4" style="text-align:right;">Subtotal</td>
                        <td width="13%" style="text-align:right;">{{subTotal | currency:'USD':true:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:right;">Shipping & Hanlding</td>
                        <td style="text-align:right;">{{getShipFee(order) | currency:'USD':true:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:right;">Tax</td>
                        <td style="text-align:right;">{{order.tax | currency:'USD':true:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:right;">Gift Certificates</td>
                        <td style="text-align:right;">$0.00</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:right;"><strong>Grand Total</strong></td>
                        <td style="text-align:right;"><strong>{{order.total |  currency:'USD':true:'1.2-2'}}</strong></td>
                    </tr>
            </table>
        </div>
    </div>
</div>

