﻿@import './../../../styles/globals.scss';

.shipping-order {
    /*.row {
        margin-left: 0;
        margin-right: 0;
    }*/
    .form-group {
        margin-bottom: 10px;
        font-size: 18px;

        a {
            color: $color-brand;
            cursor: pointer;
            text-decoration: unset;
            font-weight:600;
          }

        a:hover, a:active {
                color: #577a08;
            }

        .btn-brand {
            font-size: 18px;
        }
    }

    .shipping-address {
        margin-left: 10px;
        font-size: 20px;

        input[type=radio] {
            zoom: 1.5;
        }
    }

    .comments {
        height: 100px;
    }

      .btn-brand {
        background-color: $color-brand;
        border: 1px solid;
        font-size: 18px;
        height: 40px;
        box-shadow: inset 0px 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        padding: 6px 50px 6px 50px;
    }

    .btn-brand:hover, .btn-brand:active {
        background: linear-gradient(#3d5505,#719f08);
        text-decoration: none;
    }

}
