﻿@import './../../../../../../../styles/globals.scss';

:host {
    display: block;
    background: white;
    
.item-content {
    display: inline-block;
    width: 100%; //calc(100% - 60px);
    padding: 3px;
    vertical-align: middle;

    @media (max-width:414px) {
        padding: 0;
    }

    .top-line1 {
        height: 15px;
    }

    .col-item, .col-item-none {
 
        font-size: $html-font-size-xxs;
        height: 100%;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        outline: none;
        transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
        background-color: #fff;
        border-bottom: 1px solid rgb(185,185,185);
        border-radius: 1px;
        border-top-color: rgb(160,160,160);

        @media (max-width:414px) {
            border: none;
            font-size: $html-font-size-s;
        }
    }

    .col-item:hover {
       cursor: pointer;
       transition: box-shadow 400ms cubic-bezier(0.4,0.0,0.2,1);
       box-shadow: 0 3px 3px 3px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    }

    .col-item .photo {
        margin-top: 10px;
        text-align:center;
    }

    .img-responsive {
        width: 160px;
        height: 160px; //250250  300
        @media (max-width:414px) {
            width: 160px;
            height: 160px;
        }
    }

    .img-responsive-productRelated, .photo-none{
        width: 160px;
        height: 160px;
    }

    .col-item .photo img {
        margin-left: auto;
        margin-right: auto;
    }

    .col-item .info {
        padding: 10px 10px;
        border-radius: 0 0 5px 5px;
        margin-top: 1px;
    }
    /*.col-item .info:hover {
        background-color: $color-brighter;
    }*/
    .col-item .info:hover .tooltip {
        opacity: 1;
    }

    .tooltip {
        width: 21%;
        background-color: #fff; //$color-brighter;
        color: black;
        border-radius: 5px;
        opacity: 0;
        position: absolute;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -ms-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        font-size: 20px;
        margin-top: -64px;
    }

    .text {
        position: relative;
        font-size: 14px;
        color: black;
        width: 250px; /* Could be anything you like. */
    }

    .col-item .productDesc {
        height: 40px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        display: block;
        @media (max-width:1366px) {
            height: 52px;
    }}

    .iphone5 {
        display: none !important;

        @media (max-width:320px) {
            height: 40px !important;
            display: block !important;
        }
    }

    .iphone {
        @media (max-width:320px) {
            display: none !important;
        }
    }

    .btn-view-details {
        text-align: center;
        padding-bottom: 15px;
        border: 5px solid white;

        .btn-view-products {
            background-color: $color-brand;
            border: 1px solid $color-brand;
            font-size: 20px;
            width: 200px;
            padding: 8.5px;
            height: 48px;
            box-shadow: inset 0px 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);

            @media (max-width:736px) {
                width: 140px;
            }
        }

        .btn-view-products:hover, .btn-view-products:active {
            background: linear-gradient(#3d5505,#719f08);
            text-decoration: none;
        }
    }

    .price {
        text-decoration: line-through;
        color: rgba(82, 80, 80, 0.64);
        text-decoration-color: darkred;
        font-size: $font-size-18;
        margin-right: 20px;

        @media (max-width:375px) {
            margin-right: 3px;
            font-size: 16px;
        }

        @media (max-width:320px) {
            font-size: 15px;
        }
    }

    .promo-price {
        font-size: $font-size-20;

        @media (max-width:320px) {
            font-size: 16px;
        }

        @media (max-width:375px) {
            margin-left: 0;
        }
    }

    .rating {
        border: none;
        float: left;
        margin-left: -5px;
        padding-top: 5px;
        padding-bottom: 5px;

        @media (max-width:320px) {
            margin-left: -10px;
        }
    }

    .total-rating {
        display: inline-block;
        padding-top: 7px;
        padding-left: 10px;
        color: #636363;

        @media (max-width:414px) {
            padding-top: 11px;
            padding-left: 0px;
        }
    }

    .rating > label > span:before {
        margin: 5px;
        font-size: 18px;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";

        @media (max-width:320px) {
            font-size: 16px;
        }
    }

    .rating > label > span.half {
        display: inline-flex;
    }

    .rating > label > span.half:after {
        margin: 5px;
        font-size: 18px;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f089";
        color: #FFED00;
        position: absolute;

        @media (max-width:320px) {
            font-size: 16px;
        }
    }

    .rating > label > span.half:before {
        margin: 5px;
        font-size: 18px;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
        color: #ddd;

        @media (max-width:320px) {
            font-size: 16px;
        }
    }

    .rating > label > span.full:before {
        color: #ffc425;
    }

    .rating > label > span {
        font-size: 18px;
        color: #ddd;

        @media (max-width:320px) {
            font-size: 16px;
        }
    }

    .top-line {
        margin-top: -10px;
    }

    .top-line:after {
        display: inline-block;
        content: "";
        line-height: 0;
        font-size: 0;
    }

    .dotdBadge {
        font-size: 18px !important;
        color: #C45500 !important;
        font-weight: 700 !important;
        //background: #C45500;
        height: 20px;
        width: 100%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0 5px;
        float: left;
        overflow: hidden;
    }

    .dotdBadge + .badgeSkew {
        border-right: 4px solid transparent;
        border-top: 18px solid #C45500;
        float: left;
    }
    /*.dotdBadge1 {
        font-size: 20px !important;
        color: #FFF !important;
        font-weight: 700 !important;
        background: #C45500;
        height: 40px;
        max-width: 90%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 5px 15px;
        float: left;
        overflow: hidden;
    }*/
    .dotdBadge1 {
        font-size: 18px !important;
        color: #FFF !important;
        font-weight: 600 !important;
        background: #e67a00 !important;
        /*height: 40px;*/
        max-width: 90%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0px 2px 0px 5px;
        float: left;
        overflow: hidden;
        letter-spacing: 0.5px;
        /*line-height: 30px;*/
    }


    .dotdBadge1 + .badgeSkew {
        border-right: 13px solid transparent;
        border-top: 25px solid #e67a00 !important;
        float: left;
    }
}
}

