@import './../../../../../../../styles/globals.scss';
.testimonials {
    margin-top: 1px;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    h3 {
        font-size: 60px;
        line-height: 135%;
        text-align: center;

        @include breakpoint(xs) {
            font-size: 40px;
        }
    }
    .photo {
        img {
            width: 10%;
            margin-top: 23px;
        }
    }
    p {
        color: $color-gray;
        font-size: $font-size-20;
        padding-left: 10px;
        margin: 17px 35px;
    }
    .quotes-list {
        margin-bottom: 10px;
        img {
            width: 100%;
        }
        @include breakpoint(xs) {
            img {
                width: 3%;
                margin-left:12px;
            }
        }
        @include breakpoint(sm) {
            img {
                width: 3%;
                }
        }
        @include breakpoint(md) {
            img {
                width: 10%;
            }
        }
    }
    hr {
        border-top: 5px solid $color-bright;
        border-radius: 5px;
        width: 100%;
        margin-top: 19%;
        @include breakpoint(xs) {
            margin-top: 0;
            margin-bottom: 0;
        }
        @include breakpoint(sm) {
            margin-top: 0;
            margin-bottom: 0;
        }
        @include breakpoint(md) {
            margin-top: 19%;
        }
        @include breakpoint(lg) {
            margin-top: 19%;
        }
        background: $color-background-brighter;
    }
}

