﻿<div class="container register-modal">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="lineModalLabel">Create an Account</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm">
                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['firstName'].valid && userForm.controls['firstName'].touched}">
                        <label for="firstName">First Name<span class="required"> *</span></label>
                        <label for="firstName" class="required pull-right"> * Required Fields</label>
                        <input class="form-control" [formControl]="userForm.controls['firstName']" id="firstName" maxlength="25" />
                        <div class="alert-danger" *ngIf="userForm.controls['firstName'].hasError('required') && userForm.controls['firstName'].touched">Please enter your first name.</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['lastName'].valid && userForm.controls['lastName'].touched}">
                        <label for="lastName">Last Name<span class="required"> *</span></label>
                        <input class="form-control" [formControl]="userForm.controls['lastName']" id="lastName" maxlength="25" />
                        <div class="alert-danger" *ngIf="userForm.controls['lastName'].hasError('required') && userForm.controls['lastName'].touched">Please enter your last name.</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['email'].valid && userForm.controls['email'].touched}">
                        <label for="email">Email<span class="required"> *</span></label>
                        <input class="form-control" [formControl]="userForm.controls['email']" id="email" maxlength="128" />
                        <div class="alert-danger" *ngIf="userForm.controls['email'].hasError('required') && userForm.controls['email'].touched">Please enter your email.</div>
                        <div class="alert-danger" *ngIf="!userForm.controls['email'].hasError('required') && userForm.controls['email'].hasError('invalidEmailAddress') && userForm.controls['email'].touched">Please enter your Email in this format name@company.com.</div>
                        <div class="alert-danger" *ngIf="!userForm.controls['email'].hasError('required')
                             && !userForm.controls['email'].hasError('invalidEmailAddress')
                             && isExistEmail
                             && userForm.controls['email'].touched">
                            Email address already in use.Please <a (click)="openLogin()">login</a>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['password'].valid && userForm.controls['password'].touched}">
                        <label for="password">Password<span class="required"> *</span></label>
                        <input type="password" class="form-control" id="password" [formControl]="userForm.controls['password']" placeholder="Must be 6 characters. Can not space or . , - | \ / = _" maxlength="25" />
                        <div class="alert-danger" *ngIf="userForm.controls['password'].hasError('required') && userForm.controls['password'].touched">Please enter your password.</div>
                        <div class="alert-danger" *ngIf="userForm.controls['password'].hasError('minlength') && userForm.controls['password'].touched">Must be 6 characters.</div>
                        <div class="alert-danger" *ngIf="userForm.controls['password'].hasError('invalidPassword') && userForm.controls['password'].touched">Can not space or . , - | \ / = _</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['confirmPassword'].valid && userForm.controls['confirmPassword'].touched}">
                        <label for="confirmPassword">Confirm Password<span class="required"> *</span></label>
                        <input type="password" class="form-control" id="confirmPassword" [formControl]="userForm.controls['confirmPassword']" maxlength="25" />
                        <div class="alert-danger" *ngIf="userForm.controls['confirmPassword'].hasError('required') && userForm.controls['confirmPassword'].touched">Please enter your confirm password.</div>
                        <div class="alert-danger" *ngIf="userForm.controls['confirmPassword'].hasError('MatchPassword') && userForm.controls['confirmPassword'].touched">Please make sure your password match</div>
                    </div>
                    <div class="form-group">
                        <label class="lable-info"><input type="checkbox" [checked]="sendEmail" (change)="updateSelectedSendEmail($event)"> Send me emails about sales, events, new arrivals and more</label>
                    </div>
                    <div class="form-group actions" role="group">
                        <button type="submit" class="btn btn-brand full-width" data-dismiss="modal" role="button" (click)="saveUser()">  Create Account</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
