﻿@import './../../../../../styles/globals.scss'; 

.register-modal {
    width: 400px;
    margin: 20px auto;
    background: white;

    @include breakpoint(xs) {
        width: 320px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .modal-header {
        padding: 10px 0 0;
    }

    /*.modal-body {
        max-height: calc(100vh - 85px);
    }*/

    label {
        margin-bottom: 0;
    }

    .lable-info {
        font-weight: 500;
    }

    .lable-info-email-extra {
        color: $color-brand;
        font-size: 16px;
    }

    .forgot-your-password {
        color: $color-brand;
    }

    .reset-it-now {
        color: $color-foreground-darker;
        text-decoration: underline;
    }

    .password-is-case-sensitive {
        margin-bottom: 5px;
    }


    .actions {
        /*margin-top: 30px;*/
        .btn-brand {
            background-color: $color-brand;
            border: 1px solid;
            font-size: 18px;
            box-shadow: inset 0px 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
            padding: 6px 20px 6px 20px;
        }

        .btn-brand:hover, .btn-brand:active {
            background: linear-gradient(#3d5505,#719f08);
            /*background-color: #577a08;*/
            text-decoration: none;
        }
    }

    a:hover {
        cursor: pointer;
    }

    label {
        font-size: 18px;
    }

    .close {
        font-size: 30px; //ladded
    }
}
