@import './../../../../../../../styles/globals.scss';

.free-catalog-helpful-resources {

    @include breakpoint(xs) {
        margin-top: 0px;
    }

    .free-product-catalogs {
        text-align: left;

        @include breakpoint(xs) {
            margin-bottom: 20px;
        }

        .title {
            color: $color-brand;
            font-size: $font-size-60;
            line-height: 200%;

            @include breakpoint(xs) {
                font-size: 40px;
            }
        }

        .info {
            text-align: left;
            font-size: $font-size-20;
            color: $color-gray;
            margin-top: -17px;

            @include breakpoint(xs) {
                margin: 0;
            }

            .col-xs-6 {
                @include breakpoint(xs) {
                    padding: 0;
                }
            }
        }


        .buttons {
            padding-top: 5%;

            .btn-free-catalog {
                background-color: $color-brand;
                border: 1px solid $color-brand;
                font-size: 20px;
                width: 200px;
                padding: 8.5px;
                height: 48px;
                box-shadow: inset 0px 1px 1px #a4e388;
                border-color: #3b6e22 #3b6e22 #2c5115;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                position: relative;
                text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                margin-top: 30px;
            }

            .btn-free-catalog:hover, .btn-free-catalog:active {
                background: linear-gradient(#3d5505,#719f08);
                text-decoration: none;
            }
        }
    }

    .helpful-resources {
        img {
            margin-bottom: 3%;
            margin-left: 50px;
            padding-top: 15px;
        }

        .title {
            font-size: $font-size-60;
            line-height: 200%;
        }

        .buttons {
            padding-top: 5%;

            .btn-helpful-resources {
                background-color: $color-brand;
                border: 1px solid $color-brand;
                font-size: 20px;
                width: 200px;
                padding: 8.5px;
                height: 48px;
                box-shadow: inset 0px 1px 1px #a4e388;
                border-color: #3b6e22 #3b6e22 #2c5115;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                position: relative;
                text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
            }

            .btn-helpful-resources:hover, .btn-helpful-resources:active {
                background: linear-gradient(#3d5505,#719f08);
                text-decoration: none;
            }
            
        }
    }
  
}
