﻿<div class="row free-catalog-helpful-resources">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 free-product-catalogs">
       <span class="title"> <strong>Free Catalogs </strong></span>
        <div class="info buttons">
            <div class="col-xs-6">
                <p>
                    Get the industry's largest selection of assistive technology, books and media sent right to your mailbox!
                </p>
                <button class="btn btn-primary btn-free-catalog" (click)="show_catalog_request()">  Get Catalog</button>
            </div>
            <div class="col-xs-6">
                <img src="./images/free-catalogs.jpg" />
            </div>
        </div>
    </div>
    <div class="col-lg-6 visible-lg-block free-product-catalogs helpful-resources">
        <div class="row">
            <span class="title"><strong> Helpful Resources </strong></span>
        </div>
        <div class="row">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8sM6zsdzWmk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="row buttons">
            <a class="btn btn-primary btn-helpful-resources" [routerLink]="['/helpful-resources']">Learn More</a>

        </div>
    </div>

</div>