@import './../../../../../../../styles/globals.scss';
.guaranteed {
    margin-top: -40px;
    margin-right:0;
    margin-left:0;
    @include breakpoint(xs) {
        margin-top: 0;
        }
    .block {
        .title {
            font-size: $font-size-28;
            line-height: 300%;
            text-align: center;
            @include breakpoint(sm) {
                font-size: $font-size-28;
            }
            @include breakpoint(xs) {
                font-size: 20px;}
        }
        .content-left {
            p.info {
                margin: 0;
                color: $color-gray;
                font-size: $font-size-20;
            }
        }
        .free-shipping {
            @include breakpoint(md) {
                margin-top: -3%;
            }
            @include breakpoint(sm) {
                margin-top: -3%;
            }
            @include breakpoint(xs) {
                margin-top: -3%;
            }
        }
    }
    .row {
        margin: 0;
        .live-a-happier-life {
            margin-left: 0;
            padding-left: 0;
        }
        .imageHolder {
            position: relative;
            .image {
                margin-left:50px;
            }
            .caption {
                position: absolute;
                width: 100%;
                bottom: 0px;
                left: 0px;
                color: white;
                background: #333;
                opacity: 0;
                padding-right: 5px;
                text-indent: 0;
                p {
                    margin: 0 0 5px 5px;
                }
            }
        }
        .here-to-help {
            float: right;
            padding-right: 0;
            margin-right: 0;
            img {
                width: 260px;
                height: 190px;
                margin-top:-10px;
                margin-left:25%;
            }
        }
    }
    .block .content-left p {
        margin: 0;
    }
    .block .content {
        text-align: center;
    }
    .block .content p {
        margin: 0;
    }
    .block .content-right {
        text-align: center;
    }
    .block .content-right p {
        margin: 0;
    }
    .block .content-right div.info {
        text-align: center;
        font-size: $font-size-20;
        color: $color-gray;
    }
    hr {
        border-top: 5px solid $color-bright;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 15px;
        background: $color-background-brighter;
    }
}
