﻿<div class="container change-password-modal">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="lineModalLabel">Reset a Password</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm">
                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['password'].valid && userForm.controls['password'].touched}">
                        <label for="password">New Password<span class="required"> *</span></label>
                        <input type="password" class="form-control" id="password" [formControl]="userForm.controls['password']" placeholder="Must be 6 characters. Can not space or . , - | \ / = _" maxlength="25" />
                        <div class="alert-danger" *ngIf="userForm.controls['password'].hasError('required') && userForm.controls['password'].touched">Please enter your password.</div>
                        <div class="alert-danger" *ngIf="userForm.controls['password'].hasError('minlength') && userForm.controls['password'].touched">Must be 6 characters.</div>
                        <div class="alert-danger" *ngIf="userForm.controls['password'].hasError('invalidPassword') && userForm.controls['password'].touched">Can not space or . , - | \ / = _</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['confirmPassword'].valid && userForm.controls['confirmPassword'].touched}">
                        <label for="confirmPassword">Confirm New Password<span class="required"> *</span></label>
                        <input type="password" class="form-control" id="confirmPassword" [formControl]="userForm.controls['confirmPassword']" maxlength="25" />
                        <div class="alert-danger" *ngIf="userForm.controls['confirmPassword'].hasError('required') && userForm.controls['confirmPassword'].touched">Please enter your confirm password.</div>
                        <div class="alert-danger" *ngIf="userForm.controls['confirmPassword'].hasError('MatchPassword') && userForm.controls['confirmPassword'].touched">Please make sure your password match</div>
                    </div>
                    <div class="form-group actions" role="group">
                        <button type="submit" class="btn btn-brand full-width" data-dismiss="modal" role="button" (click)="submit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
