﻿@import './../../../../../styles/globals.scss';

:host {
    .title {
        font-weight: 700;
        font-size: $font-size-30;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 10px;

        @media (max-width:736px) {
            font-size: 24px;
        }
    }
    .products {
        margin-top: 10px;
        height: 2000px;
        border-top:2px solid $color-brand;


        @media (max-width:768px) {
            margin-top: 15px;
        }
        /*border: 1px solid #d1dadf;*/
        display: block;

        .modal-header {
            padding: 0px;
            background-color: white
        }

        .modal-body {
            background-color: white;
        }

        .modal-footer {
            background-color: white;

            .btn {
                background-color: $color-brand;
                border: 1px solid $color-brand;
                font-size: 14px;
                box-shadow: inset 0px 1px 1px #a4e388;
                border-color: #3b6e22 #3b6e22 #2c5115;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                position: relative;
                text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                padding: 3px 15px 3px 15px;
            }

            .btn:hover, .btn:active {
                background: linear-gradient(#3d5505,#719f08);
                text-decoration: none;
            }
        }

        .category {
            label {
                padding-left: 0 !important;
            }

            span {
                cursor: pointer;
                font-size: 20px;
                line-height: 30px;
            }

            span.departmentDesc {
                font-weight: 600;
            }

            span.classDesc {
                font-weight: 600;
            }

            span.subclassDesc {
                color: #636363;
            }

            .subclassDesc-newArrivals {
                color: $color-brand !important;
            }
        }

        .pricefilter {
            label {
                font-size: 18px;
                min-height: 35px;
                padding-left: 0px;
                font-weight: 100;
            }

            input[type=number] {
                width: 70px;
                height: 25px;
                border-radius: 2px;
                border: 1px solid #73777a;
                font-size: 18px;
            }

            .btn {
                background-color: $color-brand;
                border: 1px solid $color-brand;
                font-size: 14px;
                box-shadow: inset 0px 1px 1px #a4e388;
                border-color: #3b6e22 #3b6e22 #2c5115;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                position: relative;
                text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                padding: 3px 15px 3px 15px;
            }

            .btn:hover, .btn:active {
                background: linear-gradient(#3d5505,#719f08);
                text-decoration: none;
            }
        }

        .checkbox {
            label {
                font-size: 20px;
                min-height: 35px;
                padding-left: 30px;
                color: #636363;
            }

            input[type=checkbox] {
                zoom: 1.5;
            }

            .filterCount {
                font-size: 20px;
                font-weight: 600;
            }
        }

        #filter {
            /*margin-left: -210px;
            min-width: 320px;
            position: absolute;
            z-index: 1000;
            top: -140px;*/
            overflow-y: auto !important;

            .panel-title > a {
                display: block;
                position: relative;
                color: #333;
                font-size: 22px;
            }

            i {
                margin-top: -20px;
            }

            .panel {
                margin-bottom: 0;
                margin-top: 0px;
                border: none;
            }

            .panel-body {
                padding-top: 5px;
                padding-bottom: 0px;
                font-size: 20px;
            }

            .panel-heading {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                background-color: white;
            }

            .panel-heading a:before {
                /* symbol for "opening" panels */
                font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
                content: "\e114"; /* adjust as needed, taken from bootstrap.css */
                float: right; /* adjust as needed */
                color: #636363; /* adjust as needed */
                font-size: 16px;
            }

            .panel-heading a.collapsed:before {
                content: "\e080";
            }

            h4 {
                font-size: 20px;
            }

            .close {
                font-size: 50px;
                color: black;
                opacity: 1;
                font-weight: 100;
                margin-right: 15px;
            }

            .btn-fliter {
                padding-left: 12px;
                padding-right: 12px;
            }

            .btn-clear {
                /*background-color: black;*/
                border: 0.5px solid $color-brand;
                font-size: 14px;
                box-shadow: inset 1px 1px 1px #a4e388;
                border-color: #3b6e22 #3b6e22 #2c5115;
                color: black;
                cursor: pointer;
                display: inline-block;
                position: relative;
                text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                padding: 2px 13px 4px 13px;
                border-radius: 5px;
            }

            .btn-clear:hover, .btn-clear:active {
                background: linear-gradient(#3d5505,#719f08);
                /*background-color: #577a08;*/
                text-decoration: none;
                color: #fff;
            }
        }

        .left {
            /*border-right: 2px solid #d1dadf;*/
            margin: 119px -15px 0 0;
            padding-right: 0;

            h4 {
                font-size: 22px;
                font-weight: 600;
            }

            .panel-title > a {
                display: block;
                position: relative;
                text-decoration: none;
            }

            .panel-heading .accordion-toggle:after {
                /* symbol for "opening" panels */
                font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
                content: "\e114"; /* adjust as needed, taken from bootstrap.css */
                float: right; /* adjust as needed */
                color: grey; /* adjust as needed */
                font-size: 16px;
            }

            .panel-heading .accordion-toggle.collapsed:after {
                /* symbol for "collapsed" panels */
                content: "\e080"; /* adjust as needed, taken from bootstrap.css */
            }

            .panel-group .panel {
                margin-bottom: -10px;
            }

            .panel-group .btn {
                background-color: $color-brand;
                border: 1px solid $color-brand;
                font-size: 14px;
                box-shadow: inset 0px 1px 1px #a4e388;
                border-color: #3b6e22 #3b6e22 #2c5115;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                position: relative;
                text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                padding: 3px 15px 3px 15px;
            }

            .btn:hover, .btn:active {
                background: linear-gradient(#3d5505,#719f08);
                text-decoration: none;
            }
        }

        .right {
            padding-right: 0;

          .selectsort {
            width: 200px;
            float: right;
            text-align: right;
            font-size: 16px;
            padding: 2px;
            font-weight: 100;
            /*color: #636363;*/
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
            outline: none;
            transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
            background-color: #fff;
            border-bottom: 1px solid rgb(185,185,185);
            border-radius: 1px;
            border-top-color: white;
            border-left-color: white;
            display: inline-block; 
            position: relative;
        }

            @media(min-width:768px) {
                .col-sm-8 {
                    width: 60%;

                    .info {
                        padding: 0;
                    }
                }
            }

            @media (max-width:410px) {
                padding: 0;
                margin: 0;
            }

            @media(min-width:992px) {
                .col-lg-10, .col-md-10 {
                    width: 78%;
                    padding-right: 5px;
                }
            }

            @media(min-width:1200px) {
                .col-lg-10, .col-md-10 {
                    width: 78%;
                    padding-right: 5px;
                }
            }
        }

        @media(max-width:767px) {
            .col-xs-11 {
                width: 97%;

                .info {
                    padding: 0;
                }
            }
        }

        @media(min-width:768px) {
            .col-sm-11 {
                width: 97%;

                .info {
                    padding: 0;
                }
            }
        }

        @media(min-width:992px) {
            .col-md-9 {
                width: 75%;
            }
        }

        @media(min-width:1200px) {
            .col-lg-10, .col-md-10 {
                width: 78%;
                padding-right: 5px;
            }
        }

        .col-lg-2 {
            width: 22% !important;
        }


        .col-xs-1 {
            width: 3% !important;
        }



        .btn-view-actions {
            text-align: center;
            margin-top: 20px;

            .btn-view-load-more {
                background-color: gray;
                /*border: 1px solid $color-brand;*/
                font-size: 20px;
                width: 200px;
                padding: 8.5px;
                height: 48px;
                /*box-shadow: inset 0px 1px 1px #a4e388;
                border-color: #3b6e22 #3b6e22 #2c5115;*/
                color: #fff;
                cursor: pointer;
                display: inline-block;
                position: relative;
                text-shadow: 0px 1px 2px rgba(0,0,0,0.5);

                @media (max-width:736px) {
                    width: 140px;
                }
            }

            .btn-view-products:hover, .btn-view-products:active {
                background: linear-gradient(#3d5505,#719f08);
                text-decoration: none;
            }
        }
 
    }

    .status {
        margin-left: 5px; //10px;
        font-size: 20px;
        margin-bottom: 15px; //10px;
        margin-right: 0px; //10px;
        a {
            color: $color-background-darker;
        }
    }

    .virtual-scroll {
        height: 1330px;
        display: block;
    }

    list-item {
        display: inline-block;
        /*overflow: hidden;*/
        vertical-align: top;
        /*border: 0;*/
        margin: 0px;
        width: 25%;

        @media (max-width:1024px) {
            width: 33.33%;
        }

        @media (max-width:666px) {
            width: 50%;
        }
    }

    .loader {
        height: 4em;
        display: block;
        line-height: 4em;
        text-align: center;
        position: relative;
    }

    .loader:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        height: 2px;
        background: red;
        animation: loader-animation 2s ease-out infinite;
    }

    @keyframes loader-animation {
        0% {
            transform: translate(0%);
        }

        100% {
            transform: translate(500%);
        }
    }

    .dropdown-content {
        position: absolute;
        background-color: #f9f9f9;
        min-width: 250px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        left: -100px;
        /*top: -50px;*/
    }

    .dropdown-content a {
        color: darkslategray;
        padding: 7px 16px;
        text-decoration: none;
        display: block;
        font-size: 18px;
    }

    .dropdown a:hover {
        background-color: #f1f1f1;
    }

    .filterSignaler {
         margin-top: 10px;
         margin-bottom: 40px;

         .titleSignaler {
              font-weight: 700;
              font-size: $font-size-30;
              text-align: center;
              padding-bottom: 40px;
              padding-top: 10px;

              @media (max-width:736px) {
                   font-size: 24px;
              }
        }
        .filterDetails {
            display: table;
            width: 90%;
            margin-left:45px;

            .filterSignalerContent {
                display: table-cell;
                /*float: left;*/
                width: 20%;
                padding: 10px;
                height: 280px;
                text-align: center;
                padding-right: 25px;
                padding-left: 25px;
        


            ul {
                list-style-type: none;
                padding:0;

                li {
                    .img-responsive {
                        width: 160px;
                        height: 160px; //250250  300
                        margin-top:20px;
                        margin-left: 23%;

                        @media (max-width:414px) {
                            width: 160px;
                            height: 160px;
                        }
                    }
                    .filtertitle {
                        font-weight: 600;
                        font-size: $font-size-22;
                        padding-bottom: 40px;
                        padding-top: 40px;
                   }
                }
                .Viewdetail {
                    margin-top:25px;
                    
    
                      a {
                           font-size: $font-size-18;
                           text-align: center;
                           color:$color-brand;
                           text-decoration: none;
                           margin-left: 20px;
                         } 
                      a:hover, a:active {
                           color: #577a08;
                           text-decoration: none;
                           touch-action: manipulation;
                           cursor: pointer;
                       }
                }
            }
            }

            
        }
    }
    .filterSignalerContent:hover {
    cursor: pointer;
    transition: box-shadow 400ms cubic-bezier(0.4,0.0,0.2,1);
    box-shadow: 0 3px 3px 3px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)/*0px 0px 5px 5px #e8e8e8*/;
    }
}


.scrollable > div:nth-child(odd) {
    background-color: #ccc;
}

.window {
    position: fixed;
    display: inline-block;
    float: right;
    right: 10px;
    z-index: 1;
    /*@media (max-width:414px) {
        right: 10px;
    }

    @media (max-width: 320px) {
        right: 10px;
    }*/
}

.sale-messages {
    .sale-off {
        background-color: $color-background-dark;
        height: 35px;

        .sale-off-info {
            width: 400px;
            margin-left: 10%;
            height: 35px;
            -webkit-transform: skew(50deg);
            -moz-transform: skew(50deg);
            -o-transform: skew(50deg);
            background-color: $color-brand;
        }
    }


    .first {
        color: white;
        position: absolute;
        font-size: 12px;
        font-weight: 700;
        margin-top: -45px;
        margin-left: 15px;
        word-wrap: break-word;
        width: 90px;
    }

    .second {
        color: white;
        position: absolute;
        font-size: 25px;
        font-weight: 700;
        margin-top: -35px;
        margin-left: 200px;
        width: 400px;
    }

    .third {
        color: white;
        position: absolute;
        font-size: 18px;
        font-weight: 700;
        margin-top: -30px;
        margin-left: 660px;
        width: 400px;
    }
}
