﻿<div class="row">
    <div class="sale-messages hidden-sm hidden-xs visible-lg-block visible-md-block">
        <div class="sale-off">
            <div class="sale-off-info" style="margin-top:-15px;"></div>
        </div>
    </div>
</div>
<div class="row filterSignaler" *ngIf="showFilterSignaler && filterSignalerGroup">
    <div class="row titleSignaler">{{filterSignalerTitle}}</div>
    <div class="row filterDetails">
        <div class="filterSignalerContent" *ngFor="let detail of filterSignalerGroup.filterDetails">
            <div class="row col-item" (click)="view(detail)">
                <ul>
                    <li>
                        <span class="filtertitle">{{detail.filterDetailName}}</span>
                    </li>
                    <li>
                        <div class="row" *ngIf="detail.filterDetailDesc">
                            <div class="col-lg-12">
                                <span class="">{{detail.filterDetailDesc}}</span>
                            </div>
                            <div class="col-lg-12">
                                <img class="img-responsive" [attr.src]="'../images/' + detail.filterDetailName + '.jpg'" />
                            </div>
                        </div>
                        <div class="row" *ngIf="!detail.filterDetailDesc">
                            <div class="col-lg-12">
                                <img class="img-responsive" [attr.src]="'../images/' + detail.filterDetailName + '.jpg'" />
                            </div>
                        </div>
                        <div class="row Viewdetail col-lg-12">
                            <a>View</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row products" *ngIf="showProducts">
    <div class="col-lg-2 col-md-2 visible-md-block visible-lg-block left">
        <div class="panel-group" id="accordion" *ngIf="!departments || departments.length == 0">
            <div *ngFor="let item of filterGroups;let idx = index">
                <div class="panel panel-default" *ngIf="(!classId || !((classId == '12' || classId == '14') && item.filterDetails && item.filterDetails.length > 0 && (item.filterGroupName == signalerType ||  item.filterGroupName == signalerSystem))) && item.filterDetails && item.filterDetails.length > 0">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" onclick="return false" href="#filterGroup{{item.filterGroupId}}" (click)="chooseFilter(item)">{{item.filterGroupName}}</a>
                        </h4>
                    </div>
                    <div id="filterGroup{{item.filterGroupId}}" class="panel-collapse collapse" [ngClass]="item.active ? 'in' : ''">
                        <div class="panel-body">
                            <div>
                                <div class="checkbox" *ngFor="let itemDetail of item.filterDetails">
                                    <label *ngIf="itemDetail.filterCount > 0">
                                        <input type="checkbox" (click)="filterTick(itemDetail)" id="itemDetail{{itemDetail.filterDetailId}}" [(ngModel)]="itemDetail.show"
                                        /> {{itemDetail.filterDetailName}}
                                        <span class="filterCount">({{itemDetail.filterCount}})</span>
                                    </label>
                                </div>
                                <div class="pricefilter">
                                    <div *ngIf="item.filterGroupName =='Price'">
                                        <div class="pull-left" style="margin-top: 10px;">
                                          $&nbsp;<input type="number" min="0" [(ngModel)]="fromPrice" />
                                        </div>
                                        <div class="pull-left" style="margin-top: 10px;">&nbsp;&nbsp;&nbsp;</div>
                                        <div class="pull-left" style="margin-top: 10px;">
                                          to $&nbsp;
                                          <input type="number" min="0" [(ngModel)]="toPrice" />
                                          <button class="btn" type="button" (click)="goPriceFilter(item, fromPrice, toPrice)" id="itemDetai0">Go</button>
                                        </div>
                                      </div>
                                </div>
                                <button class="btn" (click)="clearFilterByGroupId(item)" style="margin-top: 10px;">Clear</button>
                                <a *ngIf="item.filterDetails.length > limit" (click)="loadMore()" style="margin-top: 10px;">Load more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-11 col-xs-11 right">
        <div class="row title">{{title}}</div>
        <section class="row status visible-sm-block visible-md-block visible-lg-block">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <span>
                    <strong>{{totalItems}} </strong>items</span>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8" style="text-align:right;">
                <strong>Sort By &nbsp;</strong>
                <select (change)="changeSortBy($event.target.value)">
                    <option value="0" selected> New & Bestselling </option>
                    <option value="1"> Avg. Customer Rating </option>
                    <option value="2"> Price (low to high) </option>
                    <option value="3"> Price (high to low) </option>
                    <option value="4"> Newest to Oldest </option>
                </select>
            </div>
            <div class="col-sm-2 visible-sm-block hidden-md hidden-lg">
                <a (click)="openFilter()">
                    <strong>Filter &nbsp;</strong>
                </a>
            </div>
        </section>
        <section class="row status visible-xs-block">
            <div class="col-xs-6">
                <span>
                    <strong>{{totalItems}} </strong>items</span>
            </div>
            <div class="col-xs-3">
                <a (click)="showSortByDropdown()">Sort</a>
                <div id="sortBy" class="dropdown-content" [style.visibility]="sortByDropdown">
                    <a (click)="changeSortBy(0)">New & Bestselling</a>
                    <a (click)="changeSortBy(1)">Avg. Customer Rating</a>
                    <a (click)="changeSortBy(2)">Price (low to high)</a>
                    <a (click)="changeSortBy(3)">Price (high to low)</a>
                    <a (click)="changeSortBy(4)"> Newest to Oldest</a>
                </div>
            </div>
            <div class="col-xs-3">
                <a data-toggle="modal" data-target="#filter" (click)="openFilter()">Filter</a>
            </div>
        </section>
        <div>
            <list-item *ngFor="let item of buffer" [item]="item"> </list-item>
        </div>
    </div>
    <div id="scrollable" class="col-xs-1 scrollable window" *ngIf="totalItems > bufferSize">
        <ng-pagination [bufferSize]="bufferSize" [lastScrollTop]="lastScrollTop" [loading]="loading" [totalItems]="totalItems" [(ngModel)]="currentPage"
            [maxSize]="maxSize" (pageChanged)="pageChanged($event)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="First"
            last-text="Last">
        </ng-pagination>
    </div>
    <div id="filter" class="modal" role="dialog" tabindex="-1" aria-hidden="true" [ngStyle]="{'display':displayFilter}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="viewProducts()">×</button>
            </div>
            <div class="modal-body">
                <div class="panel-group" id="accordion">
                    <div *ngFor="let item of filterGroups">
                        <div class="panel panel-default" *ngIf="(!classId || !((classId == '12' || classId == '14') && (item.filterGroupName == signalerType ||  item.filterGroupName == signalerSystem))) && item.filterDetails && item.filterDetails.length > 0">
                            <div class="panel-heading" *ngIf="item.filterDetails && item.filterDetails.length > 0">
                                <h4 class="panel-title">
                                    <a (click)="chooseFilter(item)">
                                        {{item.filterGroupName}}
                                    </a>
                                </h4>
                            </div>
                            <div id="filterGroup{{item.filterGroupId}}" class="panel-collapse" [ngClass]="item.active ? 'in' : 'collapse'" *ngIf="item.filterDetails && item.filterDetails.length > 0">
                                <div class="panel-body">
                                    <div class="checkbox" *ngFor="let itemDetail of item.filterDetails">
                                        <label *ngIf="itemDetail.filterCount > 0">
                                            <input type="checkbox" (click)="filterMobiTick(itemDetail)" id="itemDetail{{itemDetail.filterDetailId}}" [(ngModel)]="itemDetail.show"
                                            /> {{itemDetail.filterDetailName}}
                                            <span class="filterCount">({{itemDetail.filterCount}})</span>
                                        </label>
                                    </div>
                                    <div class="pricefilter">
                                            <div *ngIf="item.filterGroupName =='Price'" class="row">
                                                    <div class="pull-left">
                                                      $&nbsp;<input type="number" min="0" [(ngModel)]="fromPrice" />
                                                    </div>
                                                    <div class="pull-left">&nbsp;&nbsp;&nbsp;</div>
                                                    <div class="pull-left">
                                                      to $&nbsp;
                                                      <input type="number" min="0" [(ngModel)]="toPrice" />
                                                      <button class="btn" type="button" (click)="goPriceFilter(item, fromPrice, toPrice)" id="itemDetai0">Go</button>
                                                    </div>
                                                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-brand btn-clear" (click)="clear()">Clear</button>
                <button type="button" class="btn btn-brand btn-fliter" data-dismiss="modal" (click)="viewProducts()">View Products</button>
            </div>
        </div>
    </div>
</div>

<div id="mainMenuFilter" class="menu-mobile visible-xs-inline visible-sm-inline">
    <div class="list-group panel sort" [ngClass]="showMenuFilter ? 'show' : 'hidden'">
        <a class="list-group-item" (click)="showSortByDropdownMenu()">
            <span class="glyphicon title-filter">
                Sort
            </span>
        </a>
        <div id="sortByMenu" class="dropdown-content" [style.visibility]="sortByDropdownMenu" style="position: inherit;">
            <a (click)="changeSortBy(0)">New & Bestselling</a>
            <a (click)="changeSortBy(1)">Avg. Customer Rating</a>
            <a (click)="changeSortBy(2)">Price (low to high)</a>
            <a (click)="changeSortBy(3)">Price (high to low)</a>
            <a (click)="changeSortBy(4)"> Newest to Oldest</a>
        </div>
    </div>
    <div class="list-group panel filter" [ngClass]="showMenuFilter ? 'show' : 'hidden'">
        <a class="list-group-item" (click)="openFilter()">
            <span class="glyphicon title-filter">
                Filter
            </span>
        </a>
    </div>
</div>