<div class="row">
    <div class="sale-messages hidden-sm hidden-xs visible-lg-block visible-md-block">
        <div class="sale-off">
            <div class="sale-off-info" style="margin-top:-15px;"></div>
        </div>
    </div>
</div>
<div class="row contactus">
    <div id="nxt-refines"></div>
    <div id="nxt-content"></div>

    <div class='row contact-us-send-message'>
        <div class="row">
            <img class="img-responsive" src="../images/customer-service-team.jpg" />
        </div>
        <div class="row content">
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                <img src="./images/greenarrowleft.gif" />
            </div>
            <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
                <div class="row text-center">
                    <h1><strong>How Can We Help?</strong> </h1>
                </div>
                <div class="row info">
                    <p>
                        With combined experience of 50 years, we know how to get the answers you need and find the best product for any situation. Serving the <strong>Deaf</strong> and <strong>HOH</strong> community is what we do best and we look forward to providing you the highest level of expertise and quality service.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 text-right">
                <img src="./images/greenarrowright.gif" />
            </div>
        </div>
    </div>
             
    <div class="row contact-information">
        <h4 class="title title-bar"><span>Contact Information</span></h4>
        <div class="flex-row row first-child">
            <div class="col-xs-12 col-sm-6 col-lg-4 col-md-4">
                <div class="info">
                    <h2>Voice</h2>
                    <p>
                        <span>
                            <strong>800-825-6758 (Toll Free)</strong>
                        </span><br>
                        <span>
                            <strong>952-906-1180 (Local)</strong>
                        </span>
                    </p>
                    <p>
                        M-F: 8 AM - 5:30 PM CST<br>
                        SAT: 9 AM - 12 PM CST
                    </p><p>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 col-md-4">
                <div class="info">
                    <h2 class="vp">VP (Deaf)</h2>
                    <p>
                        <span>
                            <strong>952-388-2152 (Toll Free)</strong>
                        </span>
                    </p>
                    <p>
                        M-F: 9 AM - 4 PM CST
                    </p>
                    <h2 class="tty">TTY</h2>
                    <p>
                        <span>
                            <strong>800-825-9187</strong>
                        </span>
                    </p>
                    <p>
                        M-F: 8 AM - 5:30 PM CST<br>
                        SAT: 9 AM - 12 PM CST
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 col-md-4">
                <div class="info">
                    <h2>Live Chat</h2>
                    <p><strong>Click the icon in the lower right corner of the page</strong></p>
                    <p>M-F: 9 AM - 5 PM CST</p>
                </div>
            </div>
        </div>
        <div class="flex-row row last-child">
            <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4">
                <div class="info">
                    <h2>Email</h2>
                    <p>
                        <a href="mailto:">
                            <strong>info@harriscomm.com</strong>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4">
                <div class="info">
                    <h2>Text Message</h2>
                    <p>
                        <span>
                            <strong>952-260-1400</strong>
                        </span>
                    </p>
                    <p>M-F: 9 AM - 5 PM CST</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4">
                <div class="info">
                    <h2>Fax</h2>
                    <p>
                        <strong>(952) 906-1099</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row office-information">
        <h4 class="title title-bar"><span>Office / Showroom Hours</span></h4>
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
            <div class="address">
                <h2>Mailing Address &amp; Showroom</h2>
                <p>15155 Technology Drive<br>Eden Prairie, MN 55344</p>
                <p>If you're in the Minneapolis area, visit our showroom and try our products for yourself! We're located just 12 miles from the MSP International Airport!</p>
                <p><strong>Showroom hours:<br></strong>M - F: 9 AM to 5 PM<br>SAT: 9 AM to 12 PM</p>
                <p><a class="btn btn-brand" href="https://www.google.com/maps/dir//15155+Technology+Dr,+Eden+Prairie,+MN+55344" target="_blank">Get Directions</a></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
            <div id="map"></div>
        </div>
    </div>
 
</div>
