﻿@import './../../../styles/globals.scss';

.contact-us {
    margin-top: 30px;
    font-size: 20px;
    color:#636363;
.img-responsive {margin-left:400px;}
     .content {
            font-size: $font-size-20;
            margin-top: 10px;

            img {
                width: 50%;
            }

            .info {
                margin-top:20px;
            }
        }
    input {
        height: 48px;
    }

    h1 {
        color: $color-background-dark;
        font-size: 38px;
        font-weight: 700;
        transition: color 500ms,font-size 500ms;
        padding-bottom: 3px;
        margin-bottom: 15px;
    }

    p {
        margin: 0 0 1.5em;
    }

    .title-bar {
        background: $color-foreground-dark;
        color: $color-foreground-bright;
        padding: 15px;
        position: relative;
        text-align: center;
        font-size: 28px;

        :after {
            background: $color-foreground-dark;
            content: "";
            display: block;
            bottom: -15px;
            height: 30px;
            left: 50%;
            margin-left: -15px;
            position: absolute;
            transform: rotate(45deg);
            width: 30px;
        }
    }

    .contact-information {
        border: 1px solid #d7d7d7;
        border-bottom: none;

        h4 {
            /*text-transform: uppercase;*/
            margin-top: 0;
        }

        .info {
            margin: 0 auto;
            max-width: 270px;
            padding: 20px;
            width: 100%;

            h2 {
                color: #333333;
                /*text-transform: uppercase;*/
                font-weight: 700;
                font-size: 20px;
            }
            span {color: $color-brand;

            } 

            a {
                color: $color-brand; //$color-background-dark;
                text-decoration: none;
                transition: color 500ms;
            }

            p {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
        }

        .first-child {
            border-bottom: 1px solid #d7d7d7;
            margin-left: 0;
            margin-right: 0;
        }

        .last-child {
            border-bottom: none;
            margin-left: 0;
            margin-right: 0;
        }

        .flex-row {

            .col-xs-4, .col-sm-4, .col-lg-4, .col-md-4 {
                border-right: 1px solid #d7d7d7;
                margin-top: -10px;
                height: 313px;
            }

            .col-xs-4:first-child, .col-sm-4:first-child, .col-lg-4:first-child, .col-md-4:first-child {
                border-left: none;
            }

            .col-xs-4:last-child, .col-sm-4:last-child, .col-lg-4:last-child, .col-md-4:last-child {
                border-right: none;
            }

            .col-xs-12 {
                border-bottom: 1px solid #d7d7d7;
            }
        }
    }

    .office-information {
        margin-top: -10px;

        h4 {
            margin-bottom: 50px;
        }

        h2 {
            font-size: 20px;
            font-weight: 700;
            transition: color 500ms,font-size 500ms;
        }

        .address {
            text-align: right;
             .btn-brand {
                    background-color: $color-brand;
                    border: 1px solid;
                    font-size: 20px;
                    width: 200px;
                    padding: 8.5px;
                    height: 48px;
                    box-shadow: inset 0px 1px 1px #a4e388;
                    border-color: #3b6e22 #3b6e22 #2c5115;
                    color: #fff;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                     margin-top: 10px;
                }
                 .btn-brand:hover, .btn-brand:active {
                      background: linear-gradient(#3d5505,#719f08);
                      /*background-color: #577a08;*/   
                      text-decoration: none;
                     }
        }
    }
    .contact-us-send-message {
        margin-bottom: 30px;
    }

    #map {
        height: 500px;
    }
}
.sale-messages {
    .sale-off {
        background-color: $color-background-dark;
        height: 35px;

        .sale-off-info {
            width: 400px;
            margin-left: 10%;
            height: 35px;
            -webkit-transform: skew(50deg);
            -moz-transform: skew(50deg);
            -o-transform: skew(50deg);
            background-color: $color-brand;
        }
    }


    .first {
        color: white;
        position: absolute;
        font-size: 12px;
        font-weight: 700;
        margin-top: -45px;
        margin-left: 15px;
        word-wrap: break-word;
        width: 90px;
    }

    .second {
        color: white;
        position: absolute;
        font-size: 25px;
        font-weight: 700;
        margin-top: -35px;
        margin-left: 200px;
        width: 400px;
    }

    .third {
        color: white;
        position: absolute;
        font-size: 18px;
        font-weight: 700;
        margin-top: -30px;
        margin-left: 660px;
        width: 400px;
    }
}
