﻿@import './../../../styles/globals.scss';

.sale-messages {
    .sale-off {
        background-color: $color-background-dark;
        height: 35px;

        .sale-off-info {
            width: 400px;
            margin-left: 10%;
            height: 35px;
            -webkit-transform: skew(50deg);
            -moz-transform: skew(50deg);
            -o-transform: skew(50deg);
            background-color: $color-brand;
        }
    }


    .first {
        color: white;
        position: absolute;
        font-size: 12px;
        font-weight: 700;
        margin-top: -45px;
        margin-left: 15px;
        word-wrap: break-word;
        width: 90px;
    }

    .second {
        color: white;
        position: absolute;
        font-size: 25px;
        font-weight: 700;
        margin-top: -35px;
        margin-left: 200px;
        width: 400px;
    }

    .third {
        color: white;
        position: absolute;
        font-size: 18px;
        font-weight: 700;
        margin-top: -30px;
        margin-left: 660px;
        width: 400px;
    }
}
