﻿<div class="sale-messages hidden-sm hidden-xs visible-lg-block visible-md-block">
    <div class="sale-off">
        <div class="sale-off-info" style="margin-top:-15px;"></div>
    </div>
    <div>
        <!--<span class="first">LAST DAY!</span>-->
        <!--<span class="second">10% OFF Storewide!</span>
        <span class="third">FREE Ground Shipping & Returns</span>-->
    </div>
</div>