﻿@import './../../../styles/globals.scss';

.productRelatedMobi {
    margin-bottom: 30px;

    .carousel-indicators {
        display: none;
    }

    .carousel-inner {
        display: flex;
        margin: 0 auto;
    }

    ul {
        display: table;
        margin: 0 auto;
        list-style: none;
        width: 100%;
        padding: 0;
    }

    ul > li {
        display: table-cell;
        vertical-align: middle;
    }


    .carousel-control {
        position: inherit;
        color: $color-foreground-dark;
    }

    .carousel-control.prev {
        font-size: 40px;
    }

    .carousel-control.next {
        font-size: 40px;
    }

    list-item {
        display: inline-block;
        /*overflow: hidden;*/
        vertical-align: top;
        /*border: 0;*/
        margin: 0px;
        /*width: 25%;

        @media (max-width:766px) {
            width: 100%;
        }

        @media (max-width:767px) {
            width: 50%;
        }


        @media (min-width:767px) {
            width: 50%;
        }

        @media (max-width:992px) {
            width: 33.3%;
        }*/
    }

    .item {
        width: 100%;
    }

    .description {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 13px;

        .title {
            font-size: 24px;
            font-weight: 700;
        }
    }

    @media (max-width:414px) {
        .glyphicon {
            font-size: 15px;
        }
    }
}
