﻿<div class="productRelated hidden-sm hidden-xs visible-lg-block visible-md-block" *ngIf="productRelateds && productRelateds.length > 0">
    <p class="description">
        <span class="title">Products related to this item (This item only work with these products below)</span>
    </p>
    <ul>
        <li style="width:5%;">
            <a class="carousel-control prev" role="button" data-slide="prev"  (click)="prev()">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li style="width:90%;">
            <div id="carousel-productRelateds" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div *ngFor="let chunk of chunks(5); let i = index" [class]="i ==  bufferSize? 'item active':'item'">
                        <list-item-product-related *ngFor="let range of createRange(5); let j = index" [item]="productRelateds[i*5 + j]">
                        </list-item-product-related>
                    </div>
                </div>
            </div>
        </li>
        <li style="width:5%;text-align: right;">
            <a class="carousel-control next" role="button" data-slide="next" (click)="next()">
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>