﻿@import './../../../../../../../styles/globals.scss';

:host {
    .productRelated {
        margin-bottom:30px;
        text-align: center;
        .carousel-indicators {
            display: none;
        }

        .carousel-inner {
            display: flex;
            margin: 0 auto;
        }

        ul {
            display: table;
            margin: 0 auto;
            list-style: none;
            width: 100%;
            padding: 0;
        }

        ul > li {
            display: table-cell;
            vertical-align: middle;
        }

        .productDesc {
            margin-top: -15px;
        }

        .carousel-control {
            position: inherit;
            color: $color-foreground-dark;
        }

        .carousel-control.prev {
            font-size: 40px;
        }

        .carousel-control.next {
            font-size: 40px;
        }

        .img-responsive {
            width: 160px;
            height: 160px;
        }

        list-item-product-related {
            display: inline-block;
            /*overflow: hidden;*/
            vertical-align: top;
            /*border: 0;*/
            margin: 0px;
            // width: 20%;  Tu

            // @media (max-width:666px) {
            //     width: 100%;
            // }
        }

        .item {
            width: 100%;
        }

        .description {
            margin-top: 20px;
            margin-bottom:30px;
            margin-left:13px;
            .title {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}
