<div class="row footer visible-lg-block visible-md-block">
    <div class="row footer-menu">
        <div class="col-lg-3  col-md-4  product-show">
            <div class="row"><span class="title"><strong>Product Showroom </strong> </span></div>
            <div class="row info buttons">
                <p>
                    <strong>
                        15155 Technology Dr
                    </strong>
                </p>
                <p>
                    <strong>
                        Eden Prairie, MN 55344
                    </strong>
                </p>
                <p>
                    <strong>
                        9 a.m.-5p.m. Weekdays
                    </strong>
                </p>
                <p>
                    <strong>
                        9-Noon Saturdays
                    </strong>
                </p>
                <!--<p>
                    <br /><strong>Get Directions</strong>
                </p>-->
                <p><a class="btn btn-primary btn-direction" href="https://www.google.com/maps/dir//15155+Technology+Dr,+Eden+Prairie,+MN+55344" target="_blank">Get Directions</a></p>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 right quick_links">
            <div class="row"><span class="title"><strong>Quick Links</strong> </span></div>
            <div class="row info">
                <p>
                    <a class="link" (click)="show_catalog_request()">Catalog Request</a>
                </p>
                <p>
                    <a [routerLink]="['helpful-resources']">Helpful Resources</a>
                </p>
                <p>
                    <a [routerLink]="['contact-us']">Contact Us</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 right customer-suport">
            <div class="row hidden-md"><span class="title"><strong>Customer Support</strong> </span></div>
            <div class="row hidden-lg"><span class="title"><strong>Customer </strong> </span></div>
            <div class="row info">
                <p>
                    <a [routerLink]="['ordering-information']">
                        Orders, Shipping & Returns
                    </a>
                </p>
                <!--<p>
                    Shipping
                </p>-->

            </div>
        </div>

        <div class="col-lg-2 col-md-2 right hidden-md">
            <div class="row"><span class="title"><strong>Dealer & Vendor</strong> </span></div>
            <div class="row info">
                <p>
                    Become a Reseller
                </p>
                <p>
                    Vendor Inquiry
                </p>
                <p>
                    Tradeshow & Donation
                </p>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 follow-us right">
            <div class="row">
                <span class="title"><strong>Follow Us</strong></span>
                <a href="#"><i class="fa fa-bitbucket" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
            <div class="row info">

                <p>
                    <img src="./images/logo_paypal.png" />
                    <img src="./images/logo_affirm.png" />
                    <img src="./images/logo_bbb.png" />
                    <img src="./images/logo_norton.png" />
                </p>

            </div>
        </div>

    </div>
    <div class="row copyright">
        <div class="col-lg-6 col-md-6">
            <p>
                @2017 Harris Communications, Inc. All Rights Reserved.
            </p>

        </div>
        <div class="col-lg-3 col-md-3">
            <a [routerLink]="['condition']"> Conditions Of Use </a>
        </div>
        <div class="col-lg-3 col-md-3">
            <a [routerLink]="['privacy']"> Privacy Policy </a>
        </div>
    </div>
    <button onclick="topFunction()" id="Btntotop" title="Go To Top"><span class="glyphicon glyphicon-chevron-up"></span></button>
</div>
<div class="row footer visible-sm-block">
    <div class="row footer-menu">
        <div class="col-sm-3 right quick_links">
            <div class="row"><span class="title"><strong>Quick Links</strong> </span></div>
            <div class="row info">
                <p>
                    <a class="link" (click)="show_catalog_request()">Catalog Request</a>
                </p>
                <p>
                    <a [routerLink]="['helpful-resources']">Helpful Resources</a>
                </p>
                <p>
                    <a [routerLink]="['contact-us']">Contact Us</a>
                </p>
            </div>
        </div>

        <div class="col-sm-3 right customer-suport">
            <div class="row hidden-md"><span class="title"><strong>Customer</strong> </span></div>
            <div class="row info">
                <p>
                    <a [routerLink]="['ordering-information']">
                        Orders, Shipping & Returns
                    </a>
                </p>
                <!--<p>
                    Shipping
                </p>-->

            </div>
        </div>
        <div class="col-sm-6 follow-us right">
            <div class="row">
                <span class="title"><strong>Follow Us</strong></span>
                <a href="#"><i class="fa fa-bitbucket" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
            <div class="row info">

                <p>
                    <img src="./images/logo_paypal.png" />
                    <img src="./images/logo_affirm.png" />
                    <img src="./images/logo_bbb.png" />
                    <img src="./images/logo_norton.png" />
                </p>

            </div>
        </div>
    </div>
    <div class="row copyright">
        <div class="row">
            <ul>
                <li>   @2017 Harris Communications, Inc. All Rights Reserved.</li>
                <li> <a [routerLink]="['condition']"> Conditions Of Use </a></li>
                <li> <a [routerLink]="['privacy']"> Privacy Policy </a></li>
            </ul>
        </div>
    </div>
    <button onclick="topFunction()" id="Btntotop" title="Go To Top"><span class="glyphicon glyphicon-chevron-up"></span></button>
</div>

<div class="row footer visible-xs-block">
    <div class="row footer-menu">
        <div class="row">
            <div class="col-xs-6 col-sm-6 right footer-padding">
                <div class="row"><span class="title"><strong>Quick Links</strong> </span></div>
                <div class="row info">
                    <p>
                        <a class="link" (click)="show_catalog_request()">Catalog Request</a>
                    </p>
                    <p>
                        <a [routerLink]="['helpful-resources']">Helpful Resources</a>
                    </p>
                    <p>
                        <a [routerLink]="['contact-us']">Contact Us</a>
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 right footer-padding">
                <div class="row">
                    <div class="row"><span class="title"><strong>Customer</strong> </span></div>
                    <div class="row info">
                        <p>
                            <a [routerLink]="['ordering-information']">
                                Orders, Shipping & Returns
                            </a>
                        </p>
                        <!--<p>
                            Shipping
                        </p>-->

                    </div>
                </div>
            </div>
        </div>
        <div class="row follow-us-mobi">
            <div class="col-xs-12 col-sm-12">
                <span class="title"><strong>Follow Us</strong></span>
                <a href="#"><i class="fa fa-bitbucket" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="row logos-mobi footer-padding">
            <div class="col-xs-12 col-sm-12 right">

                <img src="./images/logo_bbb.png" />
                <img src="./images/logo_norton.png" />
            </div>
        </div>
    </div>
    <div class="row copyright">
        <div class="row  all-rights-mobi">
            <ul>
                <li> <a [routerLink]="['condition']"> Conditions Of Use </a></li>
                <li> <a [routerLink]="['privacy']"> Privacy Policy </a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 all-rights">
                <span>
                    @2017 Harris Communications, Inc. All Rights Reserved.
                </span>
            </div>
        </div>
    </div>
    <button onclick="topFunction()" id="Btntotop" title="Go To Top"><span class="glyphicon glyphicon-chevron-up"></span></button>
    <!--onTouchStart-->
</div>
