@import './../../../../../styles/globals.scss';
//@import './../../../../../node_modules/font-awesome/css/font-awesome.css';

.footer {
    background-color: #000;
    padding: 15px 0;
    line-height: 1px;
    /*margin-left: 0;
    margin-right: 0;*/

    .glyphicon:before {
        color: #ffffff; //  #b1b1b1;
        font-size: 20px;
    }
    /*.btn {
      padding: 10px 20px;
      background-color: white;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }*/
    .row {
        margin: 0;
    }

    .footer-menu {
        border-bottom: 1px solid $color-foreground-bright;
        margin-bottom: 15px;
        /*height:220px;*/
        @media (min-width:567px) {
            .col-xs-6 {
                width: 26%;
            }
        }

        .product-show {
            font-size: $font-size-26;
            line-height: 200%;
            text-align: right;
            padding-right: 3%;
            margin-bottom: 10px;

            .title {
                color: #719f0a;
            }

            .info {
                font-size: 18px;
                line-height: 200%;
                color: #ffffff;

                p {
                    line-height: 80%;
                }
            }

            .buttons {
                .btn-direction {
                    background-color: $color-brand;
                    border: 1px solid $color-brand;
                    font-size: 20px;
                    width: 200px;
                    padding: 8.5px;
                    height: 48px;
                    box-shadow: inset 0px 1px 1px #a4e388;
                    border-color: #3b6e22 #3b6e22 #2c5115;
                    color: #fff;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                }

                .btn-direction:hover, .btn-direction:active {
                    background: linear-gradient(#3d5505,#719f08);
                    /*background-color: #577a08;*/
                    text-decoration: none;
                }
               
            }
        }

        .right {
            line-height: 400%;
            text-align: left;
            color: #b1b1b1;
            padding: 0;
          
            .row {
                margin-left: 0;
                margin-right: 0;
            }

            .title {
                font-size: $font-size-20;
            }

            .info {
                line-height: 200%;
                font-size: 14px;
                margin-top: -15px;

                p {
                    line-height: 100%;

                    a {
                        color: #b1b1b1;
                        text-decoration: unset;
                    }

                    a:hover, a:active {
                        color: #ffffff;
                    }
                   
                }
            }
        }

        .footer-padding {
            padding-left: 15px;
            padding-right: 15px;
        }

        .about-us {
            padding-left: 30px;
        }


        .customer-suport {
           
        }

        .quick_links {
            padding-left: 10px;
        }
    }

    .logos {
        text-align: right;
        padding: 2% 5% 2% 5%;

        @include breakpoint(xs) {
            text-align: left;
        }

        a {
            color: #ffffff;
            padding: 0 1% 0 1%;
            vertical-align: bottom;
        }

        img {
            vertical-align: bottom;
        }
    }

    .all-rights-mobi {
        a{
            line-height:20px;
        }
        @media (min-width: 567px) {
            float: right;
        }
    }

    .copyright {
        color: #b1b1b1;
        text-align: left;
        font-size: 13px;
        margin-top: 25px;
        margin-left: 5px;
        margin-bottom: 25px;

        a {
            color: #b1b1b1;
            text-decoration: unset;
             /*line-height: 20px;*/
        }

        a:hover, a:active {
            color: #ffffff;
        }

        ul {
            padding: 0;

            li {
                display: table-cell;
                padding-right: 15px;

                @include breakpoint(sm) {
                    padding-right: 40px;
                }
            }
        }

        .all-rights {
            padding: 0;
            line-height: 5px;
            margin-bottom: 15px;

            @media (min-width: 567px) {
                margin-top: -12px;
                margin-right: 5px;
            }
        }

        @include breakpoint(xs) {
            @media (min-width: 320px) {
                font-size: 11px;
            }

            margin-left: 15px;
        }
    }

    .follow-us {
        color: #b1b1b1;
        font-size: 17px; //16
        margin-top: -6px;

        a {
            color: $color-foreground-bright;
            margin-left: 5px;
        }
    }

    .follow-us-mobi {
        color: #b1b1b1;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 15px;

        @media (min-width:567px) {
            margin-top: -95px;
            float: right;
        }

        a {
            color: $color-foreground-bright;
            margin-left: 5px;
        }
    }

    .logos-mobi {
        margin-bottom: 15px;

        @media (min-width:567px) {
            margin-top: -55px;
            float: right;
        }
    }
        #Btntotop {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 330px; /* Place the button at the bottom of the page */
        right: 5px; /* Place the button 30px from the right */
        /*z-index: 99;*/  /*Make sure it does not overlap 99*/
        border: 1px solid $color-brand; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: $color-brand; /*rgba(0, 0, 0, 0.7);yes Set a background color#000*/
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius:30px; /* Rounded corners */
    }

    #Btntotop:hover {
        background: linear-gradient(#3d5505,#719f08); // add a dark-grey background on hover
    }

}
