﻿<div class="my-wish-list">
    <ul>
        <li class="title">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <span>My WishList</span>
        </li>
        <li>           
            <div class="row">
                <div class="col-lg-12 product-list" id="productList">
                    <div class="row header">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            Price
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            Qty
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            Remove
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1">
                            Add To Card
                        </div>
                    </div>
                    <div class="row contents" *ngFor="let wishList of wishLists;let i = index">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <img *ngIf="wishList.product.imageMain" class="img-product" [attr.src]="'../images' + wishList.product.imageMain" alt="image" />
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <p><span class="productDesc">{{wishList.product.productDesc}}</span></p>
                            <p>
                                <span class="productSKU"> {{wishList.product.productSKU}} </span>
                            </p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <p>
                                <span class="webPrice number">{{wishList.product.webPrice | currency:'USD':true:'1.2-2'}}</span>
                            </p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <p>
                                <input type="number" class="number" [value]="wishList.wishItemQty" min="1" (change)="changeQty(wishList, qty.value);" #qty />
                            </p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 icon">
                            <i class="fa fa-remove" aria-hidden="true"  (click)="remove(wishList, index)"></i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 icon">
                            <i class="fa fa-shopping-cart" aria-hidden="true" (click)="addToCart(wishList, index)"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" *ngIf="wishLists?.length > 0">
                    <button type="submit" class="btn btn-primary btn-add-cart" (click)="addAllToCart()">Add All To Cart</button>
                    <button type="submit" class="btn btn-primary btn-share-wishlist" (click)="shareWishList()">Share WishList</button> 
                </div>              
            </div>
        </li>
    </ul>

</div>
