@import './../../../styles/globals.scss';

.about {

      @media (max-width:768px) {
        margin-top: 10px;
    }


    .mission {
        padding-bottom: 50px;

        .img-our-team {
            margin: 0 auto;
            display: block;
            width: 911px;
            height: 298px;
        }

        .content {
            font-size: $font-size-20;

            img {
                width: 80%;
            }

            .info {
                color: #636363;
            }
        }
    }

    .meet-our-team {

        h4 {
            margin-bottom: 35px;
        }

        .flex-row {
            padding: 10px 5%;
        }

        .title-bar {
            background: $color-foreground-dark;
            color: $color-foreground-bright;
            padding: 20px;
            position: relative;
            text-align: center;

            :after {
                background: $color-foreground-dark;
                content: "";
                display: block;
                bottom: -15px;
                height: 30px;
                left: 50%;
                margin-left: -15px;
                position: absolute;
                transform: rotate(45deg);
                width: 30px;
            }
        }

        .card {
            @media (min-width: 567px) {
                text-align: -webkit-center;
            }

            .img-box {
                border: 10px solid transparent;
                margin: 0 0 45px;
                max-width: 100%;
                position: relative;
                transition: border-color 250ms;
                width: 300px;

                img {
                    border: 1px solid #ebe9e9;
                    display: block;
                    max-width: 100%;
                }
            }

            .img-box:hover {
                border-color: #ebe9e9;
            }

            .img-box:hover:after {
                opacity: 1;
            }

            .img-box:after {
                background: url(/images/arrow.png) no-repeat;
                content: "";
                display: block;
                bottom: -52%;
                height: 100%;
                position: absolute;
                width: 100%;
                transform: rotate(-90deg) scale(0.3);
                opacity: 0;
            }

            .card-block {
                .card-title {
                    font-weight: 700;
                    color: $color-brand;
                    font-size: $font-size-24;
                }

                .card-text {
                    font-size: $font-size-20;
                    font-weight: 700;
                }
            }
        }

        .card-info {
            left: 0;
            text-decoration: none;
            color: rgb(115, 119, 122);
            font-size: $font-size-20;

            p {
                color: inherit;
                font-size: inherit;
                font-style: normal;
                line-height: inherit;
            }

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
            }

            .info-close {
                float: left;
                color: $color-foreground-dark;
                font-size: 18px;
                font-weight: 700;
                margin-top: 20px;
            }

            .info-close:before {
                color: $color-brand;
                content: "X";
                display: inline-block;
                font-size: 21px;
                font-weight: 700;
                margin: 0 20px 0 0;
            }
        }
    }
}
.sale-messages {
    .sale-off {
        background-color: $color-background-dark;
        height: 35px;

        .sale-off-info {
            width: 400px;
            margin-left: 10%;
            height: 35px;
            -webkit-transform: skew(50deg);
            -moz-transform: skew(50deg);
            -o-transform: skew(50deg);
            background-color: $color-brand;
        }
    }


    .first {
        color: white;
        position: absolute;
        font-size: 12px;
        font-weight: 700;
        margin-top: -45px;
        margin-left: 15px;
        word-wrap: break-word;
        width: 90px;
    }

    .second {
        color: white;
        position: absolute;
        font-size: 25px;
        font-weight: 700;
        margin-top: -35px;
        margin-left: 200px;
        width: 400px;
    }

    .third {
        color: white;
        position: absolute;
        font-size: 18px;
        font-weight: 700;
        margin-top: -30px;
        margin-left: 660px;
        width: 400px;
    }
}