﻿<div class="row">
    <div class="sale-messages hidden-sm hidden-xs visible-lg-block visible-md-block">
        <div class="sale-off">
            <div class="sale-off-info" style="margin-top:-15px;"></div>
        </div>
        <div>
            <!--<span class="first">LAST DAY!</span>-->
            <!--<span class="second">10% OFF Storewide!</span>
            <span class="third">FREE Ground Shipping & Returns</span>-->
        </div>
    </div>
</div>
<div class="row condition">
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="title">
            <h1>Conditions of Use</h1>
        </div>
        <div class="std">
            <p>Welcome to the Harris Communications website, <a href="www.harriscomm.com">www.harriscomm.com</a>. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Harris Communications relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website. Harriscomm.com provides its services to you subject to the following notices, terms, and conditions.</p>
            <h2>Copyright</h2>
            <p>All content included on this site, such as text, graphics, logos, button icons, images, audio clips, video clips, and software, is the property of <a href="www.harriscomm.com">harriscomm.com</a> or its content suppliers and protected by U.S. and international copyright laws. The compilation (meaning the collection, arrangement, and assembly) of all content on this site is the exclusive property of <a href="www.harriscomm.com">Harriscomm.com</a> and protected by U.S. and international copyright laws. All software used on this site is the property of Harriscomm.com or its software suppliers and protected by U.S. and international copyright laws. The content and software on this site may be used as a shopping, selling, and buying resource. Any other use, including the reproduction, modification, distribution, transmission, republication, display, or performance, of the content on this site is strictly prohibited.</p>
            <h2>Use of Site</h2>
            <p>This site or any portion of this site may not be reproduced, duplicated, copied, sold, or resold, or otherwise exploited for any commercial purpose that is not expressly permitted by Harriscomm.com.</p>
            <h2>Disclaimer</h2>
            <p>This site is provided by <a href="www.harriscomm.com">harriscomm.com</a> on an "As is" basis. <a href="www.harriscomm.com">Harriscomm.com</a> makes no representations or warranties of any kind, express or implied, as to the operation of the site or the information, content, materials, or products included on this site, to the full extent permissible by applicable law.</p>
            <p>The materials may contain inaccuracies and typographical or grammatical errors. Harriscomm.com does not warrant the accuracy or completeness of the materials or reliability of any advice, testimonial, opinion, statement or other information displayed or distributed through the site. You acknowledge that any reliance on any such advice, testimonial, opinion, statement or other information shall be at your sole risk.</p>
            <p><a href="www.harriscomm.com">Harriscomm.com</a> reserves the right to correct, in its sole discretion, any errors or omissions in any portion of the site, at any time without notice.</p>
            <p><a href="www.harriscomm.com">Harriscomm.com</a> disclaims all warranties, express or implied, including, but not limited to, implied warranties or merchantability and fitness for a particular purpose.</p>
            <p><a href="www.harriscomm.com">Harriscomm.com</a> will not be liable for any damages of any kind arising from the use of this site, including, but not limited to, direct, indirect, incidental, punitive, and consequential damages.</p>
            <p>This website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We are not responsible for the content of the linked website(s).</p>
            <h2>Trademarks</h2>
            <p>Harris Communications, Inc., Sound Clarity and Beyond Hearing Aids are owned or licensed by Harris Communications Incorporated.</p>
            <p>All other brand names, product names or trademarks are the property of their respective holders.</p>
            <h2>Applicable Law</h2>
            <p>This site is created and controlled by Harriscomm.com in the State of Minnesota, USA. As such, the laws of the State of Minnesota will govern these disclaimers, terms, and conditions, without giving effect to any conflict of law rules.</p>
            <h2>
                Harris Communications, Inc. <br />
                15155 Technology Drive<br />
                Eden Prairie, Minnesota 55344-2277<br /><br />
            </h2>
            <h3>Revised June 20, 2017</h3>
        </div>
    </div>
</div>