﻿<div class="row testimonials">
    <h3><strong>Testimonials  </strong></h3>
    <div class="quotes-list visible-lg-block visible-md-block">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 photo">           
             <img src="./images/doublequote.jpg" />
            <p>
                Harris Communications is THE place to go to for variety of products and quickness of order processing!!!
            </p>
            <p><strong>PDommer</strong></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 photo">         
            <img src="./images/doublequote.jpg" />
            <p>
                I’m enjoying TV a lot better now that I can hear every word, and without turning up the TV volume. 
            </p>
            <p><strong>Barbara</strong></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 photo">           
            <img src="./images/doublequote.jpg" />
            <p>
                I can finally sleep without fear of not hearing the alarm clock. 
            </p>
            <p><strong>Carl</strong></p>
        </div>
    </div>
    <div class="quotes-list visible-xs-block visible-sm-block">
        <div class="row">          
            <img src="./images/doublequote.jpg" />
            <p>
                Harris Communications is THE place to go to for variety of products and quickness of order processing!!!
            </p>
            <p><strong>PDommer</strong></p>
        </div>
        <div class="row">
            <img src="./images/doublequote.jpg" />
            <p>
                I’m enjoying TV a lot better now that I can hear every word, and without turning up the TV volume.
            </p>
            <p><strong>Barbara</strong></p>
        </div>
        <div class="row">
            <img src="./images/doublequote.jpg" />
            <p>
                I can finally sleep without fear of not hearing the alarm clock.
            </p>
            <p><strong>Carl</strong></p>
        </div>
    </div>
    <hr />
</div>
