@import './../../../../../../../styles/globals.scss';

.my-account-overral {
    h4 {
        text-align: center;
        font-size: 38px;
        font-weight: 600;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .left, .center {
        border: 2px solid #E1E1E1;
        border-radius: 5px;
        background: #FFFFFF;

        ul:first-child {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none;

            span, i {
                margin-left: 10px;
            }
        }
    }

    .circle {
        padding: 0;
        display: inline-block;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 80px;
        margin-top: 15px;
        margin-right: 10px;
        color: white;
        font-size: 38px;
        background-color: $color-brand;
    }

    .welcome {
        font-size: 28px;
    }

    .name {
        font-size: 20px;
        font-weight: 600;
    }

    .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 60px;
        margin-top: 30px;
        border-top: 1px solid #E1E1E1;
        margin-bottom: 5px;
    }

    .title-child {
        color: gray;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        display: flex;

        i {
            margin-top: 5px;
        }
    }

    .title {
        span:hover {
            cursor: pointer;
        }
    }
}
.sale-messages {
    .sale-off {
        background-color: $color-background-dark;
        height: 35px;

        .sale-off-info {
            width: 400px;
            margin-left: 10%;
            height: 35px;
            -webkit-transform: skew(50deg);
            -moz-transform: skew(50deg);
            -o-transform: skew(50deg);
            background-color: $color-brand;
        }
    }


    .first {
        color: white;
        position: absolute;
        font-size: 12px;
        font-weight: 700;
        margin-top: -45px;
        margin-left: 15px;
        word-wrap: break-word;
        width: 90px;
    }

    .second {
        color: white;
        position: absolute;
        font-size: 25px;
        font-weight: 700;
        margin-top: -35px;
        margin-left: 200px;
        width: 400px;
    }

    .third {
        color: white;
        position: absolute;
        font-size: 18px;
        font-weight: 700;
        margin-top: -30px;
        margin-left: 660px;
        width: 400px;
    }
}
