﻿<div class="row">
    <div class="sale-messages hidden-sm hidden-xs visible-lg-block visible-md-block">
        <div class="sale-off">
            <div class="sale-off-info" style="margin-top:-15px;"></div>
        </div>
    </div>
</div>
<div class="row privacy">
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="title">
            <h1>Harris Communications Privacy & Security Policy</h1>
        </div>
        <div class="std">
            <p>Harris Communications knows that you care how information about you is used when shopping online. This notice describes the Harris Communications privacy policy. Visiting and shopping on <a href="www.harriscomm.com">www.harriscomm.com</a> and the website of any Harris Communications division indicates your acceptance of the practices in this privacy policy.</p>
            <h4>Personal Information Collected</h4>
            <p>The information we learn from customers helps us to personalize your online shopping experience with us. Following are the types of information we gather.</p>
            <h2>Information You Provide Us</h2>
            <p>We receive and store any information you provide to us via our webstore or in any other way. For example, you provide information when you search for a product, create an account, place an order, request a catalog, ask to be notified on changes to products, provide information in your account (and you might have more than one if you have used multiple email addresses when shopping with us), subscribe to newsletters, communicate with us via email, phone, live chat or otherwise, or share information about a product with others. As a result of these actions, you might provide us with information such as your name, address, phone numbers, age, gender, product interests and categories, credit card information, people to whom purchases have been shipped (including addresses and phone numbers), email addresses of people, and emails sent to us.</p>
            <p>You may choose not to provide certain information, but then you might not be able to take advantage of many of the features found on our webstore. We use the information that you provide for purposes such as responding to your requests and questions, customizing your future shopping experience, and communicating with you.</p>
            <p>We sometimes use third party software in order to provide a better user experience on the website.</p>
            <p>We allow third-party companies, including Google Analytics Demographics and Interests Reporting, to collect anonymous, non-identifiable data about your visit via Google advertising cookies and anonymous identifiers, in addition to data collected through a standard Google Analytics implementation, when you visit our website.</p>
            <h2>Automatic information</h2>
            <p>We receive and store certain types of information whenever you interact with us. For example, like many other websites, we use "cookies" which obtain certain types of information when your web browser accesses our website. Examples of information we collect and analyze include the Internet Protocol (IP) address used to connect your computer to the Internet; login name/email address; computer and connection information such as browser type and version, operating system, language, time zone and computer platform; purchase history (sometimes used to create our Bestseller items list); the Uniform Resource Locator (URL) clickstream to, through, and from our webstore, including date and time; cookie number; products viewed or searched for, clicks and mouse movements, scroll events and keystrokes (keystrokes from password fields or marked as "sensitive" are not tracked or stored). Some user sessions may be recorded.</p>
            <p>Visit the Federal Trade Commission's website for more information about online privacy.</p>
            <h2>Email communications</h2>
            <p>To help us make emails more useful, Harris Communications may receive confirmation when you open an online account with us.</p>
            <p>You may opt-in to receive our email newsletter. Your information will not be sold or leased to another company, but may be shared with third parties in order to promote Harris Communications products. For example, we use a third party re-mailer to distribute our email newsletters on our behalf. If you no longer wish to receive the newsletter, you may UNSUBSCRIBE by following the directions at the bottom of the email newsletter and you will be removed from the email list.</p>
            <h2>Information From Other Sources</h2>
            <p>We might receive information about you from other sources and add it to our account information. Examples include updated delivery and address information from our shipping carriers or other third parties, which we use to correct our records and deliver your next purchase or communication; account information, purchase or redemption information; search term and search result information from Internet search engines; and credit history information from credit bureaus which we use to help detect and prevent fraud and to offer certain credit or financial services to some customers.</p>
            <h2>Cookies</h2>
            <ul>
                <li><p>Cookies are alphanumeric identifiers that are transferred to your computer's hard drive through your web browser. They enable our systems to recognize your browser and to provide features such as the storage or transfer of items added your shopping cart between visits or before account login.</p></li>
                <li><p>The Help portion of the toolbar on most web browsers provide information on how to prevent your browser from accepting cookies, how to have the browser notify you before receiving a new cookie, or how to disable your browser from accepting any cookies. However, cookies allow you to take full advantage of some of the features on our website, and we recommend that you leave them turned on.</p></li>
            </ul>
            <h4>Sharing of Information</h4>
            <p>Harris Communications does not sell or lease information about our customers to others.</p>
            <h4>Information Security</h4>
            <ul>
                <li><p>We work to protect the security of your information during transmission with TLS (Transport Layer Security) software, which encrypts the information you input.</p></li>
                <li><p>Your credit card number is not transmitted in any emails transmitted to you when confirming an order. We do not save credit card numbers on our webstore. In addition, once orders have been processed, credit card numbers are deleted from our online computer systems.</p></li>
                <li><p>You can protect yourself against unauthorized use of your account information by signing off when you have finished your order or after using a shared computer.</p></li>
            </ul>
            <h2>Links</h2>
            <p>This website contains links to other websites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>
            <h2>Accessible Information</h2>
            <p>Harris Communications gives you access to a wide range of information about your account for the limited purpose of viewing and/or updating that information. Examples of information you can easily access include information regarding recent orders; personal information (including name, email address, password, communications preferences, address book, product notification settings); email notification settings; and recommendations (including purchase history). Of course the list may change as our webstore evolves.</p>
            <h4>Choices You Have</h4>
            <ul>
                <li><p>As mentioned above, you can always choose not to provide information, even though it may be required to make a purchase or to use features on the webstore.</p></li>
                <li><p>You can add or update certain information such as those listed in the Accessible information section above.</p></li>
                <li><p>The Help portion of the toolbar on most web browsers provide information on how to prevent your browser from accepting cookies, how to have the browser notify you before receiving a new cookie, or how to disable your browser from accepting any cookies. However, cookies allow you to take full advantage of some of the features on our website, and we recommend that you leave them turned on.</p></li>
                <li><p>Visit the Federal Trade Commission's website for more information about online privacy.</p></li>
            </ul>
            <h4>Children</h4>
            <p>Harris Communications does not sell products for purchase by children. We sell children's products for purchase by adults. If you are under 18 years of age, you may use the Harris Communications website with the involvement of a parent or guardian only.</p>
            <h4>Conditions of Use, Notices, and Revisions</h4>
            <p>If you choose to use one of the Harris Communications website, your visit and any dispute over privacy is subject to this Policy and our Conditions of Use, including limitations on damages, arbitration of disputes, and application of the law of the state of Minnesota. Read our entire Conditions of Use. If you have any concerns about privacy at Harris Communications, please send a thorough description to <a href="mailto:">info@harriscomm.com</a> and we will try to resolve it.</p>
            <p>Our business is changing constantly, and our Privacy Policy and Conditions of Use may also change. We may email periodic reminders of our notices and conditions, unless you have instructed us not to, but you should also check our website frequently to see recent changes. Unless otherwise stated, our current Privacy Policy applies to all information that we have about you and your account. We stand behind the promises we make, however, and will never materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers.</p>
            <h3>Revised June 25, 2017</h3>

        </div>
    </div>
</div>