﻿<!-- <div class="row">
    <offsale></offsale> 
</div> -->
<div class="row search">
    <div class="col-lg-2 col-md-2 visible-md-block visible-lg-block left">
        <!--<div class="panel-group" id="accordion" *ngIf="departments && departments.length > 0">-->
        <!--<div class="panel-group" id="accordion" *ngIf="totalItems == 0">            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" href="#filterCategory">Category</a>
                    </h4>
                </div>
                <div id="filterCategory" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="category">
                            <div class="checkbox" *ngFor="let item of departments">
                                <div class="item-content">
                                    <div class="col-item">
                                        <label *ngIf="item.count > 0">
                                            <span class="departmentDesc">{{item.departmentDesc}}</span>
                                            <span class="filterCount">({{item.count}})</span>
                                        </label>
                                        <ul style="list-style:none; margin-left:-20px;">
                                            <li *ngFor="let class of item.classes">
                                                <div>
                                                    <label *ngIf="class.count > 0">
                                                        <span class="classDesc">{{class.classDesc}}</span>
                                                        <span class="filterCount">({{class.count}})</span>
                                                    </label>
                                                    <ul style="list-style:none;margin-left:-30px;">
                                                        <li *ngFor="let subclass of class.subclasses">
                                                            <label *ngIf="subclass.count > 0 && subclass.subclassDesc != 'New Arrivals' && subclass.subclassDesc != 'On Sale' && subclass.subclassDesc != 'Clearance'">
                                                                <span class="subclassDesc" (click)="subclassFillter(item.departmentID, class,subclass)">{{subclass.subclassDesc}}</span>
                                                                <span class="subclassDesc filterCount">({{subclass.count}})</span>
                                                            </label>
                                                            <label *ngIf="subclass.count > 0 && subclass.newArrivalsCount > 0 && subclass.subclassDesc == 'New Arrivals'">
                                                                <span class="subclassDesc subclassDesc-newArrivals" (click)="newProductLink(item.departmentID,subclass)"> {{subclass.subclassDesc}}</span>
                                                                <span class="subclassDesc-newArrivals filterCount">({{subclass.newArrivalsCount}})</span>
                                                            </label>
                                                            <label *ngIf="subclass.count > 0 && subclass.clearanceCount > 0 && subclass.subclassDesc == 'Clearance'">
                                                                <span class="subclassDesc subclassDesc-newArrivals" (click)="subclassFillter(item.departmentID, class,subclass)"> {{subclass.subclassDesc}}</span>
                                                                <span class="filterCount">({{subclass.clearanceCount}})</span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!--<div class="panel-group" id="accordion" *ngIf="!departments || departments.length == 0">-->
        <div class="panel-group" id="accordion" *ngIf="totalItems > 0">
            <div class="panel panel-default" *ngFor="let item of filterGroups;let idx = index">
                <div class="panel-heading" *ngIf="item.filterDetails && item.filterDetails.length > 0">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" href="#filterGroup{{item.filterGroupId}}" (click)="chooseFilter(item.filterGroupId)">{{item.filterGroupName}}</a>
                    </h4>
                </div>
                <div id="filterGroup{{item.filterGroupId}}" class="panel-collapse collapse" [ngClass]="idx == 0 ? 'in' : ''" *ngIf="item.filterDetails && item.filterDetails.length > 0">
                    <div class="panel-body">
                        <div>
                            <div class="checkbox" *ngFor="let itemDetail of item.filterDetails">
                                <label *ngIf="itemDetail.filterCount > 0">
                                    <input type="checkbox" (click)="filterTick(itemDetail)" id="itemDetail{{itemDetail.filterDetailId}}" [(ngModel)]="itemDetail.show" />
                                    {{itemDetail.filterDetailName}}
                                    <span class="filterCount">({{itemDetail.filterCount}})</span>
                                </label>
                            </div>
                            <div class="pricefilter">
                                <label *ngIf="item.filterGroupName =='Price'">
                                    $<input type="number" min="0" [(ngModel)]="fromPrice"/> to
                                    $<input type="number" min="0" [(ngModel)]="toPrice"/>
                                    <button class="btn" type="button" (click)="goPriceFilter(item, fromPrice, toPrice)" id="itemDetai0">Go</button>
                                </label>
                            </div>
                            <button class="btn" (click)="clearFilterByGroupId(item)">Clear</button>
                            <!--<a *ngIf="item.filterDetails.length > limit" (click)="loadMore()">Load more</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-11 col-xs-11 right">
        <div class="row title">{{title}}<span class="searchvalue">"{{q}}"</span></div>
        <section class="row status visible-sm-block visible-md-block visible-lg-block">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <span><strong>{{totalItems}} </strong>items</span>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8" style="text-align:right;" *ngIf="totalItems > 0">
                <strong>Sort By &nbsp;</strong>
                <select (change)="changeSortBy($event.target.value)">
                    <option value="0" selected> New & Bestselling </option>
                    <option value="1"> Avg. Customer Rating </option>
                    <option value="2"> Price (low to high) </option>
                    <option value="3"> Price (high to low) </option>
                    <option value="4"> Newest to Oldest </option>
                </select>
            </div>
            <div class="col-sm-2 visible-sm-block hidden-md hidden-lg">
                <a href="#filter" data-toggle="modal" data-target="#filter"><strong>Filter &nbsp;</strong></a>
            </div>
        </section>
        <section class="row status visible-xs-block">
            <div class="col-xs-6">
                <span><strong>{{totalItems}} </strong>items</span>
            </div>
            <div class="col-xs-3" *ngIf="totalItems > 0">
                <a (click)="showSortByDropdown()">Sort</a>
                <div id="sortBy" class="dropdown-content" [style.visibility]="sortByDropdown">
                    <a (click)="changeSortBy(0)">New & Bestselling</a>
                    <a (click)="changeSortBy(1)">Avg. Customer Rating</a>
                    <a (click)="changeSortBy(2)">Price (low to high)</a>
                    <a (click)="changeSortBy(3)">Price (high to low)</a>
                    <a (click)="changeSortBy(4)"> Newest to Oldest</a>
                </div>
            </div>
            <div class="col-xs-3">
                <a href="#filter" data-toggle="modal" data-target="#filter">Filter</a>
            </div>
        </section>
        <div *ngFor="let item of buffer" class="list-item">
            <!-- <list-item *ngFor="let item of buffer" [item]="item"> </list-item> -->
            <div class="item-content" id="{{ item.pageID}}" *ngIf="item">
                <div class="col-item" (click)="selectDetails(item)">
                    <div class="top-line1">
                        <span class="a-size-mini a-color-base dotdBadge1" *ngIf="item.newArrivalInd == 'Y' && item.crossoffInd == 'N'&& item.clearanceInd == 'N'">New!</span>
                        <span class="a-size-mini a-color-base dotdBadge1" *ngIf="item.crossoffInd==='Y' && item.clearanceInd == 'N'">Sale!</span>
                        <span class="a-size-mini a-color-base dotdBadge1" *ngIf="item.clearanceInd == 'Y'"> Clearance!</span>
                        <span class="a-size-mini a-color-base badgeSkew"></span>
                    </div>
                    <div class="photo">
                        <img [class]="productRelated == 1 ? 'img-responsive' : 'img-responsive'" [attr.src]="'../images' + item.imageMain" />
                    </div>
                    <div class="info">
            
                        <p class="productDesc iphone" title="{{item.productDesc}}">  {{ (item.productDesc.length> 19)? (item.productDesc | slice:0:19)+'...':(item.productDesc)}}</p>
                        <p class="productDesc iphone5" title="{{item.productDesc}}">  {{ (item.productDesc.length> 25)? (item.productDesc | slice:0:25)+'...':(item.productDesc)}}</p>
            
                         <p style="margin:0;line-height:22px;">
                            <span *ngIf="item.crossoffInd==='N'">${{ item.webPrice | number}}</span>
                            <span class="price" *ngIf="item.crossoffInd==='Y'">${{ item.msrpPrice | number}}</span>
                            <span class="promo-price" *ngIf="item.crossoffInd==='Y'">${{ item.webPrice | number }}</span>
                        </p>
                       <fieldset class="rating">
                            <label *ngFor="let i of item.reviewRate | rateNumber">
                                <span class="full" *ngIf="i >= 0 && i != 0.5"></span>
                                <span class="half" *ngIf="i==0.5"></span>
                                <span class="" *ngIf="i===-1"></span>
                            </label>
                        </fieldset>
                        <div class="total-rating" *ngIf=" item.reviewCount > 0"> {{ item.reviewCount | number}}</div>
                    </div>
                    <div class="btn-view-details">
                        <button class="btn btn-primary btn-view-products">View Details</button>
                    </div>
            
                </div>
            </div>
            <div class="item-content" *ngIf="!item">
            </div>            
        </div>
    </div>
    <div id="scrollable" class="col-xs-1 scrollable window" *ngIf="totalItems > bufferSize">
        <ng-pagination [bufferSize]="bufferSize" [lastScrollTop]="lastScrollTop" [loading]="loading" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" (pageChanged)="pageChanged($event)"
                       previous-text="&lsaquo;" next-text="&rsaquo;" first-text="First" last-text="Last">
        </ng-pagination>
    </div>
    <div id="filter" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="viewProducts()">×</button>
            </div>
            <div class="modal-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" *ngFor="let item of filterGroups">
                        <div class="panel-heading" *ngIf="item.filterDetails && item.filterDetails.length > 0">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" onclick="return false"
                                   href="#filterGroup{{item.filterGroupId}}" data-target="#filterGroup{{item.filterGroupId}}"
                                   (click)="chooseFilter(item.filterGroupId)" data-parent="#accordion">
                                    <!--<i class="fa fa-long-arrow-left" aria-hidden="true" [style.visibility]="filterGroupId == item.filterGroupId ? 'visible' : 'hidden'">-->
                                    {{item.filterGroupName}}
                                </a>
                            </h4>
                        </div>
                        <div id="filterGroup{{item.filterGroupId}}" class="panel-collapse" [ngClass]="filterGroupId == item.filterGroupId ? '' : 'collapse'" *ngIf="item.filterDetails && item.filterDetails.length > 0">
                            <div class="panel-body">
                                <!--<div class="checkbox" *ngFor="let itemDetail of item.filterDetails | slice:0:limit">-->
                                <div class="checkbox" *ngFor="let itemDetail of item.filterDetails">
                                    <label *ngIf="itemDetail.filterCount > 0">
                                        <input type="checkbox" (click)="filterMobiTick(itemDetail)" id="itemDetail{{itemDetail.filterDetailId}}" [(ngModel)]="itemDetail.show" />
                                        {{itemDetail.filterDetailName}}
                                        <span class="filterCount">({{itemDetail.filterCount}})</span>
                                    </label>
                                </div>
                                <div class="pricefilter">
                                    <label *ngIf="item.filterGroupName =='Price'">
                                        $<input type="number" min="0" [(ngModel)]="fromPrice"/> to
                                        $<input type="number" min="0" [(ngModel)]="toPrice"/>
                                        <button class="btn" type="button" data-dismiss="modal" (click)="goPriceFilter(item, fromPrice, toPrice)" id="itemDetai0">Go</button>
                                    </label>
                                </div>
                                <!--<a *ngIf="item.filterDetails.length > limit" (click)="loadMore()">Load more</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-brand btn-clear" (click)="clear()">Clear</button>
                <button type="button" class="btn btn-brand btn-fliter" data-dismiss="modal" (click)="viewProducts()">View Products</button>
            </div>
        </div>
    </div>
</div>

