<div class='container-fluid'>
    <ul>
      <li>
        <header-menu class="headerMenu"></header-menu>
      </li>
      <li>
        <main-menu class="mainMenu"></main-menu>
      </li>
      <li>
        <router-outlet></router-outlet>
      </li>
      <li>
        <newsletter></newsletter>
      </li>
      <li>
        <footer-menu></footer-menu>
      </li>
    </ul>
</div>
  