﻿<div class="container forgot-password-modal">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="lineModalLabel"> Forgot your password?</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm" (keydown)="keyDownFunction($event)" >
                    <div class="form-group" *ngIf="errorMsg">
                        <div class="alert-danger">{{errorMsg}}</div>
                    </div>
                    <div class="form-group">
                        <span class="lable-info"> Enter your email address below and we'll email you a link to reset your password. </span>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!userForm.controls['email'].valid && userForm.controls['email'].touched}">
                        <label for="email">Email<span class="required"> *</span></label>
                        <label for="email" class="required pull-right"> * Required Fields</label>
                        <input class="form-control" [formControl]="userForm.controls['email']" id="email" maxlength="128" />
                        <div class="alert-danger" *ngIf="userForm.controls['email'].hasError('required') && userForm.controls['email'].touched">Please enter your Email</div>
                        <div class="alert-danger" *ngIf="!userForm.controls['email'].hasError('required') && userForm.controls['email'].hasError('invalidEmailAddress') && userForm.controls['email'].touched">Please enter your Email in this format name@company.com.</div>
                        <div class="alert-danger" *ngIf="!userForm.controls['email'].hasError('required')
                             && !userForm.controls['email'].hasError('invalidEmailAddress')
                             && !isExistEmail
                             && userForm.controls['email'].touched">
                            Please try again or
                            <a (click)="openRegister()">
                                <span>create an account.</span>
                            </a>
                            We weren't able to find the email.
                        </div>
                    </div>
                    <div class="form-group actions" role="group">
                        <button type="submit" class="btn btn-brand full-width" data-dismiss="modal" role="button" (click)="submit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>