﻿@import './../../../../../styles/globals.scss';

.forgot-password-modal {
    width: 400px;
    margin: 30px auto;
    background: white;

    @include breakpoint(xs) {
        width: 320px;
    }

    .title-info {
        font-size: 30px;
    }

    .lable-info {
        color: $color-brand-text;
        font-size: 18px;
    }

    .actions {

        .btn-brand {
            background-color: $color-brand;
            border: 1px solid;
            font-size: 18px;
            width: 100%;
            height: 40px;
            box-shadow: inset 0px 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
            padding: 6px 20px 6px 20px;
        }
    }

    a:hover {
        cursor: pointer;
    }

    label {
        font-size: 18px;
    }

    .close {
        font-size: 30px; //ladded
    }
}
