﻿<div class="shipping-order">
    <div class="row">
        <form [formGroup]="shippingOrderForm">
            <div class="form-group shipping-address">
                <p>
                    <input name="sameAsBillingAddress" type="radio"
                           [checked]="sameAsBillingAddress == 1"
                            value="1" (click)="chooseSameAsBillingAddress()" /> <span>Same as billing address</span>

                </p>
                <p>
                    <input name="sameAsBillingAddress"
                           [checked]="sameAsBillingAddress == 0"
                            type="radio" value="2" (click)="chooseDifferentBillingAddress()" /> <span>User a different shipping address</span>
                </p>

            </div>           
            <div [ngClass]="sameAsBillingAddress == 1 ? 'hidden' : 'show'">
                <div class="form-group">
                    <label for="country">Country<span class="required"> *</span></label>
                    <div class="dropdown">
                        <select class="form-control" [formControl]="shippingOrderForm.controls['country']"
                                (change)="onChangeCountry($event.target.value)"
                                [ngClass]="{'has-error':!shippingOrderForm.controls['country'].valid && shippingOrderForm.controls['country'].touched}">
                            <option value="-1" disabled selected>--Select--</option>
                            <option value="US">United States</option>
                            <option value="CA" *ngIf="paymentType != 25">Canada</option>
                        </select>
                        <div class="alert-danger" *ngIf="shippingOrderForm.controls['country'].hasError('required') && shippingOrderForm.controls['country'].touched">Please enter your country.</div>
                    </div>
                </div>
                <div *ngIf="shippingAddresses?.length > 0">
                    <div class="form-group">
                        <label for="shippingAddresses">Shipping Address<span class="required"> *</span></label>
                        <select class="form-control"
                                [formControl]="shippingOrderForm.controls['shippingAddress']"
                                 (change)="changeShippingAddress($event.target.value)">
                            <option value="-1" disabled selected>-- Select -- </option>
                            <option value="">Add a new shipping address</option>
                            <option *ngFor="let item of shippingAddresses" [value]="item.addrID">
                                {{item.address}}
                            </option>
                        </select>
                    </div>
                </div>

            </div>
            <div [ngClass]="showShippingOrder" class="form-group">
                <div class="form-group">
                    <label for="organization">Company</label>
                    <input class="form-control" [formControl]="shippingOrderForm.controls['company']" id="company" maxlength="50" />
                </div>
                <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['firstName'].valid && shippingOrderForm.controls['firstName'].touched}">
                    <label for="firstName">First Name<span class="required"> *</span></label>
                    <input class="form-control" [formControl]="shippingOrderForm.controls['firstName']" id="firstName" maxlength="50" />
                    <div class="alert-danger" *ngIf="shippingOrderForm.controls['firstName'].hasError('required') && shippingOrderForm.controls['firstName'].touched">Please enter your first name.</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['lastName'].valid && shippingOrderForm.controls['lastName'].touched}">
                    <label for="lastName">Last Name<span class="required"> *</span></label>
                    <input class="form-control" [formControl]="shippingOrderForm.controls['lastName']" id="lastName" maxlength="50" />
                    <div class="alert-danger" *ngIf="shippingOrderForm.controls['lastName'].hasError('required') && shippingOrderForm.controls['lastName'].touched">Please enter your last name.</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['address'].valid && shippingOrderForm.controls['address'].touched}">
                    <label for="address">Address<span class="required"> *</span></label>
                    <input class="form-control" [formControl]="shippingOrderForm.controls['address']" id="address" maxlength="100" />
                    <div class="alert-danger" *ngIf="shippingOrderForm.controls['address'].hasError('required') && shippingOrderForm.controls['address'].touched">Please enter your address.</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['city'].valid && shippingOrderForm.controls['city'].touched}">
                    <label for="city">City<span class="required"> *</span></label>
                    <input class="form-control" [formControl]="shippingOrderForm.controls['city']" id="city" maxlength="100" />
                    <div class="alert-danger" *ngIf="shippingOrderForm.controls['city'].hasError('required') && shippingOrderForm.controls['city'].touched">Please enter your city.</div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['zip'].valid && shippingOrderForm.controls['zip'].touched}">
                            <label for="zip">Zip Code<span class="required"> *</span></label>
                            <input class="form-control" [formControl]="shippingOrderForm.controls['zip']" id="zip" maxlength="20" (blur)="onChangeZip($event.target.value)" #input />
                            <div class="alert-danger" *ngIf="shippingOrderForm.controls['zip'].hasError('required') && shippingOrderForm.controls['zip'].touched">Please enter your zip code.</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['state'].valid && shippingOrderForm.controls['state'].touched}">
                            <label for="state">State/Region<span class="required"> *</span></label>
                            <!--<input class="form-control" [formControl]="shippingOrderForm.controls['state']" id="state" maxlength="25" />-->
                            <select class="form-control" [formControl]="shippingOrderForm.controls['state']"
                                    id="state" (change)="onChangeState($event.target.value)">
                                <option value="-1" disabled selected>--Select--</option>
                                <option *ngFor="let state of states" [value]="state.stateID">
                                    {{state.stateDesc}}
                                </option>
                            </select>
                            <div class="alert-danger" *ngIf="shippingOrderForm.controls['state'].hasError('required') && shippingOrderForm.controls['state'].touched">Please enter your state/region.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['phone'].valid && shippingOrderForm.controls['phone'].touched}">
                    <label for="phone">Telephone<span class="required"> *</span></label>
                    <input class="form-control" [formControl]="shippingOrderForm.controls['phone']" id="phone" maxlength="20" />
                    <div class="alert-danger" *ngIf="shippingOrderForm.controls['phone'].hasError('required') && shippingOrderForm.controls['phone'].touched">Please enter your Telephone.</div>
                    <div class="alert-danger" *ngIf="!shippingOrderForm.controls['phone'].hasError('required') && shippingOrderForm.controls['phone'].hasError('invalidTelephone') && shippingOrderForm.controls['phone'].touched">Phone Number is invalid (format: xxx-xxx-xxxx)</div>
                </div>             
            </div>
            <div *ngIf="showComments">
                <div class="form-group">
                    <label for="comments">Comments ( max 40 characters )</label>
                    <textarea class="form-control" [formControl]="shippingOrderForm.controls['comments']" id="comments" maxlength="40"></textarea>
                </div>
                <div class="form-group">
                    <label *ngIf ="shipCountry=='US'">Ground Shipping {{ shipFee |  currency:'USD':true:'1.2-2'}} (2-7 business)</label>
                    <label *ngIf="shipCountry=='CA'">Ground Shipping {{ shipFee |  currency:'USD':true:'1.2-2'}} (7-14 days Canada)</label>
                </div>
                <div class="form-group">
                    <span>Want item sooner? 
                    <a *ngIf ="shipCountry=='US'" (click)="getRatesDialog()">See express options</a>
                    <span *ngIf ="shipCountry=='CA'"> Call XXXX</span></span>
                </div>
            </div>              
            
            <div class="form-group actions" role="group">
                <button type="submit" 
                        class="btn btn-primary btn-brand" role="button" 
                        [disabled]="disabled"
                        (click)="validateShippingOrderForm()">
                    <span>Continue</span>
                </button>
            </div>
        </form>
    </div>
</div>