﻿<div class="row category">
    <div class="row featured-categories">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h3><strong>Featured Categories </strong></h3><!--<hr>--></div>
    </div>
    <div class="row visible-md-block visible-lg-block">
        <ul>
            <li>
                <a class="carousel-control prev" (click)="prev(2)" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li>
                <div id="carousel-category" class="carousel slide" data-interval="false">
                    <ol class="carousel-indicators">
                        <li class="active" data-target="carousel" data-slide-to="0"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item"  [class]="slide ==  0 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:1,classId : 11, subClassId: 111 , title : 'Clocks & Watches'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/alarmclock_2.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> Clocks & Watches</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products ">View</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:4,classId : 41, subClassId: 417 , title : 'TV'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/tvlistening.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> TV Listening</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products " >View</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:1,classId : 12, subClassId: 127 , title : 'Smokes & Fire'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/hc-safeawake_2.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong>Smokes & Fire</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products " [routerLink]="['/allproducts']"
                                                    [queryParams]="{departmentId:1,classId : 12, subClassId: 127 , title : 'Smokes & Fire'}">View</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:4,classId : 41, subClassId: 415 , title : 'Presonal Amplifiers'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/personalamplifiers.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> Presonal Amplifiers</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products ">
                                                View
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" [class]="slide ==  1 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"  [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:2,classId : 21, subClassId: 211 , title : 'Phones'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/captel-2400i.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> Phones</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products ">
                                                View
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"  [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:3,classId :31, subClassId: 311 , title : 'Books'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/B1152.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong>Books</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products ">
                                                View
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:1,classId :12, subClassId: 122 , title : 'Door & Door bell'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/signaling.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong>Door & Door bell</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products ">
                                                View 
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:1, title : 'All Alarms'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/signaling.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong>All Alarms</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products ">
                                                View
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class="carousel-control next" (click)="next(2)" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="row visible-sm-block">
        <ul>
            <li>
                <a class="carousel-control prev" (click)="prev(4)" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li>
                <div id="carousel-category-mobile-sm" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        <div class="item" [class]="slide ==  0 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:1,classId : 11, subClassId: 111 , title : 'Clocks & Watches'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/alarmclock_2.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> Clocks & Watches</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products ">
                                                View
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:4,classId : 41, subClassId: 417 , title : 'TV'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/tvlistening.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> TV Listening</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products ">
                                                View
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" [class]="slide ==  1 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:1,classId : 12, subClassId: 127 , title : 'Smokes & Fire'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/hc-safeawake_2.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> Smokes & Fire </strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products ">
                                                View
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:4,classId : 41, subClassId: 415 , title : 'Presonal Amplifiers'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/personalamplifiers.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> Presonal Amplifiers</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products " >
                                                View
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" [class]="slide ==  2 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:2,classId : 21, subClassId: 211 , title : 'Phones'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/captel-2400i.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> Phones</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products ">
                                                View 
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:3,classId :31, subClassId: 311 , title : 'Books'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/B1152.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong>Books</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products ">
                                                View Books
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" [class]="slide ==  3 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" [routerLink]="['/allproducts']"
                                [queryParams]="{departmentId:1,classId :12, subClassId: 122 , title : 'Door & Door bell'}">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/signaling.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong>Door & Door bell</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products ">
                                                View
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/signaling.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong>All Alarms</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products " [routerLink]="['/allproducts']"
                                                    [queryParams]="{departmentId:1, title : 'All Alarms'}">
                                                View All Alarms
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class="carousel-control next" (click)="next(4)" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="row visible-xs-block iphone5">
        <ul>
            <li>
                <a class="carousel-control prev" (click)="prev(8)" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li>
                <div id="carousel-category-mobile" class="carousel slide  visible-xs-block" data-interval="false">
                    <div class="carousel-inner">
                        <div class="item" [class]="slide ==  0 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/alarmclock_2.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> Clocks & Watches </strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products " [routerLink]="['/allproducts']"
                                                    [queryParams]="{departmentId:1,classId : 11, subClassId: 111 , title : 'Clocks & Watches'}">
                                                View Clocks & Watches
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item"[class]="slide ==  1 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/tvlistening.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> TV Listening</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products " [routerLink]="['/allproducts']"
                                                    [queryParams]="{departmentId:4,classId : 41, subClassId: 417 , title : 'TV'}">
                                                View TV Listening
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" [class]="slide ==  2 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/hc-safeawake_2.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> Smokes & Fire</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products " [routerLink]="['/allproducts']"
                                                    [queryParams]="{departmentId:1,classId : 12, subClassId: 127 , title : 'Smokes & Fire'}">
                                                View Smokes & Fire
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" [class]="slide ==  3 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/personalamplifiers.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> Presonal Amplifiers</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products " [routerLink]="['/allproducts']"
                                                    [queryParams]="{departmentId:4,classId : 41, subClassId: 415 , title : 'Presonal Amplifiers'}">
                                                View Presonal Amplifiers
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" [class]="slide ==  4 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/captel-2400i.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong> Phones</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products " [routerLink]="['/allproducts']"
                                                    [queryParams]="{departmentId:2,classId : 21, subClassId: 211 , title : 'Phones'}">
                                                View Phones
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" [class]="slide ==  5? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/B1152.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong>Books</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products " [routerLink]="['/allproducts']"
                                                    [queryParams]="{departmentId:3,classId :31, subClassId: 311 , title : 'Books'}">
                                                View Books
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" [class]="slide ==  6 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/signaling.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong>Door & Door bell</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products " [routerLink]="['/allproducts']"
                                                    [queryParams]="{departmentId:1,classId :12, subClassId: 122 , title : 'Door & Door bell'}">
                                                View Door bell
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" [class]="slide ==  7 ? 'item active':'item'">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img class="img-responsive" src="../images/signaling.jpg" />
                                        </div>
                                        <div class="info">
                                            <span> <strong>All Alarms</strong></span>
                                        </div>
                                        <div class="btn-view-details">
                                            <button class="btn btn-primary btn-view-products " [routerLink]="['/allproducts']"
                                                    [queryParams]="{departmentId:1, title : 'All Alarms'}">
                                                View All Alarms
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class="carousel-control next" (click)="next(8)" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
    <hr />
</div>