﻿@import './../../../styles/globals.scss';

:host {
    .item-content {
    display: inline-block;
    width: 100%; //calc(100% - 60px);
    padding: 3px;
    vertical-align: middle;

    @media (max-width:414px) {
        padding: 0;
    }

    .top-line1 {
        height: 15px;
    }

    .col-item, .col-item-none {
 
        font-size: $html-font-size-xxs;
        height: 100%;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        outline: none;
        transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
        background-color: #fff;
        border-bottom: 1px solid rgb(185,185,185);
        border-radius: 1px;
        border-top-color: rgb(160,160,160);

        @media (max-width:414px) {
            border: none;
            font-size: $html-font-size-s;
        }
    }

    .col-item:hover {
       cursor: pointer;
       transition: box-shadow 400ms cubic-bezier(0.4,0.0,0.2,1);
       box-shadow: 0 3px 3px 3px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    }

    .col-item .photo {
        margin-top: 10px;
        text-align:center;
    }

    .img-responsive {
        width: 160px;
        height: 160px; //250250  300
        @media (max-width:414px) {
            width: 160px;
            height: 160px;
        }
    }

    .img-responsive-productRelated, .photo-none{
        width: 160px;
        height: 160px;
    }

    .col-item .photo img {
        margin-left: auto;
        margin-right: auto;
    }

    .col-item .info {
        padding: 10px 10px;
        border-radius: 0 0 5px 5px;
        margin-top: 1px;
        width: 220px;
    }
    /*.col-item .info:hover {
        background-color: $color-brighter;
    }*/
    .col-item .info:hover .tooltip {
        opacity: 1;
    }

    .tooltip {
        width: 21%;
        background-color: #fff; //$color-brighter;
        color: black;
        border-radius: 5px;
        opacity: 0;
        position: absolute;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -ms-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        font-size: 20px;
        margin-top: -64px;
    }

    .text {
        position: relative;
        font-size: 14px;
        color: black;
        width: 250px; /* Could be anything you like. */
    }

    .col-item .productDesc {
        height: 40px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        display: block;
        @media (max-width:1366px) {
            height: 52px;
    }}

    .iphone5 {
        display: none !important;

        @media (max-width:320px) {
            height: 40px !important;
            display: block !important;
        }
    }

    .iphone {
        @media (max-width:320px) {
            display: none !important;
        }
    }

    .btn-view-details {
        text-align: center;
        padding-bottom: 15px;
        border: 5px solid white;

        .btn-view-products {
            background-color: $color-brand;
            border: 1px solid $color-brand;
            font-size: 20px;
            width: 200px;
            padding: 8.5px;
            height: 48px;
            box-shadow: inset 0px 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);

            @media (max-width:736px) {
                width: 140px;
            }
        }

        .btn-view-products:hover, .btn-view-products:active {
            background: linear-gradient(#3d5505,#719f08);
            text-decoration: none;
        }
    }

    .price {
        text-decoration: line-through;
        color: rgba(82, 80, 80, 0.64);
        text-decoration-color: darkred;
        font-size: $font-size-18;
        margin-right: 20px;

        @media (max-width:375px) {
            margin-right: 3px;
            font-size: 16px;
        }

        @media (max-width:320px) {
            font-size: 15px;
        }
    }

    .promo-price {
        font-size: $font-size-20;

        @media (max-width:320px) {
            font-size: 16px;
        }

        @media (max-width:375px) {
            margin-left: 0;
        }
    }

    .rating {
        border: none;
        float: left;
        margin-left: -5px;
        padding-top: 5px;
        padding-bottom: 5px;

        @media (max-width:320px) {
            margin-left: -10px;
        }
    }

    .total-rating {
        display: inline-block;
        padding-top: 7px;
        padding-left: 10px;
        color: #636363;

        @media (max-width:414px) {
            padding-top: 11px;
            padding-left: 0px;
        }
    }

    .rating > label > span:before {
        margin: 5px;
        font-size: 18px;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";

        @media (max-width:320px) {
            font-size: 16px;
        }
    }

    .rating > label > span.half {
        display: inline-flex;
    }

    .rating > label > span.half:after {
        margin: 5px;
        font-size: 18px;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f089";
        color: #FFED00;
        position: absolute;

        @media (max-width:320px) {
            font-size: 16px;
        }
    }

    .rating > label > span.half:before {
        margin: 5px;
        font-size: 18px;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
        color: #ddd;

        @media (max-width:320px) {
            font-size: 16px;
        }
    }

    .rating > label > span.full:before {
        color: #ffc425;
    }

    .rating > label > span {
        font-size: 18px;
        color: #ddd;

        @media (max-width:320px) {
            font-size: 16px;
        }
    }

    .top-line {
        margin-top: -10px;
    }

    .top-line:after {
        display: inline-block;
        content: "";
        line-height: 0;
        font-size: 0;
    }

    .dotdBadge {
        font-size: 18px !important;
        color: #C45500 !important;
        font-weight: 700 !important;
        //background: #C45500;
        height: 20px;
        width: 100%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0 5px;
        overflow: hidden;
    }

    .dotdBadge + .badgeSkew {
        border-right: 4px solid transparent;
        border-top: 18px solid #C45500;
        float: left;
    }
    /*.dotdBadge1 {
        font-size: 20px !important;
        color: #FFF !important;
        font-weight: 700 !important;
        background: #C45500;
        height: 40px;
        max-width: 90%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 5px 15px;
        float: left;
        overflow: hidden;
    }*/
    .dotdBadge1 {
        font-size: 18px !important;
        color: #FFF !important;
        font-weight: 600 !important;
        background: #e67a00 !important;
        /*height: 40px;*/
        max-width: 90%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0px 2px 0px 5px;
        overflow: hidden;
        letter-spacing: 0.5px;
        /*line-height: 30px;*/
    }


    .dotdBadge1 + .badgeSkew {
        border-right: 13px solid transparent;
        border-top: 25px solid #e67a00 !important;
        float: left;
    }
}
    .search {
        margin-top: 10px;
        height: auto;
        max-height: 2000px;
        min-height: 350px;


        @media (max-width:768px) {
            margin-top: 15px;
        }
        /*border: 1px solid #d1dadf;*/
        display: block;

        .modal-header {
            padding: 0px;
        }

        .modal-body {
            background-color: white;
        }

        .modal-footer {
            background-color: white;
             .btn {
                 background-color: $color-brand;
                 border: 1px solid $color-brand;
                 font-size: 14px;
                 box-shadow: inset 0px 1px 1px #a4e388;
                 border-color: #3b6e22 #3b6e22 #2c5115;
                 color: #fff;
                 cursor: pointer;
                 display: inline-block;
                 position: relative;
                 text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                 padding: 3px 15px 3px 15px;
            }
            .btn:hover, .btn:active {
                   background: linear-gradient(#3d5505,#719f08);
                   text-decoration: none;
             }
        }

        .category {
            label {
                padding-left: 0 !important;
            }

            span {
                cursor: pointer;
                font-size: 20px;
                line-height: 30px;
            }

            span.departmentDesc {
                font-weight: 600;
            }

            span.classDesc {
                font-weight: 600;
            }

            span.subclassDesc {
                color: #636363;
            }

            .subclassDesc-newArrivals {
                color: $color-brand !important;
            }
        }

        .pricefilter {
            label {
                font-size: 18px;
                min-height: 35px;
                padding-left: 0px;
                font-weight: 100;
            }
            input[type=number] {
                width: 70px;
                height: 25px;
                border-radius: 2px;
                border: 1px solid #73777a;
                font-size:18px;
            }

            .btn {
                 background-color: $color-brand;
                 border: 1px solid $color-brand;
                 font-size: 14px;
                 box-shadow: inset 0px 1px 1px #a4e388;
                 border-color: #3b6e22 #3b6e22 #2c5115;
                 color: #fff;
                 cursor: pointer;
                 display: inline-block;
                 position: relative;
                 text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                 padding: 3px 15px 3px 15px;
            }
            .btn:hover, .btn:active {
                   background: linear-gradient(#3d5505,#719f08);
                   text-decoration: none;
             }
        }

        .checkbox {
            label {
                font-size: 20px;
                min-height: 35px;
                padding-left: 30px;
                color: #636363;
            }

            input[type=checkbox] {
                zoom: 1.5;
            }

            .filterCount {
                font-size: 20px;
                font-weight: 600;
            }
        }

        #filter {
            /*margin-left: -210px;
            min-width: 320px;
            position: absolute;
            z-index: 1000;
            top: -140px;*/
            overflow-y: auto!important;

            .panel-title > a {
                display: block;
                position: relative;
                color: #333;
                font-size: 22px;
            }

            i {
                margin-top: -20px;
            }

            .panel {
                margin-bottom: 0;
                margin-top: 0px;
                border: none;
            }

            .panel-body {
                padding-top: 5px;
                padding-bottom: 0px;
                font-size: 20px;
            }

            .panel-heading {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                background-color: white;
            }

            .panel-heading a:before {
                /* symbol for "opening" panels */
                font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
                content: "\e114"; /* adjust as needed, taken from bootstrap.css */
                float: right; /* adjust as needed */
                color: #636363; /* adjust as needed */
                font-size: 16px;
            }

            .panel-heading a.collapsed:before {
                content: "\e080";
            }

            h4 {
                font-size: 20px;
            }

            .close {
                font-size: 50px;
                color: white;
                opacity: 1;
                font-weight: 100;
            }

            .btn-fliter {
                padding-left: 12px;
                padding-right: 12px
            }
             .btn-clear {
                    /*background-color: black;*/
                    border: 0.5px solid $color-brand;
                    font-size: 14px;
                    box-shadow: inset 1px 1px 1px #a4e388;
                    border-color: #3b6e22 #3b6e22 #2c5115;
                    color: black;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                    padding: 2px 13px 4px 13px;
                    border-radius:5px;
                    }
             .btn-clear:hover, .btn-clear:active {
                    background: linear-gradient(#3d5505,#719f08);
                    /*background-color: #577a08;*/
                    text-decoration: none;
                    color: #fff;
                }
        }

        .left {
            /*border-right: 2px solid #d1dadf;*/
            margin: 119px -15px 0 0;
            padding-right: 0;

            h4 {
                font-size: 22px;
                font-weight:600;
            }

            .panel-title > a {
                display: block;
                position: relative;
            }

            .panel-heading .accordion-toggle:after {
                /* symbol for "opening" panels */
                font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
                content: "\e114"; /* adjust as needed, taken from bootstrap.css */
                float: right; /* adjust as needed */
                color: grey; /* adjust as needed */
                font-size: 16px;
            }

            .panel-heading .accordion-toggle.collapsed:after {
                /* symbol for "collapsed" panels */
                content: "\e080"; /* adjust as needed, taken from bootstrap.css */
            }
            .panel-group .panel{	
                margin-bottom:-10px;	
            }	
             .panel-group .btn {
                 background-color: $color-brand;
                 border: 1px solid $color-brand;
                 font-size: 14px;
                 box-shadow: inset 0px 1px 1px #a4e388;
                 border-color: #3b6e22 #3b6e22 #2c5115;
                 color: #fff;
                 cursor: pointer;
                 display: inline-block;
                 position: relative;
                 text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                 padding: 3px 15px 3px 15px;
            }
            .btn:hover, .btn:active {
                   background: linear-gradient(#3d5505,#719f08);
                   text-decoration: none;
             }

        }

        .right {
            padding-right: 0;

            @media (max-width:410px) {
                padding: 0;
                margin: 0;
            }
        }

        .searchvalue{
            font-weight: normal;
            font-style: italic;
        }

        @media(max-width:767px) {
            .col-xs-11 {
                width: 97%;

                .info {
                    padding: 0;
                }
            }
        }

        @media(min-width:768px) {
            .col-sm-11 {
                width: 97%;

                .info {
                    padding: 0;
                }
            }
        }

        @media(min-width:992px) {
            .col-md-9 {
                width: 75%;
            }
        }

        @media(min-width:1200px) {
             .col-lg-10, .col-md-10 {
                width: 78%;
                padding-right:5px;
            }
        }

        .col-lg-2 {
            width: 22% !important;
        }


        .col-xs-1 {
            width: 3% !important;
        }


        .title {
            font-weight: 700;
            font-size: $font-size-30;
            text-align: center;
            padding-bottom: 20px;
            padding-top: 10px;

            @media (max-width:736px) {
                font-size: 24px;
            }
        }

        .btn-view-actions {
            text-align: center;
            margin-top: 20px;

            .btn-view-load-more {
                background-color: gray;
                /*border: 1px solid $color-brand;*/
                font-size: 20px;
                width: 200px;
                padding: 8.5px;
                height: 48px;
                /*box-shadow: inset 0px 1px 1px #a4e388;
                border-color: #3b6e22 #3b6e22 #2c5115;*/
                color: #fff;
                cursor: pointer;
                display: inline-block;
                position: relative;
                text-shadow: 0px 1px 2px rgba(0,0,0,0.5);

                @media (max-width:736px) {
                    width: 140px;
                }
            }

            .btn-view-products:hover, .btn-view-products:active {
                background: linear-gradient(#3d5505,#719f08);
                text-decoration: none;
            }
        }
    }

    .status {
        margin-left: 5px; //10px;
        font-size: 20px;
        margin-bottom: 15px; //10px;
        margin-right: 0px; //10px;
        a {
            color: $color-background-darker;
        }
    }

    .sortBy {
        display: inline-block;
        text-align: right;
        font-size:20px;


        select {
            border-radius: 4px;
            width: 200px;
            float: right;
            text-align: right;
            font-size: 16px;
            padding: 2px;
            font-weight: 100;
            color: #636363;

        }
    }


    .virtual-scroll {
        height: 1330px;
        display: block;
    }

   .list-item {
        display: inline-block;
        vertical-align: top;
        margin: 0px;
        width: 25%;

        @media (max-width:1024px) {
            width: 33.33%;
        }

        @media (max-width:666px) {
            width: 50%;
        }
    }

    .loader {
        height: 4em;
        display: block;
        line-height: 4em;
        text-align: center;
        position: relative;
    }

    .loader:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        height: 2px;
        background: red;
        animation: loader-animation 2s ease-out infinite;
    }

    @keyframes loader-animation {
        0% {
            transform: translate(0%);
        }

        100% {
            transform: translate(500%);
        }
    }


    .dropdown-content {
        position: absolute;
        background-color: #f9f9f9;
        min-width: 250px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        left: -100px;
        /*top: -50px;*/
    }

    .dropdown-content a {
        color: darkslategray;
        padding: 7px 16px;
        text-decoration: none;
        display: block;
        font-size: 18px;
    }

    .dropdown a:hover {
        background-color: #f1f1f1;
    }

}


.scrollable > div:nth-child(odd) {
    background-color: #ccc;
}

.window {
    position: fixed;
    display: inline-block;
    float: right;
    right: 10px;
    z-index: 1;

    /*@media (max-width:414px) {
        right: 10px;
    }

    @media (max-width: 320px) {
        right: 10px;
    }*/
}
