$primary-color: #3d4f5d;
$primary-text: #fff;
$dark-text:#015601;
$secondary-text: #2c3e50;
$accent-color: #5b8796;
$border-color: rgb(209, 218, 223);
$semi-transparent: rgba(242, 242, 246, 0.98);
$hover-color: rgba(232, 232, 232, 0.29);
$color-brand: #719F0A;
$color-bright: #E1E1E1;
$color-brighter: #f5f5dc;
$color-gray: #555555;
$color-brand-dark: darken($color-brand, 10%);
$color-brand-darker: darken($color-brand, 20%);
$color-brand-bright: lighten($color-brand, 10%);
$color-brand-brighter: lighten($color-brand, 20%);
$color-brand-text: #636363;
$color-secondary: #83D01B;
$color-secondary-dark: darken($color-secondary, 5%);
$color-secondary-darker: darken($color-secondary, 20%);
$color-secondary-bright: lighten($color-secondary, 10%);
$color-secondary-brighter: lighten($color-secondary, 20%);
$color-background-dark: #333333;
$color-background-darker: #000000;
$color-background-bright: #EEEEFF;
$color-background-brighter: #FFFFFF;
$color-foreground-dark: #333333;
$color-foreground-darker: #000000;
$color-foreground-bright: #EEEEEE;
$color-foreground-brighter: #FFFFFF;
$font-size-s-1: 16px;
$font-size-s-2: 18px;
$font-size-m-1: 20px;
$font-size-m-2: 22px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-28: 28px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-30: 30px;
$font-size-45: 45px;
$font-size-50: 50px;
$font-size-60: 60px;
$font-size-60: 65px;
$font-size-75: 75px;
// Animations
$animation-speed-default: .35s;
$animation-speed-slow: .5s;
$animation-speed-fast: .15s;
$html-font-size-s: 16px;
$html-font-size-xs: 18px;
$html-font-size-xxs: 20px;
$html-font-size-xxxs: 22px;
$html-font-size-m: 24px;
$html-font-size-xm: 26px;
$html-font-size-xxm: 28px;
$html-font-size-xxxm: 30px;
$html-font-size-md: 40px;
$html-font-size-xmd: 45px;
$html-font-size-xxmd: 50px;
$html-font-size-xxxmd: 55px;
$html-font-size-l: 65px;
$html-font-size-xl: 60px;
$html-font-size-xxl: 65px;
$html-font-size-xxxl: 75px;

@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}

$paragraph-font-size-lg: 18px;
$paragraph-font-size-md: 16px;
$paragraph-font-size-sm: 14px;
$paragraph-font-size-xs: 12px;

// Medias
$media-screen-xxs: 360px;
$media-screen-xs: 640px;
$media-screen-s: 640px;
$media-screen-xm: 992px;
$media-screen-m: 1024px;
$media-screen-l: 1280px;
$media-screen-xl: 1440px;
$media-screen-xxl: 1680px;
$media-screen-xxxl: 1920px;

// Borders
$border-light: 1px;
// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screentablet as of v3.0.1
$screen-sm: 640px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;