@import './variables';
@mixin breakpoint($class) {
    @if $class == xs {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $class == sm {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $class == md {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $class == lg {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}
.container-fluid {
    @media (min-width: 319px) {
        margin-right: -15px;
        margin-left: -15px;
    }
}
h1 {
    font-size: $font-size-60;
    @include breakpoint(xs) {
        font-size: $font-size-24;
    }
}
h3 {
    font-size: $font-size-45;
    @include breakpoint(xs) {
        font-size: $font-size-30;
    }
}
h4 {
    font-size: $font-size-28;
    @include breakpoint(xs) {
        font-size: 28px;
    }
}
h5 {
    font-size: $font-size-18;
}
hr {
    border-top: 5px solid $color-bright; 
    margin-bottom: 5%;
    margin-top: 3%; //5
    border-radius: 5px;
}
a:hover {
    cursor: pointer;
}
.full-width {
    width: 100%;
}
.show-class {
    display: block !important;
}
.hide-class {
    display: none !important;
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
.fixed {
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    clear: both;
}
.scrollable {
    position: relative;
    @media (max-width: 320px) {
        .pagination {
            margin-left: 0;
            a {
                padding: 6px 6px !important;
                margin-left: -1px !important;
            }
        }
    }
}
.main-menu-scroll {
    position: fixed;
    z-index: 1400;
    width: 100%;
    clear: both;
    background-color: #fff; //f4f4f2; //gainsboro;
    top: 0;
    transition: box-shadow 500ms;
    box-shadow: 0px 0px 15px 1px rgba(93, 91, 91, 0.59);
}
//popup
.fade.in {
    opacity: 1;
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
    .modal-backdrop .fade .in {
    opacity: 0.5 !important;
  }
  .modal-backdrop.fade {
      opacity: 0.5 !important;
  }
.modal-body {
    font-size: 18px;
    color: #636363;
}
.modal, .modal-open {
    overflow-y: hidden!important;
    .container-fluid {
        overflow-y: scroll!important;
        margin-left: -15px;
        margin-right: -15px;
    }
    a {
        color: $color-brand;
    }
    a:hover, a:active {
        color: #577a08;
        text-decoration: none;
        touch-action: manipulation;
        cursor: pointer;
    }
}
.modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: unset;
    background: transparent;
}
.content-infomation {
    h1 {
        color: $color-background-dark;
        font-size: 30px;
        font-weight: 700;
        transition: color 500ms,font-size 500ms;
        padding-bottom: 3px;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 28px;
        font-weight: 700;
        transition: color 500ms,font-size 500ms;
        color: inherit;
        font-style: normal;
        text-transform: none;
        margin: 0 0 .5em;
    }
    h3 {
        color: #719f0a;
        font-size: 21px;
        font-weight: 700;
    }
    h4 {
        font-size: 22px;
        margin: 0 0 10px;
        color: #636363;
        font-style: normal;
        font-weight: 700;
        text-transform: none;
        text-rendering: optimizeSpeed;
    }
    p {
        margin: 0 0 1.5em;
        color: #636363;
        font-size: 20px; //inherit;
        font-style: normal;
        line-height: inherit;
    }
    a {
        color: $color-brand;
        text-decoration: none;
        touch-action: manipulation;
        cursor: pointer;
        font-size: 20px;
    }
    a:hover, a:active {
        color: #577a08;
        font-size: 20px;
    }
    .data-table {
        width: 100%;
        ul {
            padding: 10px;
        }
        .white-space {
            white-space: nowrap;
        }
    }
    .data-table td, .data-table th {
        padding: 10px 10px;
        vertical-align: top;
    }
    .data-table tbody td, .data-table thead th {
        border-bottom: 1px solid silver;
        font-weight: 400;
        text-align: left;
        background: #f4f4f4;
    }
    .data-table tfoot tr, .data-table th {
        background: #f4f4f4;
    }
    .btn-brand {
        @media (max-width:768px) {
            padding-left: 5px !important;
            padding-right: 5px !important;
            font-size: 16px;
        }
    }
}
.helpful-resources-footer {
    .btn-primary {
        @media (max-width:768px) {
            font-size: 16px !important;
        }
    }
}
.successfully-messtage {
    font-size: 20px;
}
.btn-brand {
    background-color: $color-brand;
    border: 1px solid $color-brand;
    font-size: 20px;
    box-shadow: inset 0px 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    padding: 10px 40px 10px 40px;
}
.btn-brand:hover, .btn-brand:active {
    background: linear-gradient(#3d5505,#719f08);
    text-decoration: none;
    font-size: 20px;
}
.btn-countinue {
    background-color: #719F0A;
    border: 1px solid;
    font-size: 20px;
    width: 200px;
    padding: 8.5px;
    height: 48px;
    box-shadow: inset 0px 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}
.btn-countinue:hover, .btn-countinue:active {
    background: linear-gradient(#3d5505,#719f08);
    text-decoration: none;
}
.btn-brand-outlet, .btn-brand-outlet:hover {
    border: 1px solid $color-brand;
    font-size: $font-size-18;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-brand-outlet:hover, .btn-brand:active {
    background-color: #577a08;
    color: $color-background-bright;
    border: 1px solid $color-brand;
    font-size: $font-size-18;
    padding-left: 20px;
    padding-right: 20px;
}
.required {
    color: red;
    font-weight:100;
}
.error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: red;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}
.error-message::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}
control-messages div {
    color: red;
    margin: 6px 0;
}
.modal-dialog {
    background-color: white;
    .btn-primary {
        width: 100%;
        background-color: $color-brand;
        border: 1px solid;
        font-size: 18px;
        box-shadow: inset 0px 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        padding: 4px 20px 4px 20px;
    }
    .btn-primary:hover, .btn-primary:active {
        background: linear-gradient(#3d5505,#719f08);
        text-decoration: none;
        border: 1px solid;
        font-size: 18px;
        box-shadow: inset 0px 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        padding: 4px 20px 4px 20px;
    }
    .modal-header {
        padding: 5px;
    }
    .close {
        font-size: 30px;
    }
}
.alert-danger {
    color: red;
    background-color: white;
}
a.btn-brand {
    color: $color-foreground-brighter;
}
.btn-primary,
.btn-primary.focus, .btn-primary:focus,
.btn-primary.active, .btn-primary:active, .btn-primary:hover,
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover {
    background-color: $color-brand;
    border: none;
}
@media (max-width: 768px) {
    .navbar-collapse {
        display: block;
    }
}