﻿<div class="add-order-modal">
    <div>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="close()">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>

        </div>
        <fieldset>
            <legend>
                We Accept:
                <img src="../images/card_badges.png" />
            </legend>
            <div class="modal-header" style="border:none;">
                <!--<button type="button" class="close" data-dismiss="modal" (click)="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>-->
                <p>
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <span>Shop with confidence:</span>
                    <span class="easy">Easy free returns and free ground shipping</span>
                    <br />
                    <span class="reserved-item">
                        Items are reserved for 60 minutes
                    </span>
                </p>

            </div>
            <div class="modal-body" style="border:none;">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 product-list">
                        <div class="row">
                            <span class="my-cart">
                                My Cart
                            </span>
                        </div>

                        <div class="row">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <span class="product-added">{{countProduct}} Product Added!</span>
                        </div>
                        <div class="row contents" *ngFor="let product of products">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <img *ngIf="product.imageMain" class="img-product" [attr.src]="'../images' + product.imageMain" alt="image" />
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <p>
                                    <span class="webPrice number" *ngIf="promoCodeValid == 0 || promoCodeValid == -1 || product.cartPrice == '-1.00'">${{ product.webPrice | number}}</span>
                                    <span class="cross-price" *ngIf="promoCodeValid == 1 && product.cartPrice != '-1.00'">${{ product.webPrice | number}}</span>
                                    <span class="webPrice number" *ngIf="promoCodeValid == 1  && product.cartPrice != '-1.00'">${{ product.cartPrice | number }}</span>
                                    <span class="alert-danger" *ngIf="promoCodeValid == 1  && product.cartPrice == '-1.00'">No further discount</span>
                                    <button type="button" class="close" data-dismiss="modal" (click)="removeProduct(product)">
                                        <span aria-hidden="true" style="color:red;">×</span>
                                        <span class="sr-only">Delete</span>
                                    </button>
                                </p>
                                <p>
                                    <span class="productDesc">{{product.productDesc}}</span>
                                </p>
                                <p>
                                    <span class="productSKU"> {{product.productSKU}} </span>
                                </p>
                                <p>

                                    <span class="qty">Qty </span>
                                    <input type="number" class="number" [value]="product.qty" min="1" #qty (change)="changeQty(product, qty.value)" />
                                    <button class="buttonminus" (click)="decrement(product)">-</button>
                                    <button (click)="increment(product)">+</button>
                                </p>
                                <div class="alert-danger" *ngIf="product.required">Please enter your quatity.</div>
                                <div class="alert-danger" *ngIf="product.validQty">Must be greater than 0.</div>
                            </div>
                        </div>
                        <div class="row">
                            <span class="sub-total">Sub-Total &nbsp; &nbsp; &nbsp; {{sub_totals | number | currency:'USD':true:'1.2-2'}}</span>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 summary">
                        <hr class="hidden-md hidden-lg visible-sm-block visible-xs-block" />
                        <div class="row">
                            <span class="total">
                                Discount/promo code:
                            </span>
                        </div>
                        <div class="row form-group">
                            <input type="text" [(ngModel)]="promoCode" (blur)="blurpromoCode()" />
                            <button type="submit" class="btn btn-apply" (click)="applyPromoCode()"> Apply</button>
                        </div>
                        <div class="row form-group">
                            <div class="alert-danger" *ngIf="promotionCodeError">{{promotionCodeErrorMsg}}</div>
                        </div>
                        <div class="row">
                            <span class="sub-total">
                                Sub-Total
                            </span>
                            <span class="sub-total-value number">
                                {{sub_totals | number | currency:'USD':true:'1.2-2'}}
                            </span>
                        </div>
                        <hr />
                        <div class="form-group actions" role="group">
                            <p>
                                <button type="submit" class="btn btn-primary btn-brand full-width" data-dismiss="modal" role="button" (click)="linkCheckoutPage()">
                                    <i class="fa fa-lock" ariah-hidden="true"></i>
                                    <span>Start Secure Checkout</span>
                                </button>
                            </p>
                            <p style="text-align:center;">
                                <strong>Or</strong>
                            </p>
                            <p>
                                <a (click)="payPalExpressCheckout()">
                                    <img class="paypal" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Checkout with PayPal"
                                        title="Checkout with PayPal">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>
    </div>
</div>