<div class="row guaranteed">
    <div class="row">
        <div class="col-lg-3 block visible-lg-block live-a-happier-life">
            <div class="row content-left">
                <p class="title">
                    <strong>Hear Better</strong> 
                </p>
            </div>
            <div class="row imageHolder">
                <img src="./images/live-a-happier-life.jpg" class="image" />
                <div class="row content-left">
                    <p class="title">
                        <strong>Live Happier</strong> 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 block text-center">
            <div class="content">
                <p class="title">
                    <strong>
                        100% Satisfaction Guaranteed
                    </strong>
                </p>
            </div>
            <div class="row imageHolder">
                <img src="../images/satisfction-guaranteed.jpg" />
            </div>
            <div class="content">
                <p class="title">
                    <strong>
                        Free Shipping and Returns
                    </strong>
                </p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4 block visible-md-block visible-lg-block here-to-help">
            <p class="title">
                <strong>
                    Product Experts
                </strong>
            </p>
            <div class="row imageHolder">
                <img src="../images/we're here to help.jpg" />
            </div>
            <p class="title">
                <strong>
                    40 Years Of Combined Experience 
                </strong>
            </p>
        </div>
    </div>
    <hr />
</div>
