﻿@import './../../../../../../../styles/globals.scss';
.share-wish-list {
    width: 100%!important;
    margin: 30px auto;
    background: white;
    @media(max-width:550px) {
        width: 550px;
    }
    textarea {
        height: 130px;
    }
    .btn-continue-shopping:hover, .btn-continue-shopping:active,
    .btn-share-wishlist:hover, .btn-share-wishlist:active {
        background: linear-gradient(#3d5505,#719f08);
        text-decoration: none;
        color: #fff;
    }
    .btn-share-wishlist {
        font-size: 20px;
        background-color: $color-brand;
        border: 1px solid $color-brand;
        box-shadow: inset 0px 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        padding: 5px 40px;
    }
    .btn-continue-shopping {
        font-size: 20px;
        background-color: white;
        border: 1px solid #000000;
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #000000;
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding: 5px 30px;
        margin-right: 10px;
    }
}