﻿<div class="container share-wish-list">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="lineModalLabel">Share Your Wishlist</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="shareWishlist">
                    <div class="form-group">
                        <label for="emails">Email address, separated by commas<span class="required"> *</span></label>
                        <label for="emails" class="required pull-right"> * Required Fields</label>
                        <textarea class="form-control" [formControl]="shareWishlist.controls['emails']" id="emails" maxlength="40"></textarea>
                        <div class="alert-danger" *ngIf="requiredShareWishlist == true">Please enter your emails.</div>
                    </div>
                    <div class="form-group">
                        <label for="mesage">Message</label>
                        <textarea class="form-control" [formControl]="shareWishlist.controls['mesage']" id="mesage" maxlength="40"></textarea>
                    </div>
                    <div class="form-group actions" role="group">
                        <button type="submit" data-dismiss="modal" role="button" class="btn btn-primary btn-share-wishlist" (click)="shareWishList()">Share WishList</button>
                        <!--<button type="submit" data-dismiss="modal" role="button" class="btn btn-primary btn-continue-shopping" (click)="continueShopping()">Continue Shopping</button>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
