// =============================================================================
// String Replace
// =============================================================================
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_"));
  $formats: ( otf: "opentype", ttf: "truetype");
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Transform
// =============================================================================
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
  transform: $transforms;
}

@mixin rotate($x) {
  @include transform(rotate(#{$x}deg));
}

@mixin rotateX($x) {
  @include transform(rotateX(#{$x}deg));
}

@mixin rotateY($y) {
  @include transform(rotateY(#{$y}deg));
}

@mixin rotateZ($z) {
  @include transform(rotateZ(#{$z}deg));
}

@mixin scale($scale1,
$scale2) {
  @include transform(scale($scale1, $scale2));
}

@mixin translate ($x,
$y) {
  @include transform(translate($x, $y));
}

@mixin skew ($x,
$y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

// =============================================================================
// Transition
// =============================================================================
@mixin transition($transition-property,
$transition-duration,
$transition-timing-function,
$transition-delay) {
  -webkit-transition: $transition-property $transition-duration $transition-timing-function $transition-delay, visibility 0s ease 0s;
  -moz-transition: $transition-property $transition-duration $transition-timing-function $transition-delay, visibility 0s ease 0s;
  -ms-transition: $transition-property $transition-duration $transition-timing-function $transition-delay, visibility 0s ease 0s;
  transition: $transition-property $transition-duration $transition-timing-function $transition-delay, visibility 0s ease 0s;
}

// =============================================================================
// Border radius
// =============================================================================
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// =============================================================================
// Box shadow
// =============================================================================
@mixin box-shadow($top,
$left,
$blur,
$color,
$inset:"") {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
  -moz-box-shadow: $top $left $blur $color #{$inset};
  -ms-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}

// =============================================================================
// Opacity
// =============================================================================
@mixin opacity($opacity) {
  $IEValue: $opacity*100;
  opacity: $opacity;
  filter: alpha(opacity=$IEValue);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
}

// =============================================================================
// Media queries max width
// =============================================================================
@mixin max-width($width) {
  @media screen and (max-width: #{$width}) {
    @content;
  }
}

@mixin fade($type,
$duration) {
  @if $type=='hide' {
    visibility: hidden;
    opacity: 0;
    transition: visibility $duration, opacity $duration;
  }
  @else if $type=='show' {
    visibility: visible;
    opacity: 1;
    transition: visibility $duration, opacity $duration;
  }
}

@mixin gradient($positionStart,
$color-start,
$color-end) {
  background: -webkit-linear-gradient($positionStart, $color-start 0%, $color-end 100%);
  border: none;
  background: -moz-linear-gradient($positionStart, $color-start 0%, $color-end 100%);
  border: none;
  background: -o-linear-gradient($positionStart, $color-start 0%, $color-end 100%);
  border: none;
  background: linear-gradient($positionStart, $color-start 0%, $color-end 100%);
  border: none;
  background: -ms-linear-gradient($positionStart, $color-start 0%, $color-end 100%);
}

@mixin gradientpercent($positionStart,
$color-start,
$percent-start,
$color-end,
$percent-end) {
  background: -webkit-linear-gradient($positionStart, $color-start $percent-start, $color-end $percent-end);
  border: none;
  background: -moz-linear-gradient($positionStart, $color-start $percent-start, $color-end $percent-end);
  border: none;
  background: -o-linear-gradient($positionStart, $color-start $percent-start, $color-end $percent-end);
  border: none;
  background: linear-gradient($positionStart, $color-start $percent-start, $color-end $percent-end);
  border: none;
  background: -ms-linear-gradient($positionStart, $color-start $percent-start, $color-end $percent-end);
}

%transition {
  @include transition(all,
  .3s,
  ease,
  0s);
}

%fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  transform: translate(0, 0);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%lsn {
  list-style: none;
  margin: 0;
  padding: 0;
}
