﻿<div class="container free-catalog-request-modal">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="lineModalLabel">Free Catalog Request</h4>
            </div>
            <div class="modal-body">
                <div class="std">
                    <ul>
                        <li><p>The industry's largest selection of technology for the hard of hearing and Deaf.</p></li>
                        <li><p>Catalogs are mailed to addresses within the United States (and its territories), Canada and Mexico.</p></li>
                        <li><p>Allow approximately 8-10 business days to receive your catalog.</p></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="type">I am...</label>
                    <div class="dropdown">
                        <select class="form-control" (change)="onChangeCustomerType($event.target.value)">
                            <option value="" disabled selected>--Select--</option>
                            <option value="D">Deaf</option>
                            <option value="H">Hard of Hearing</option>
                            <option value="N">Neither</option>
                        </select>
                        <br />
                    </div>
                </div>
                <form [formGroup]="customerCatForm">
                    <div *ngIf="is_choose_customer_type">
                        <div class="form-group" [ngClass]="{'has-error':!customerCatForm.controls['firstName'].valid && customerCatForm.controls['firstName'].touched}">
                            <label for="firstName">First Name<span class="required"> *</span></label>
                            <label for="firstName" class="required pull-right"> * Required Fields</label>
                            <input class="form-control" [formControl]="customerCatForm.controls['firstName']" id="firstName" maxlength="50" [(ngModel)]="context.customer.custFirstName" />
                            <div class="alert-danger" *ngIf="customerCatForm.controls['firstName'].hasError('required') && customerCatForm.controls['firstName'].touched">Please enter your first name.</div>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error':!customerCatForm.controls['lastName'].valid && customerCatForm.controls['lastName'].touched}">
                            <label for="lastName">Last Name<span class="required"> *</span></label>
                            <input class="form-control" [formControl]="customerCatForm.controls['lastName']" id="lastName" maxlength="50" [(ngModel)]="context.customer.custLastName" />
                            <div class="alert-danger" *ngIf="customerCatForm.controls['lastName'].hasError('required') && customerCatForm.controls['lastName'].touched">Please enter your last name.</div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error':!customerCatForm.controls['email'].valid && customerCatForm.controls['email'].touched}">
                            <label for="email">Email<span class="required"> *</span></label>
                            <input class="form-control" [formControl]="customerCatForm.controls['email']" id="email" maxlength="128" [(ngModel)]="context.customer.custEmail" />
                            <div class="alert-danger" *ngIf="customerCatForm.controls['email'].hasError('required') && customerCatForm.controls['email'].touched">Please enter your email.</div>
                            <div class="alert-danger" *ngIf="!customerCatForm.controls['email'].hasError('required') && customerCatForm.controls['email'].hasError('invalidEmailAddress') && customerCatForm.controls['email'].touched">Please enter your Email in this format name@company.com.</div>
                            <div class="alert-danger" *ngIf="!customerCatForm.controls['email'].hasError('required')
                             && !customerCatForm.controls['email'].hasError('invalidEmailAddress')
                             && isExistEmail
                             && customerCatForm.controls['email'].touched">
                                Email address already in use. Please <a (click)="openLogin()">login</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="organization">Company</label>
                            <input class="form-control" [formControl]="customerCatForm.controls['company']" id="company" maxlength="50" />
                        </div>
                        <div class="form-group">
                            <label for="country">Country<span class="required"> *</span></label>
                            <div class="dropdown">
                                <select class="form-control" [formControl]="customerCatForm.controls['country']"
                                        [ngClass]="{'has-error':!customerCatForm.controls['country'].valid && customerCatForm.controls['country'].touched}"
                                        (change)="onChangeCountry($event.target.value)">
                                    <option value="" disabled selected>--Select--</option>
                                    <option value="US">United States</option>
                                    <option value="CA">Canada</option>
                                </select>
                                <div class="alert-danger" *ngIf="customerCatForm.controls['country'].hasError('required') && customerCatForm.controls['country'].touched">Please enter your country.</div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error':!customerCatForm.controls['address'].valid && customerCatForm.controls['address'].touched}">
                            <label for="address">Address<span class="required"> *</span></label>
                            <input class="form-control" [formControl]="customerCatForm.controls['address']" id="address" maxlength="100" />
                            <div class="alert-danger" *ngIf="customerCatForm.controls['address'].hasError('required') && customerCatForm.controls['address'].touched">Please enter your address.</div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error':!customerCatForm.controls['city'].valid && customerCatForm.controls['city'].touched}">
                            <label for="city">City<span class="required"> *</span></label>
                            <input class="form-control" [formControl]="customerCatForm.controls['city']" id="city" maxlength="100" />
                            <div class="alert-danger" *ngIf="customerCatForm.controls['city'].hasError('required') && customerCatForm.controls['city'].touched">Please enter your city.</div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error':!customerCatForm.controls['state'].valid && customerCatForm.controls['state'].touched}">
                            <label for="state">State/Region<span class="required"> *</span></label>
                            <select class="form-control" [formControl]="customerCatForm.controls['state']" id="state">
                                <option value="" disabled selected>--Select--</option>
                                <option *ngFor="let state of states" [value]="state.stateID">
                                    {{state.stateDesc}}
                                </option>
                            </select>
                            <div class="alert-danger" *ngIf="customerCatForm.controls['state'].hasError('required') && customerCatForm.controls['state'].touched">Please enter your state/region.</div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error':!customerCatForm.controls['zipcode'].valid && customerCatForm.controls['zipcode'].touched}">
                            <label for="zipcode">Zip Code<span class="required"> *</span></label>
                            <input class="form-control" [formControl]="customerCatForm.controls['zipcode']" id="zipcode" maxlength="20" />
                            <div class="alert-danger" *ngIf="customerCatForm.controls['zipcode'].hasError('required') && customerCatForm.controls['zipcode'].touched">Please enter your zip code.</div>
                        </div>
                        <div class="form-group actions" role="group">
                            <button type="submit" class="btn btn-brand full-width" data-dismiss="modal" role="button" (click)="save()"> Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>