﻿@import './../../../../../../../../styles/globals.scss'; 
.free-catalog-request-modal {
    width: 100%;
    margin: 30px auto;
    background: white;
    overflow-y: scroll;	
    height:700px;	
    @include breakpoint(xs) {
        width: 320px;
        height:330px;
    }
    .form-group {
        margin-bottom: 0px;
        font-size: 20px;
    }
    .modal-header {
        padding: 10px 0 0;
        margin-bottom: 10px;
    }
    .modal-body {
        .std {
            color: #636363;
            margin-bottom: 35px;

            li {
                font-size: 20px;
                line-height: 30px;
            }

            p {
                margin: 0 0 5px;
            }
        }
    }

    .reset-it-now {
        color: $color-foreground-darker;
        text-decoration: underline;
    }

    label {
        margin-bottom: 10px;
    }

    .lable-info {
        font-weight: 500;
    }

    .lable-info-email-extra {
        color: $color-brand;
        font-size: 16px;
    }
    .actions {
        .btn-brand {
            background-color: $color-brand;
            border: 1px solid;
            font-size: 18px;
            width: 100%;
            height: 40px;
            box-shadow: inset 0px 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
            padding: 6px 20px 6px 20px;
            margin-top: 15px;
        }
        .btn-brand:hover, .btn-brand:active {
            background: linear-gradient(#3d5505,#719f08);
            text-decoration: none;
        }
    }
}
