﻿@import './../../../../styles/globals.scss';

.login-modal {
    width: 400px;
    margin: 30px auto;
    background: white;

    @include breakpoint(xs) {
        width: 320px;
    }
  
    .forgot-your-password {
        color: $color-brand;
        font-size: 18px;
    }

    .reset-it-now {
        color: $color-foreground-darker;
        text-decoration: underline;
    }

    .password-is-case-sensitive {
        margin-bottom: 5px;
    }

    .actions {
        .btn-brand {
            background-color: $color-brand;
            border: 1px solid;
            width: 100%;
            height: 40px;
            font-size: 18px;
            box-shadow: inset 0px 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
            padding: 6px 20px 6px 20px;
        }
        .btn-brand:hover, .btn-brand:active {
            background: linear-gradient(#3d5505,#719f08);
            text-decoration: none;
        }
    }  
    

    label {
        font-size: 18px;
    }

    .close {
        font-size: 30px; //ladded
    }
}
