﻿<!-- <div class="productRelatedMobi hidden-lg hidden-md hidden-xs  visible-sm-block"   *ngIf="productRelateds && productRelateds.length > 0">
    <p class="description">
        <span class="title">Products related to this item (This item only work with these products below)</span>
    </p>
    <ul>
        <li style="width:1%;">
            <a class="carousel-control prev" href="#carouselMobi" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li style="width:98%;">
            <div id="carouselMobi" class="carousel slide" data-interval="false">              
                <div class="carousel-inner">
                    <div *ngFor="let chunk of chunks(3); let i = index" [class]="i==0 ? 'item active':'item'">
                        <list-item style="width:33.333%" *ngFor="let range of createRange(3); let j = index" [item]="productRelateds[i*3 + j]">
                        </list-item>
                    </div>
                </div>
            </div>
        </li>
        <li style="width:1%;text-align: right;">
            <a class="carousel-control next" href="#carouselMobi" role="button" data-slide="next">
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>
<div class="productRelatedMobi hidden-lg hidden-md hidden-sm  visible-xs-block" *ngIf="productRelateds && productRelateds.length > 0">
    <p class="description">
        <span class="title">Products related to this item (This item only work with these products below)</span>
    </p>
    <ul>
        <li style="width:1%;">
            <a class="carousel-control prev" href="#carouselMobiXs" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li style="width:98%;">
            <div id="carouselMobiXs" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div *ngFor="let chunk of chunks(2); let i = index" [class]="i==0 ? 'item active':'item'">
                        <list-item style="width:50%" *ngFor="let range of createRange(2); let j = index" [item]="productRelateds[i*2 + j]">
                        </list-item>
                    </div>
                </div>
            </div>
        </li>
        <li style="width:1%;text-align: right;">
            <a class="carousel-control next" href="#carouselMobiXs" role="button" data-slide="next">
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div> -->
