@import './../../../styles/globals.scss';
.newsletter {
    color: #636363;
    margin-top: -30px;
    @include breakpoint(xs) {
        margin-top: 0;
    }
    .free-product-catalogs {
        .row {
            @include breakpoint(xs) {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .left {
        text-align: left;
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .title {
            font-size: 28px;
            color: $color-background-dark;
        }
        .info {
            font-size: 20px;
            text-align: left;
        }
        .email-address {
            float: left;
            margin-top: 5px;
            font-size: 14px;
            font-weight: 500;
        }
        #emailAdressInput {
            border: none;
            height: 30px;
            margin-left: 5px;
            width: 70%;
            line-height: 1.42857143;
        }
        .btn-join {
            font-size: 20px;
            background-color: $color-brand;
            color: #ffffff;
            padding: 0 4% 0 4%;
            float: right;
            box-shadow: inset 0px 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        }
        .btn-join:hover, .btn-join:active {
            background: linear-gradient(#3d5505,#719f08);
            text-decoration: none;
        }
        .contact-customer-service {
            text-align: left;
            font-size: 14px;
            font-weight: 500;
            p {
                margin-top: -5px;
                @include breakpoint(xs) {
                    margin-top: 0;
                }
            }
            a {
                color: $color-brand;
                font-weight: 700;
                cursor: pointer;
                text-decoration: unset;
            }
            a:hover, a:active {
                color: #577a08;
            }
        }
        hr {
            border-top: 5px solid $color-background-dark;
            padding: 0;
            margin-top: 3px;
            margin-bottom: 10px;
        }
    }
    .right {
        padding: 0 0 0 4%;
        text-align: left;
        .title {
            font-size: 28px;
            color: $color-background-dark;
        }
        .info {
            font-size: 20px;
            text-align: left;
        }
        .btn-catalogs {
            background-color: $color-brand;
            border: 1px solid;
            font-size: 20px;
            width: 200px;
            padding: 8.5px;
            height: 48px;
            box-shadow: inset 0px 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
            margin-top: 10px;
        }
        .btn-catalogs:hover, .btn-catalogs:active {
            background: linear-gradient(#3d5505,#719f08);
            text-decoration: none;
        }
        .actions {
            padding-bottom: 2.2%;
        }
    }
}