﻿<div class="row">
    <hr />
</div>
<div class="row newsletter">
    <div class="col-md-6 col-lg-6 left" [ngClass]="newsletterClass">
        <div class="row"><span class="title"><strong>Be The First To Know</strong></span></div>
        <div class="row">
            <p class="info"> Join our newsletter today to recieve our exclusive updates, promotions and more.</p>
        </div>
        <div class="row">
            <form (click)="subscriber(emailAdressInput.value, 'Add')" class="form-horizontal" [formGroup]="newsletterForm" data-toggle="validator" role="form">
                <div [ngClass]="{'has-error':!newsletterForm.controls['email'].valid && newsletterForm.controls['email'].touched}">
                    <span class="email-address"><span class="glyphicon glyphicon glyphicon-envelope"></span> </span>
                    <button class="btn btn-join" type="submit" >Join</button>                                  
                    <input class="input-group-lg" id="emailAdressInput" [formControl]="newsletterForm.controls['email']" maxlength="128" placeholder="EmailAdress" type="text" #emailAdressInput />         
                    <div class="alert-danger" *ngIf="newsletterForm.controls['email'].hasError('required') && newsletterForm.controls['email'].touched">Please enter your Email</div>
                    <div class="alert-danger" *ngIf="!newsletterForm.controls['email'].hasError('required') && newsletterForm.controls['email'].hasError('invalidEmailAddress') && newsletterForm.controls['email'].touched">Please enter your Email in this format name@company.com.</div>
                </div>
            </form>
            <hr />
        </div>
        <div class="row contact-customer-service">
            <p>
                <a [routerLink]="['contact-us']">Contact Us</a> with questions or concerns.If you no longer wish to recieve newsletters,
                you can <a (click)="subscriber(emailAdressInput.value, 'Removed' )">unsubscrible</a> any time.
            </p>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 free-product-catalogs right" [ngClass]="freeProductCatalogsClass">
        <div class="row"><span class="title"><strong>Free Product Catalogs</strong></span></div>
        <div class="row">
            <p class="info">  Get the industry's largest selection of assistive technology, books and media sent right to your mailbox!</p>
        </div>
        <div class="row actions">
            <button class="btn btn-catalogs" type="button" (click)="show_catalog_request()">Get Catalog</button>
        </div>
    </div>
</div>