﻿<div class="productRelatedMobi hidden-lg hidden-md hidden-xs  visible-sm-block" *ngIf="productRelateds && productRelateds.length > 0">
    <p class="description">
        <span class="title">Products related to this item (This item only work with these products below)</span>
    </p>
    <ul>
        <li style="width:1%;">
            <a class="carousel-control prev" (click)="prev()" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li style="width:98%;">
            <div id="carouselMobi" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div *ngFor="let chunk of chunks(3); let i = index" [class]="i ==  bufferSize ? 'item active':'item'">
                        <div style="width:33.333%" *ngFor="let range of createRange(3); let j = index"  class="list-item">
                            <!-- <list-item *ngFor="let item of buffer" [item]="item"> </list-item> -->
                            <div class="item-content" id="{{ productRelateds[i*3 + j].pageID}}" *ngIf="productRelateds[i*3 + j]">
                                <div class="col-item" (click)="selectDetails(productRelateds[i*3 + j])">
                                    <div class="top-line1">
                                        <span class="a-size-mini a-color-base dotdBadge1" *ngIf="productRelateds[i*3 + j].newArrivalInd == 'Y' && productRelateds[i*3 + j].crossoffInd == 'N'&& productRelateds[i*3 + j].clearanceInd == 'N'">New!</span>
                                        <span class="a-size-mini a-color-base dotdBadge1" *ngIf="productRelateds[i*3 + j].crossoffInd==='Y' && productRelateds[i*3 + j].clearanceInd == 'N'">Sale!</span>
                                        <span class="a-size-mini a-color-base dotdBadge1" *ngIf="productRelateds[i*3 + j].clearanceInd == 'Y'"> Clearance!</span>
                                        <span class="a-size-mini a-color-base badgeSkew"></span>
                                    </div>
                                    <div class="photo">
                                        <img [class]="productRelated == 1 ? 'img-responsive' : 'img-responsive'" [attr.src]="'../images' + productRelateds[i*3 + j].imageMain" />
                                    </div>
                                    <div class="info">
                            
                                        <p class="productDesc iphone" title="{{productRelateds[i*3 + j].productDesc}}">  {{ (productRelateds[i*3 + j].productDesc.length> 19)? (productRelateds[i*3 + j].productDesc | slice:0:19)+'...':(productRelateds[i*3 + j].productDesc)}}</p>
                                        <p class="productDesc iphone5" title="{{productRelateds[i*3 + j].productDesc}}">  {{ (productRelateds[i*3 + j].productDesc.length> 25)? (productRelateds[i*3 + j].productDesc | slice:0:25)+'...':(productRelateds[i*3 + j].productDesc)}}</p>
                            
                                         <p style="margin:0;line-height:22px;">
                                            <span *ngIf="productRelateds[i*3 + j].crossoffInd==='N'">${{ productRelateds[i*3 + j].webPrice | number}}</span>
                                            <span class="price" *ngIf="productRelateds[i*3 + j].crossoffInd==='Y'">${{ productRelateds[i*3 + j].msrpPrice | number}}</span>
                                            <span class="promo-price" *ngIf="productRelateds[i*3 + j].crossoffInd==='Y'">${{ productRelateds[i*3 + j].webPrice | number }}</span>
                                        </p>
                                       <fieldset class="rating">
                                            <label *ngFor="let i of productRelateds[i*3 + j].reviewRate | rateNumber">
                                                <span class="full" *ngIf="i >= 0 && i != 0.5"></span>
                                                <span class="half" *ngIf="i==0.5"></span>
                                                <span class="" *ngIf="i===-1"></span>
                                            </label>
                                        </fieldset>
                                        <div class="total-rating" *ngIf=" productRelateds[i*3 + j].reviewCount > 0"> {{ productRelateds[i*3 + j].reviewCount | number}}</div>
                                    </div>
                                    <div class="btn-view-details">
                                        <button class="btn btn-primary btn-view-products">View Details</button>
                                    </div>
                            
                                </div>
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="width:1%;text-align: right;">
            <a class="carousel-control next" (click)="next()" role="button" data-slide="next">
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>
<div class="productRelatedMobi hidden-lg hidden-md hidden-sm  visible-xs-block" *ngIf="productRelateds && productRelateds.length > 0">
    <p class="description">
        <span class="title">Products related to this item (This item only work with these products below)</span>
    </p>
    <ul>
        <li style="width:1%;">
            <a class="carousel-control prev" (click)="prev()" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li style="width:98%;">
            <div id="carouselMobiXs" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div *ngFor="let chunk of chunks(2); let i = index" [class]="i ==  bufferSize ? 'item active':'item'">
                        <div style="width:50%" *ngFor="let range of createRange(2); let j = index" item="productRelateds[i*2 + j]" class="list-item">
                            <!-- <list-item *ngFor="let item of buffer" [item]="item"> </list-item> -->
                            <div class="item-content" id="{{ productRelateds[i*2 + j].pageID}}" *ngIf="productRelateds[i*2 + j]">
                                <div class="col-item" (click)="selectDetails(productRelateds[i*2 + j])">
                                    <div class="top-line1">
                                        <span class="a-size-mini a-color-base dotdBadge1" *ngIf="productRelateds[i*2 + j].newArrivalInd == 'Y' && productRelateds[i*2 + j].crossoffInd == 'N'&& productRelateds[i*2 + j].clearanceInd == 'N'">New!</span>
                                        <span class="a-size-mini a-color-base dotdBadge1" *ngIf="productRelateds[i*2 + j].crossoffInd==='Y' && productRelateds[i*2 + j].clearanceInd == 'N'">Sale!</span>
                                        <span class="a-size-mini a-color-base dotdBadge1" *ngIf="productRelateds[i*2 + j].clearanceInd == 'Y'"> Clearance!</span>
                                        <span class="a-size-mini a-color-base badgeSkew"></span>
                                    </div>
                                    <div class="photo">
                                        <img [class]="productRelated == 1 ? 'img-responsive' : 'img-responsive'" [attr.src]="'../images' + productRelateds[i*2 + j].imageMain" />
                                    </div>
                                    <div class="info">
                            
                                        <p class="productDesc iphone" title="{{productRelateds[i*2 + j].productDesc}}">  {{ (productRelateds[i*2 + j].productDesc.length> 19)? (productRelateds[i*2 + j].productDesc | slice:0:19)+'...':(productRelateds[i*2 + j].productDesc)}}</p>
                                        <p class="productDesc iphone5" title="{{productRelateds[i*2 + j].productDesc}}">  {{ (productRelateds[i*2 + j].productDesc.length> 25)? (productRelateds[i*2 + j].productDesc | slice:0:25)+'...':(productRelateds[i*2 + j].productDesc)}}</p>
                            
                                         <p style="margin:0;line-height:22px;">
                                            <span *ngIf="productRelateds[i*2 + j].crossoffInd==='N'">${{ productRelateds[i*2 + j].webPrice | number}}</span>
                                            <span class="price" *ngIf="productRelateds[i*2 + j].crossoffInd==='Y'">${{ productRelateds[i*2 + j].msrpPrice | number}}</span>
                                            <span class="promo-price" *ngIf="productRelateds[i*2 + j].crossoffInd==='Y'">${{ productRelateds[i*2 + j].webPrice | number }}</span>
                                        </p>
                                       <fieldset class="rating">
                                            <label *ngFor="let i of productRelateds[i*2 + j].reviewRate | rateNumber">
                                                <span class="full" *ngIf="i >= 0 && i != 0.5"></span>
                                                <span class="half" *ngIf="i==0.5"></span>
                                                <span class="" *ngIf="i===-1"></span>
                                            </label>
                                        </fieldset>
                                        <div class="total-rating" *ngIf=" productRelateds[i*2 + j].reviewCount > 0"> {{ productRelateds[i*2 + j].reviewCount | number}}</div>
                                    </div>
                                    <div class="btn-view-details">
                                        <button class="btn btn-primary btn-view-products">View Details</button>
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="width:1%;text-align: right;">
            <a class="carousel-control next" (click)="next()" role="button" data-slide="next">
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>