@import './../../../../../../../styles/globals.scss';
.banner {
    margin-top: -23px;

    @media (max-width:768px) {
        margin-top: 0;
    }

    ol.carousel-indicators {
        display: none;
    }

    .carousel-inner {
        img {
            width: 100%;
            height: 400px;
            
        }

        .carousel-caption {
            top: 18%;
            padding: 0;
            margin: 0;
            right: 7%;
            left: 22%;

            @include breakpoint(xs) {
                top: 15%;
                right: 10%;
                left: 10%;
            }

            @include breakpoint(sm) {
                top: 15%;
                right: 5%;
                left: 5%;
            }

            @include breakpoint(md) {
                top: 20%;
                right: 7%;
                left: 22%;
            }
            .hearing-loss-solutions h1 {
                @include breakpoint(xs) {
                    font-size: $font-size-24;

                    @media (min-width: 360px) {
                        font-size: 28px;
                    }

                    @media (min-width: 412px) {
                        font-size: 32px;
                    }
                }

                @include breakpoint(sm) {
                    font-size: 65px;
                }


                @media (min-width:767px) {
                    font-size: 60px;
                }

                @media (min-width:1023px) {
                    font-size: 65px; //60
                }
            }

            hr {
                border-top: 5px solid $color-foreground-bright;
                margin-top: 15px;
            }

            .latest-hearing-loss {
                h4 {
                    font-size: $font-size-24;
                    margin-top: -20px;

                    @include breakpoint(xs) {
                        margin-top: 0px;
                    }
                }
            }
            .buttons {
                padding-top: 5%;
                @include breakpoint(xs) {
                    margin-top: -10px;
                }

                @include breakpoint(sm) {
                    margin-top: -10px;
                }

                .btn-free-catalog {
                    background-color: transparent;
                    border: 0.5px solid $color-brand;
                    font-size: 20px;
                    width: 200px;
                    padding: 8.5px;
                    margin-right: 50px;
                    height: 48px;
                    color: #fff;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);

                    @include breakpoint(xs) {
                        margin-right: 0;
                    }

                    @media (min-width:319px) {
                        margin-bottom: 5px;
                    }

                    @media (min-width:567px) {
                        margin-bottom: 0;
                    }
                }

                .btn-free-catalog:hover, .btn-free-catalog:active {
                    background: linear-gradient(#3d5505,#719f08);
                    text-decoration: none;
                }

                .btn-view-products {
                    background-color: $color-brand;
                    border: 1px solid $color-brand;
                    font-size: 20px;
                    width: 200px;
                    padding: 8.5px;
                    height: 48px;
                    box-shadow: inset 0px 1px 1px #a4e388;
                    border-color: #3b6e22 #3b6e22 #2c5115;
                    color: #fff;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                }

                .btn-view-products:hover, .btn-view-products:active {
                    background: linear-gradient(#3d5505,#719f08);
                    text-decoration: none;
                }
                .visible-sm-block .btn, .visible-xs-block .btn {
                    padding: 6px 5px;
                    font-size: 12px;
                }
            }
        }

        .carousel-mobi {
            background-color: $color-background-dark;
            height: $font-size-28;
            width: 100%;
            @include breakpoint(xs) {
                min-height: 350px;
            }
            @include breakpoint(sm) {
                min-height: 300px;
            }
        }
    }
}
.banner-content {
    height: 100px;
    background-color: $color-brand;
    margin: -2px 0 0 0;
    position: relative;
    color: $color-foreground-bright;
    font-size: $font-size-20;
    padding-top: 20px;
    text-align: center;
    .content-bottom {
        margin-top: 1%;
    }
}
