<div class="row banner">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-target="carousel" data-slide-to="0"></li>
        </ol>
        <div class="carousel-inner">
            <div class="row active">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="./images/homepageimage.jpg" class="girl img-responsive visible-lg-block visible-md-block" />
                    <div class="clearfix carousel-mobi visible-sm-block visible-xs-block">

                    </div>
                    <div class="carousel-caption">
                        <div class="row hearing-loss-solutions">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h1>  Hearing Loss Solutions </h1><hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 latest-hearing-loss">
                                <h4>Your Source For The Latest Hearing Loss Technology</h4>
                            </div>
                        </div>
                        <div class="row buttons visible-lg-block visible-md-block">
                            <button class="btn btn-primary btn-free-catalog" (click)="show_catalog_request()">  Free Catalog</button>
                            <button class="btn btn-primary btn-view-products" [routerLink]="['/allproducts']"
                                    [queryParams]="{departmentId:1,classId : 11, subClassId: 111 , title : 'Clock & Watch'}">View Clock & Watch</button>
                        </div> 
                        <div class="row buttons visible-sm-block visible-xs-block">
                            <button class="btn btn-primary btn-free-catalog" (click)="show_catalog_request()">  Free Catalog</button>
                            <button class="btn btn-primary btn-view-products" [routerLink]="['/allproducts']"
                                    [queryParams]="{departmentId:1,classId : 11, subClassId: 111 , title : 'Clock & Watch'}">View Clock & Watch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row banner-content visible-lg-block visible-md-block">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-10 col-lg-10">
        <span class="content-bottom">
            Harris Communications - Trusted by millions to hear better, live independently and enjoy a happier life.
            Serving the hard of hearing and deaf community since 1982.
        </span>
    </div>
    <div class="col-md-1 col-lg-1"></div>
</div>
