﻿<div class="row main-menu" (click)='closeAllMenu()' >
    <div class="pull-left visible-lg-block visible-md-block" style="margin-left: 15px;" >
        <div class="collapse navbar-collapse menu-nav">
            <ul id="nav" class="nav-group with-menu">
                <li class="" [ngClass]="navGroup">
                    <div class="h2 nav-group-title">
                        <a class="home nav-item" [routerLink]="['home']">
                            <span class="nav-item-label ">Home</span>
                        </a>
                    </div>
                </li>
                <li class="nav-group with-menu" *ngFor="let item of menu" [attr.id]="item.departmentID" [class.active]="activeId == item.departmentID" (mouseover)='overMenu(item.departmentID)' (mouseleave)='leaveMenu(item.departmentID)'>
                    <div class="h2 nav-group-title">
                        <a class="nav-item">
                            <span class="nav-item-label ">{{item.departmentDesc}}</span>
                        </a>
                    </div>
                    <div class="nav-menu-wrapper">
                        <div class="nav-menu">
                            <menu-item *ngFor="let class of item.classes" [item]="class" [departmentId] ="item.departmentID"> </menu-item>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <!-- Search -->
    <div class="col-lg-3 col-md-3 pull-right visible-lg-block visible-md-block"  (click)="checkInSearch();">
        <div class="input-group search-gen">
            <input type="text" class="form-control search-input" placeholder="Search" [(ngModel)]=querySearch (keyup.enter)="searchProduct();" (keyup)="filterSearch();"/>
            <div class="input-group-btn search-grp-button">
                <button class="btn btn-default search-button" type="button" (click)="searchProduct();">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <div class="search-suggestion" *ngIf="filteredListSearch.length > 0">
                <ul class="search-list-suggestion" *ngFor="let item of filteredListSearch">
                    <li (click)="selectSearch(item);">
                        <!--<a (click)="selectSearch(item);"><span class="search-span-suggestion" [innerHTML]=showSuggestionItem(item)></span></a>-->
                        <span class="search-span-suggestion" [innerHTML]=showSuggestionItem(item)></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- .Search -->
</div>

<div id="mainMenu" class="menu-mobile visible-xs-inline visible-sm-inline" (mouseleave)='closeAllMenu()'>
    <div class="list-group panel" style="padding-top: 1px;" [ngClass]="!show ? 'show' : 'hidden'">
        <a data-target="#menupos" class="list-group-item" data-toggle="collapse" data-parent="#mainmenu" (click)="openMenu()">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">
                <span class="title visible-sm-inline"> Menu</span>
            </span>
        </a>
        <div class="collapse pos-absolute" id="menupos" [ngStyle]="{'display':displayMenu}" >
            <a [routerLink]="['home']" (click)="closeMenu()" data-toggle="collapse" class="list-group-item sub-item" style="margin-top:15px;">Home</a>
            <div *ngFor="let item of menu">
                <a href="#department{{item.departmentID}}"
                   onclick="return false"
                   class="list-group-item sub-item"
                   data-toggle="collapse"
                   [attr.data-parent]="'#department'+item.departmentID"
                   (click)="subCollapse(item)" (click)="openDepartemnt(item)">
                    {{item.departmentDesc}}
                    <span class="menu-ico-collapse">
                        <i [attr.id]="'menu'+item.departmentID" [ngClass]="item.show ? 'glyphicon glyphicon-minus':'glyphicon glyphicon-plus'"></i>
                    </span>
                </a>
                <div class="collapse list-group-submenu" [attr.id]="'department'+item.departmentID" [ngStyle]="{'display':item.show ? 'block': 'none'}">
                    <menu-item  (linkFinished)="linkFinished($event)"
                               *ngFor="let class of item.classes" [item]="class" [departmentId]="item.departmentID"> </menu-item>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group panel sort" [ngClass]="show ? 'show' : 'hidden'">
        <a class="list-group-item" (click)="sort()">
            <span class="glyphicon title-filter">
                Sort
            </span>
        </a>
    </div>
    <div class="list-group panel" [ngClass]="show ? 'hidden' : 'show'">
        <a (click)="showAddOrderDialog()" class="list-group-item">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
            <strong>({{countProducts}})</strong>
            <span class="title visible-sm-inline"> Cart</span>            
          </span>
        </a>      
    </div>
    <div class="list-group panel" [ngClass]="show ? 'hidden' : 'show'" (click)="checkInSearch();">
        <a (click)="searchProduct();showhideSearchMb();" class="list-group-item"><span class="glyphicon glyphicon-search " aria-hidden="true"><span class="title visible-sm-inline"> Search</span></span></a>
        <!-- Search on mobile -->
        <div class="input-group search-gen" [ngClass]="showSearchMb ? 'show' : 'hidden'">
            <input type="text" class="form-control search-input" placeholder="Search" [(ngModel)]=querySearch (keyup.enter)="searchProduct();showhideSearchMb();" (keyup)="filterSearch();" />
            <!--<div class="input-group-btn search-grp-button">
                <button class="btn btn-default search-button" type="button" (click)="searchProduct();showhideSearchMb();">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>-->
            <div class="search-suggestion" *ngIf="filteredListSearch.length > 0">
                <ul class="search-list-suggestion" *ngFor="let item of filteredListSearch">
                    <li (click)="selectSearch(item);showhideSearchMb();">
                        <!--<a (click)="selectSearch(item);showhideSearchMb();"><span class="search-span-suggestion" [innerHTML]=showSuggestionItem(item)></span></a>-->
                        <span class="search-span-suggestion" [innerHTML]=showSuggestionItem(item)></span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- .Search on mobile -->
    </div>
    <div class="list-group panel filter" [ngClass]="show ? 'show' : 'hidden'">
        <a  class="list-group-item" (click)="filter()">
            <span class="glyphicon title-filter">
                Filter
            </span>
        </a>
    </div>
    <div class="list-group panel" [ngClass]="!show ? 'show' : 'hidden'">
        <a class="list-group-item dropdown-toggle" data-toggle="collapse" data-target="#contactId" (click)='openContact()'><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"><span class="title visible-sm-inline"> Contact</span></span></a>
        
    <ul class="collapse contact" id="contactId" [ngStyle]="{'display':displayContact}">
        <li class="list-group-item">
            <div class="line">
                <div class="label-wrap">
                    <span class="label">Voice</span>
                    <a href="tel:800-825-6758" class="tel">800-825-6758</a>
                </div>
                <div class="status open">
                    M-F: 8 AM - 5:30 PM CST
                </div>
                <div class="status open">
                    SAT: 9 AM - 12 PM CST
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="line">
                <div class="label-wrap">
                    <span class="label">VP (DEAF)</span>
                    <a href="tel:952-388-2152" class="tel">952-388-2152</a>
                </div>
                <div class="status open">
                    M-F: 9 AM - 4 PM CST
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="line">
                <div class="label-wrap">
                    <span class="label">TTY</span>
                    <a href="tel:800-825-9187" class="tel">800-825-9187</a>
                </div>
                <div class="status open">
                    M-F: 8 AM - 5:30 PM CST
                </div>
                <div class="status open">
                    SAT: 9 AM - 12 PM CST
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="line">
                <div class="label-wrap">
                    <span class="label">EMAIL</span>
                    <a href="mailto:" class="link">
                        info@harriscomm.com
                    </a>
                </div>
            </div>
        </li>
    </ul>
    </div>
</div>