﻿<div class="my-address-book">
    <ul>
        <li class="title">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <span>My Account</span>
        </li>
    </ul>
    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#billing" data-parent="#accordion" onclick="return false">Billing Address</a>
                        &nbsp;  &nbsp;
                        <a class="add" *ngIf="billingAddresses?.length > 0 && !showBillingAddresses" (click)="addBillingAddress()">Add</a>
                        <a class="edit" *ngIf="billingAddresses?.length > 0 && !showBillingAddresses" (click)="UpdateBillingAddresses()">Edit</a>
                    </h4>
                </div>
                <div id="billing" class="panel-collapse">
                    <div class="panel-body" *ngIf="billingAddresses?.length == 0">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <span> You currently have no saved address. Get started by </span>
                        <a (click)="addBillingAddress()"> adding one</a>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" *ngIf="billingAddresses?.length > 0">
                            <span> Select a <strong>billing</strong> address from your default address book or enter a new address book.</span>
                            <select class="form-control" (change)="changeBillingAddress($event.target.value)">
                                <option *ngFor="let item of billingAddresses" [value]="item.addrID">
                                    {{item.address}},&nbsp;
                                    {{item.city}},&nbsp;
                                    {{getState(item.state)}},&nbsp;
                                    {{currentBillingAddresses.zip}},&nbsp;
                                    {{getCountry(item.country)}}

                                </option>
                            </select>
                            <div *ngIf="!showBillingAddresses && currentBillingAddresses">
                                <br>
                                <label>Billing Address</label>
                                <p>{{currentBillingAddresses.firstName}} {{ currentBillingAddresses.lastName}}</p>
                                <p>{{currentBillingAddresses.address}} </p>
                                <p>
                                    <span>{{currentBillingAddresses.city}}, </span>
                                    <span>{{getState(currentBillingAddresses.state)}}, </span>
                                    <span>{{currentBillingAddresses.zip}} </span>
                                </p>
                                <p>{{getCountry(currentBillingAddresses.country)}} </p>
                                <p>T:{{currentBillingAddresses.phone}} </p>
                            </div>
                        </div>

                        <form [formGroup]="billingOrderForm" *ngIf="showBillingAddresses">
                            <div>
                                <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['firstName'].valid && billingOrderForm.controls['firstName'].touched}">
                                    <label for="firstName">First Name<span class="required"> *</span></label>
                                    <input class="form-control" [formControl]="billingOrderForm.controls['firstName']" id="firstName" maxlength="50" />
                                    <div class="alert-danger" *ngIf="billingOrderForm.controls['firstName'].hasError('required') && billingOrderForm.controls['firstName'].touched">Please enter your first name.</div>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['lastName'].valid && billingOrderForm.controls['lastName'].touched}">
                                    <label for="lastName">Last Name<span class="required"> *</span></label>
                                    <input class="form-control" [formControl]="billingOrderForm.controls['lastName']" id="lastName" maxlength="50" />
                                    <div class="alert-danger" *ngIf="billingOrderForm.controls['lastName'].hasError('required') && billingOrderForm.controls['lastName'].touched">Please enter your last name.</div>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['address'].valid && billingOrderForm.controls['address'].touched}">
                                    <label for="address">Address<span class="required"> *</span></label>
                                    <input class="form-control" [formControl]="billingOrderForm.controls['address']" id="address" maxlength="100" />
                                    <div class="alert-danger" *ngIf="billingOrderForm.controls['address'].hasError('required') && billingOrderForm.controls['address'].touched">Please enter your address.</div>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['city'].valid && billingOrderForm.controls['city'].touched}">
                                    <label for="city">City<span class="required"> *</span></label>
                                    <input class="form-control" [formControl]="billingOrderForm.controls['city']" id="city" maxlength="100" />
                                    <div class="alert-danger" *ngIf="billingOrderForm.controls['city'].hasError('required') && billingOrderForm.controls['city'].touched">Please enter your city.</div>
                                </div>
                                <div class="form-group">
                                    <label for="country">Country<span class="required"> *</span></label>
                                    <div class="dropdown">
                                        <select class="form-control" [formControl]="billingOrderForm.controls['country']"
                                                (change)="changeCountry($event.target.value)"
                                                [ngClass]="{'has-error':!billingOrderForm.controls['country'].valid
                                    && billingOrderForm.controls['country'].touched}">
                                            <option value="" disabled selected>--Select--</option>
                                            <option value="US">United States</option>
                                            <option value="CA">Canada</option>
                                        </select>
                                        <div class="alert-danger" *ngIf="billingOrderForm.controls['country'].hasError('required') && billingOrderForm.controls['country'].touched">Please enter your country.</div>
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['state'].valid && billingOrderForm.controls['state'].touched}">
                                    <label for="state">State/Region<span class="required"> *</span></label>
                                    <!--<input class="form-control" [formControl]="billingOrderForm.controls['state']" id="state" maxlength="25" />-->
                                    <select class="form-control" [formControl]="billingOrderForm.controls['state']" id="state">
                                        <option value="" disabled selected>--Select--</option>
                                        <option *ngFor="let state of states" [value]="state.stateID">
                                            {{state.stateDesc}}
                                        </option>
                                    </select>
                                    <div class="alert-danger" *ngIf="billingOrderForm.controls['state'].hasError('required') && billingOrderForm.controls['state'].touched">Please enter your state/region.</div>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['zip'].valid && billingOrderForm.controls['zip'].touched}">
                                    <label for="zip">Zip Code<span class="required"> *</span></label>
                                    <input class="form-control" [formControl]="billingOrderForm.controls['zip']" id="zip" maxlength="20" />
                                    <div class="alert-danger" *ngIf="billingOrderForm.controls['zip'].hasError('required') && billingOrderForm.controls['zip'].touched">Please enter your zip code.</div>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error':!billingOrderForm.controls['phone'].valid && billingOrderForm.controls['phone'].touched}">
                                    <label for="phone">Telephone<span class="required"> *</span></label>
                                    <input class="form-control" [formControl]="billingOrderForm.controls['phone']" id="phone" maxlength="20" />
                                    <div class="alert-danger" *ngIf="billingOrderForm.controls['phone'].hasError('required') && billingOrderForm.controls['phone'].touched">Please enter your Telephone.</div>
                                    <div class="alert-danger" *ngIf="!billingOrderForm.controls['phone'].hasError('required') && billingOrderForm.controls['phone'].hasError('invalidTelephone') && billingOrderForm.controls['phone'].touched">Phone Number is invalid (format: xxxx-xxx-xxxx)</div>
                                </div>
                                <div class="form-group sameAsShippingAddress">
                                    <p>
                                        <input name="sameAsShippingAddress" type="radio" value="1" (click)="chooseSameAsShippingAddress()" /> <span>Same as Shipping address</span>
                                    </p>
                                </div>
                                <div class="form-group actions" role="group">
                                    <button type="submit" class="btn btn-primary btn-brand" role="button" (click)="saveBillingAddress()">
                                        <span>Save Address</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" [ngClass]="shippingOrderPanel">
                        <a data-toggle="collapse" href="#shipping" data-parent="#accordion" onclick="return false">Shipping</a>
                        &nbsp;  &nbsp;
                        <a class="add" *ngIf="shippingAddresses?.length > 0 && !showShippingddresses" (click)="addShippingddress()">Add </a>
                        <a class="edit" *ngIf="shippingAddresses?.length > 0 && !showShippingddresses" (click)="UpdateShippingAddresses()">Edit</a>
                    </h4>
                </div>
                <div id="shipping" class="panel-collapse">
                    <div class="panel-body" *ngIf="shippingAddresses?.length == 0">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <span> You currently have no saved address. Get started by </span>
                        <a (click)="addShippingddress()"> adding one</a>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" *ngIf="shippingAddresses?.length > 0">
                            <span> Select a <strong>shipping</strong> address from your default address book or enter a new address book.</span>
                            <select class="form-control" (change)="changeShippingAddress($event.target.value)">
                                <option *ngFor="let item of shippingAddresses" [value]="item.addrID">
                                    {{item.address}}
                                </option>
                            </select>
                            <div *ngIf="!showShippingddresses">
                                <br>
                                <label>Billing Address</label>
                                <p>{{currentShippingAddresses.firstName}} {{ currentShippingAddresses.lastName}}</p>
                                <p>{{currentShippingAddresses.address}} </p>
                                <p>
                                    <span>{{currentShippingAddresses.city}}, </span>
                                    <span>{{getShippingState(currentShippingAddresses.state)}}, </span>
                                    <span>{{currentShippingAddresses.zip}} </span>
                                </p>
                                <p>{{getCountry(currentShippingAddresses.country)}} </p>
                                <p>T:{{currentShippingAddresses.phone}} </p>
                            </div>
                        </div>
                        <form [formGroup]="shippingOrderForm" *ngIf="showShippingddresses">
                            <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['firstName'].valid && shippingOrderForm.controls['firstName'].touched}">
                                <label for="firstName">First Name<span class="required"> *</span></label>
                                <input class="form-control" [formControl]="shippingOrderForm.controls['firstName']" id="firstName" maxlength="50" />
                                <div class="alert-danger" *ngIf="shippingOrderForm.controls['firstName'].hasError('required') && shippingOrderForm.controls['firstName'].touched">Please enter your first name.</div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['lastName'].valid && shippingOrderForm.controls['lastName'].touched}">
                                <label for="lastName">Last Name<span class="required"> *</span></label>
                                <input class="form-control" [formControl]="shippingOrderForm.controls['lastName']" id="lastName" maxlength="50" />
                                <div class="alert-danger" *ngIf="shippingOrderForm.controls['lastName'].hasError('required') && shippingOrderForm.controls['lastName'].touched">Please enter your last name.</div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['address'].valid && shippingOrderForm.controls['address'].touched}">
                                <label for="address">Address<span class="required"> *</span></label>
                                <input class="form-control" [formControl]="shippingOrderForm.controls['address']" id="address" maxlength="100" />
                                <div class="alert-danger" *ngIf="shippingOrderForm.controls['address'].hasError('required') && shippingOrderForm.controls['address'].touched">Please enter your address.</div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['city'].valid && shippingOrderForm.controls['city'].touched}">
                                <label for="city">City<span class="required"> *</span></label>
                                <input class="form-control" [formControl]="shippingOrderForm.controls['city']" id="city" maxlength="100" />
                                <div class="alert-danger" *ngIf="shippingOrderForm.controls['city'].hasError('required') && shippingOrderForm.controls['city'].touched">Please enter your city.</div>
                            </div>
                            <div class="form-group">
                                <label for="country">Country<span class="required"> *</span></label>
                                <div class="dropdown">
                                    <select class="form-control" [formControl]="shippingOrderForm.controls['country']"
                                            (change)="changeShippingCountry($event.target.value)"
                                            [ngClass]="{'has-error':!shippingOrderForm.controls['country'].valid && shippingOrderForm.controls['country'].touched}">
                                        <option value="" disabled selected>--Select--</option>
                                        <option value="US">United States</option>
                                        <option value="CA">Canada</option>
                                    </select>
                                    <div class="alert-danger" *ngIf="shippingOrderForm.controls['country'].hasError('required') && shippingOrderForm.controls['country'].touched">Please enter your country.</div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['state'].valid && shippingOrderForm.controls['state'].touched}">
                                <label for="state">State/Region<span class="required"> *</span></label>
                                <!--<input class="form-control" [formControl]="shippingOrderForm.controls['state']" id="state" maxlength="25" />-->
                                <select class="form-control" [formControl]="shippingOrderForm.controls['state']"
                                        id="state">
                                    <option value="" disabled selected>--Select--</option>
                                    <option *ngFor="let state of shippingStates" [value]="state.stateID">
                                        {{state.stateDesc}}
                                    </option>
                                </select>
                                <div class="alert-danger" *ngIf="shippingOrderForm.controls['state'].hasError('required') && shippingOrderForm.controls['state'].touched">Please enter your state/region.</div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['zip'].valid && shippingOrderForm.controls['zip'].touched}">
                                <label for="zip">Zip Code<span class="required"> *</span></label>
                                <input class="form-control" [formControl]="shippingOrderForm.controls['zip']" id="zip" maxlength="20" />
                                <div class="alert-danger" *ngIf="shippingOrderForm.controls['zip'].hasError('required') && shippingOrderForm.controls['zip'].touched">Please enter your zip code.</div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-error':!shippingOrderForm.controls['phone'].valid && shippingOrderForm.controls['phone'].touched}">
                                <label for="phone">Telephone<span class="required"> *</span></label>
                                <input class="form-control" [formControl]="shippingOrderForm.controls['phone']" id="phone" maxlength="20" />
                                <div class="alert-danger" *ngIf="shippingOrderForm.controls['phone'].hasError('required') && shippingOrderForm.controls['phone'].touched">Please enter your Telephone.</div>
                                <div class="alert-danger" *ngIf="!shippingOrderForm.controls['phone'].hasError('required') && shippingOrderForm.controls['phone'].hasError('invalidTelephone') && shippingOrderForm.controls['phone'].touched">Phone Number is invalid (format: xxxx-xxx-xxxx)</div>
                            </div>
                            <div class="form-group actions" role="group">
                                <button type="submit" class="btn btn-primary btn-brand" role="button" (click)="saveShippingAddress()">
                                    <span>Save Address</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>