﻿@import './../../../../../../../styles/globals.scss';
.my-address-book {
    margin-left: 40px;
    .edit {
        color:#333;
        text-decoration: unset;
        font-weight:600;
    }
    .add {
        color:$color-brand;
        text-decoration: unset;
        font-weight:600;
    }
    .add:hover, .add:active,.edit:hover,.edit:active {
        color: #577a08;
    }
    a {
        color: $color-brand;
        font-weight: 500;
        cursor: pointer;
        text-decoration: unset;
       }
    a:hover, a:active {
        color: #577a08;
       }
    ul {
        list-style: none;
         @media(max-width:993px) {
            padding: 0;
        }
    }
    @media(max-width:993px) {
        margin-left: 0;
    }
    .title {
        border: none;
        font-size: 30px;
        margin-left:-50px;
        margin-bottom: 30px;
        border-bottom: 1px solid $color-brand;
         }
     a {
          font-size: 24px;
     }
      p {
        color: #73777a;
        margin-right: 10px;
    }
    .form-group {
        margin-bottom: 10px;
        font-size: 18px;
        .btn-brand {
            font-size: 18px;
        }
    }
    .email {
        input {
            display: inline-block;
        }
        button {
            height: 35px;
        }
    }
    .btn-brand {
        background-color: $color-brand;
        border: 1px solid;
        font-size: 18px;
        height: 40px;
        box-shadow: inset 0px 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        padding: 6px 20px 6px 20px;
    }
    .btn-brand:hover, .btn-brand:active {
        background: linear-gradient(#3d5505,#719f08);
        text-decoration: none;
    }
    input, select {
        width: 500px;
        @media(max-width:993px) {
            width: 100%;
        }
    }
    #billing {
        p {
            margin: 0 0 5px 10px;
        }
    }
    .sameAsShippingAddress {
        p {
            line-height: 50px;
            input[type=radio] {
                width: 20px;
            }
        }
    }
}
