﻿<div class="products-image-mobi">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="ui card swipe-box"
                     *ngFor="let avatar of avatars; let idx=index"
                     (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)"
                     [class.visible]="avatar.visible" [class.hidden]="!avatar.visible">
                    <div class="image">
                        <img class="card-img-top" [src]="avatar.image" [attr.src]="'../images' + avatar.image" [alt]="avatar.name">
                    </div>                   
                </div>
                <div class="content">
                    <ol class="carousel-indicators carousel-indicators-numbers">
                        <li *ngFor="let avatar of avatars; let idx=index" [class.active]="avatar.visible"></li>
                    </ol>                 
                </div>
                <p class="additional-views" *ngIf="product.color">
                    <img class="card-img" *ngFor="let item of products" [attr.src]="'../images' + item.image1" alt="image2" (click)="changeProductMobile(item)" />
                </p>
                <!--<ul>
                    <li>
                        <div id="carousel-category-mobile" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive" [attr.src]="'../images' + product.image1" />
                                </div>
                                <div class="item">
                                    <img class="img-responsive" [attr.src]="'../images' + product.image2" />
                                </div>
                                <div class="item">
                                    <img class="img-responsive" [attr.src]="'../images' + product.image3" />
                                </div>
                                <div class="item">
                                    <img class="img-responsive" [attr.src]="'../images' + product.image4" />
                                </div>
                            </div>
                            <ol class="carousel-indicators carousel-indicators-numbers">
                                <li data-target="#carousel-category-mobile" data-slide-to="0" class="active">1</li>
                                <li data-target="#carousel-category-mobile" data-slide-to="1">2</li>
                                <li data-target="#carousel-category-mobile" data-slide-to="2">3</li>
                            </ol>
                        </div>
                       
                    </li>
                    <li>
                        <p class="additional-views" *ngIf="product.color">
                            <img class="card-img" *ngFor="let item of products" [attr.src]="'../images' + item.image1" alt="image2" (click)="changeProduct(item)" />
                        </p>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
</div>