﻿@import './../../../styles/globals.scss';


.header-container {
    position: relative;

    .navbar-nav {
        height: 70px;
        margin: -5px -5px;
        padding: 0;
    }

    a.navbar-brand {
        z-index: 100;

        &:hover, &:active, &:focus {
            background-color: transparent !important;
        }
    }

    a {
        color: $color-foreground-dark;

        img {
            /*width: 100%;*/
            height: 54px;
        }
    }

    .off-sale-info {
        background-color: $color-brand;
        height: 30px;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;

        @media (max-width: 768px) {
            margin-left: 0px;
            margin-right: 0px;
        }

        span {
            vertical-align: -webkit-baseline-middle;
            color: $color-background-bright;
            font-size: 18px;

            @media (min-width:320px) {
                font-size: 16px;
            }

            @media (min-width:360px) {
                font-size: 18px;
            }

            a {
                color: $color-background-bright;
                font-size: 20px;

                @media (max-width:375px) {
                    font-size: 16px;
                }
            }
        }
    }

    .header {

        .phones {
            display: inline-block;
            margin-top: 5px;
            font-size: $font-size-s-1;
            color: $color-background-darker;

            .phones-title-voice {
                color: $color-brand;
                font-size: $font-size-22;
            }

            .phones-title-deaf {
                color: $color-brand;
                font-size: $font-size-22;
            }

            .phones-title-hearing-loss-experts {
                color: $color-brand;
                font-size: $font-size-26;
            }
        }
    }

    .separator-vertical {
        height: 20px;
        border-left: 1px solid $color-brand;
        border-right: 1px solid $color-brand;
        margin-top: 10px;
    }

    .menu {
        color: $color-background-darker;
        font-size: $html-font-size-xxs;
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-right {
        margin-right: 0;
        margin-left: -100%;
    }

    li a {
        padding: 10px 10px;
    }

    li a:hover, li a:active {
        cursor: pointer;
        font-weight: 500;
    }

    .welcome {
        padding-top: 10px !important;
        line-height: 20px;
    }

    .header-mobile {
        .navbar-collapse {
            padding-left: 0;
        }

        // .navbar-nav {
        //     margin: 0;
        //     padding: 0;
        // }

        img {
            height: 45px; //50
            width: 125px; //100
            @media (max-width:320px) {
                width: 90px;
                height: 40px;
            }
        }

        .welcome {
            padding-top: 0px;
        }

        .menu {
            color: $color-background-darker;
            font-size: 18px;
            padding-right: 5px;
            padding-right: 0;
            padding-left: 0;
            margin-left: -100%;

            /*@media (max-width:360px) {
                height: 49px;
            }*/
              @media (max-width:320px) {
                height: 49px;
            }


            a {
                padding: 10px 4px !important;
                float: right;
            }

              li {
                float: right;
            }

        }

        .phones {
            display: inline-block;
            margin-top: 3px;
            font-size: 18px;
            color: $color-background-darker;

            .phones-title-voice {
                color: $color-brand;
                font-size: $html-font-size-xxxs;

                @media (min-width:1024px) {
                    font-size: 18px;
                }
            }

            .phones-title-deaf {
                color: $color-brand;

                @media (min-width:640px) {
                    font-size: 18px;
                }
            }

            .phones-title-hearing-loss-experts {
                color: $color-brand;
                font-size: $html-font-size-xxxs;

                @media (min-width:1024px) {
                    font-size: 22px;
                }
            }
        }
    }
}

.main-menu-scroll {
    height: 35px;
    /*border-bottom: 1px solid $color-brand;*/
    /*transition: box-shadow 500ms;
    box-shadow: 0px 0px 15px 1px rgba(93, 91, 91, 0.59);*/
     
    a.navbar-brand {
        margin-top: 7px;
        padding-top: 0;

        &:hover, &:active, &:focus {
            padding-top: 0px !important;
            padding-right: 10px;
            background-color: transparent !important;
        }
    }

    .phones-title-hearing-loss-experts {
        visibility: hidden;
    }

    img {
        height: 30px !important;
        width: 90px;
    }
    /*.navbar-right {

            a {
                padding-top: 5px;

                &:hover {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }

        .separator-vertical {
            margin-top: 5px;
        }*/
    .phones {
        padding-top: 0 !important;
    }

    .welcome {
        padding-top: 5px;
    }
}
