﻿
<div class="row header-container">
    <header>
        <div class="row">
            <div class="off-sale-info visible-xs-block visible-sm-block">
                <span><a href="/shipping-information">Free Ground Shipping</a> + <a href="/product-returns">Free Returns</a></span>
            </div>
            <div class="header-mobile visible-xs-block visible-sm-block">
                <div class="col-xs-4 col-sm-9">
                    <div class="row" style="margin-left:0">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a class="navbar-brand" [routerLink]="['home']">
                                        <img alt="Brand" src="./images/logo.png">
                                    </a>
                                </li>
                                <li class="visible-sm-block">
                                    <div class="phones">
                                        <div class="row" style="margin-left: 0;">
                                            <span class="phones-title-voice"> <strong>Voice</strong> </span>
                                            <span> 800-825-6758</span>
                                            <span class="phones-title-deaf"> <strong>VP</strong></span>
                                            <span>(Deaf) 952-388-2152</span>
                                        </div>
                                        <div class="row" style="margin-left: 0;">
                                            <span class="phones-title-hearing-loss-experts"> <strong>Hearing Loss Experts</strong></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-3">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right menu" *ngIf="!isLogin">
                            <li (click)="openRegister()"><a>Register</a></li>
                            <li (click)="openLogin()"><a>Login</a></li>
                            <li><a [routerLink]="['about-us']">About</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right menu" *ngIf="isLogin">
                            <li [routerLinkActive]="['link-active']"><a [routerLink]="['about-us']">About</a></li>
                            <li [routerLinkActive]="['link-active']"><a [routerLink]="['my-account']">Account</a></li>
                            <li [routerLinkActive]="['link-active']">
                                <a [routerLink]="['home']" (click)="logout()">Log out</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
        <div id="headerMenu" class="row">
            <div class="col-md-9 col-lg-9 visible-md-block visible-lg-block header">
                <div class="row">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a class="navbar-brand" [routerLink]="['home']">
                                    <img alt="Brand" src="./images/logo.png">
                                </a>
                            </li>
                            <li>
                                <div class="phones">
                                    <div class="row" style="margin-left: 0;">
                                        <span class="phones-title-voice"> <strong>Voice</strong> </span>
                                        <span> 800-825-6758</span>
                                        <span class="phones-title-deaf"> <strong>VP</strong></span>
                                        <span>(Deaf) 952-388-2152</span>
                                    </div>
                                    <div class="row" style="margin-left: 0;">
                                        <span class="phones-title-hearing-loss-experts"> <strong>Hearing Loss Experts</strong></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 visible-md-block visible-lg-block menu">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right" *ngIf="!isLogin">
                        <li [routerLinkActive]="['link-active']"><a [routerLink]="['about-us']">About</a></li>
                        <li [routerLinkActive]="['link-active']"><a [routerLink]="['contactus']">Contact</a></li>
                        <li (click)="openLogin()"><a>Login</a></li>
                        <li (click)="openRegister()"><a>Register</a></li>
                        <li role="separator" class="separator-vertical"></li>
                        <li [routerLinkActive]="['link-active']"><a (click)="showAddOrderDialog()"><span class="glyphicon glyphicon-shopping-cart"></span>({{countProducts}})</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right menu" *ngIf="isLogin">
                        <li [routerLinkActive]="['link-active']">
                            <div class="welcome hidden-md">
                                Welcome, {{currentUser.custFirstName}} <a [routerLink]="['home']" (click)="logout()">(Log out)</a>
                            </div>
                            <div class="welcome hidden-lg">
                                <a [routerLink]="['home']" (click)="logout()">Logout</a>
                            </div>
                        </li>
                        <li [routerLinkActive]="['link-active']"><a [routerLink]="['my-account']">Account</a></li>
                        <li [routerLinkActive]="['link-active']"><a [routerLink]="['about-us']">About</a></li>
                        <li [routerLinkActive]="['link-active']"><a [routerLink]="['contactus']">Contact</a></li>

                        <li role="separator" class="separator-vertical"></li>
                        <li [routerLinkActive]="['link-active']"><a class="shopping-cart" (click)="showAddOrderDialog()"><span class="glyphicon glyphicon-shopping-cart"></span>({{countProducts}})</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>