﻿<div class="place-order">
    <div class="row">
        <form [formGroup]="placeOrderForm">
            <div *ngIf="showPass == 1 && !isExistEmail">
                <div class="form-group">
                    <h4>Create an Account</h4>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!placeOrderForm.controls['password'].valid && placeOrderForm.controls['password'].touched}">
                    <label for="password">Password<span class="required"> *</span></label>
                    <input type="password" class="form-control" id="password" [formControl]="placeOrderForm.controls['password']" placeholder="Must be 6 characters" maxlength="25" />
                    <div class="alert-danger" *ngIf="placeOrderForm.controls['password'].hasError('required') && placeOrderForm.controls['password'].touched">Please enter your password.</div>
                    <div class="alert-danger" *ngIf="placeOrderForm.controls['password'].hasError('minlength') && placeOrderForm.controls['password'].touched">Must be 6 characters.</div>
                    <div class="alert-danger" *ngIf="placeOrderForm.controls['password'].hasError('invalidPassword') && placeOrderForm.controls['password'].touched">Can not space or . , - | \ / = _</div>
                </div>
            </div>

            <div class="form-group" *ngIf="showPass == 1">
                <input type="checkbox" [value]="subcribeNewletter" (click)="subcribeNewletterClick()" />
                <span>Subcribe to our newletter for sales and new product infomation</span>
                <br />
                <br />
            </div>
        </form>
        <div class="actions" role="group">
            <input type="checkbox" [value]="agrreeTerm" (click)="agrreeTermClick()" />
            <span>By sending your order you agree to our <a [routerLink]="['/ordering-information']">Terms</a> </span>
            <p class="alert-danger" *ngIf="agrreeTerm == 0">Please check your order your agree.</p>
            <div>             
                <!--<div id="paypal-button-container" *ngIf="paymentType == 2"></div>-->
                <button class="btn btn-primary btn-brand btn-place-order" data-dismiss="modal" role="button" (click)="save()" *ngIf="paymentType == 33">
                    <span>Place Order With PayPal</span>
                </button> <br />
                <button class="btn btn-primary btn-brand btn-place-order" data-dismiss="modal" role="button" (click)="saveAffirm()" *ngIf="paymentType == 25">
                    <span>Place Order With Affirm</span>
                </button> <br />
                <button class="btn btn-primary btn-brand" data-dismiss="modal" role="button" (click)="save()" *ngIf="paymentType == 24">
                    <span>Place Order</span>
                </button>
            </div>

        </div>
    </div>
</div>