﻿@import './../../../../../../../styles/globals.scss';

.place-order {

    .form-group {
        margin-bottom: 10px;
        font-size: 18px;

        .btn-brand {
            font-size: 18px;
        }
    }

    .actions {
        text-align: end;
        font-size:20px;

        a {
            color: $color-brand;
            font-weight: 600;
            cursor: pointer;
            text-decoration: unset;
            }

            a:hover, a:active {
                color: #577a08;
            }

        button {
            margin-bottom: 10px;
        }

        .btn-place-order {
            width: 240px;
        }
    }

    .btn-brand {
        background-color: $color-brand;
        border: 1px solid;
        font-size: 18px;
        height: 40px;
        box-shadow: inset 0px 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        padding: 6px 20px 6px 20px;
    }

    .btn-brand:hover, .btn-brand:active {
        background: linear-gradient(#3d5505,#719f08);
        text-decoration: none;
    }
}
