@import './../../../styles/globals.scss';

.main-menu {
    background: #FFFFFF;
    position: relative;
    display: inline-block;

    @media (max-width:991px) {
        width: 100%;
    }

    .menu {
        font-size: $font-size-26;
    }

    a {
        color: $color-foreground-dark;
    }

    .menu-nav {
        padding: 0;
        margin: 0;
        left: 0;
        margin-bottom: 15px;
    }

    .separator-vertical {
        height: 20px;
        border-left: 1px solid $color-brand;
        border-right: 1px solid $color-brand;
    }
    /* Dropdown Button */
    .home-dropbtn {
        margin-left: 0;
        padding-left: 0;
        background-color: $color-background-brighter;
        color: black;
        font-size: 26px;
        border: none;
        cursor: pointer;
    }

    .dropbtn {
        background-color: $color-background-brighter;
        color: black;
        font-size: 26px;
        border: none;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
    }
    /*.dropbtn:hover {
        text-decoration: none;
        background-color: #eee;
        
    }*/
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        border-left: 2px solid $color-brand;
        line-height: 20px;
        margin-top: 20px;
    }

    .dropdown:first-child {
        border: none;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $color-background-brighter;
        /*min-width: 710px;*/
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 100;
    }
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: $color-background-brighter;
    }
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    menu-item {
        display: inline-block;
        vertical-align: top;
        margin: 0px;
    }
}

.mtop {
    margin-top: 20px;
}

.menu-ico-collapse {
    font-size: 8px;
    margin-left: 2px;
    float: none;
}


/* MAIN MENU */
.menu-mobile {
    left: 0;

    .glyphicon {
        font-size: 21px;
        display: inline-flex;
    }

    span.glyphicon.glyphicon-menu-hamburger {
        color: $color-brand;
    }

    .glyphicon.glyphicon-plus, .glyphicon.glyphicon-minus {
        font-size: 16px;
        float: right;
        margin-left: 15px;
        /*color: $color-brand;*/
    }

    .sub-item {
        font-size: 26px;
    }

    .list-group {
        padding-left: 0;
        float: left;
        display: inline;
        margin-top: -25px;

        @media (max-width:320px) {
            margin-top: -30px;
        }
    }

    .list-group-item {
        display: block;
        margin-bottom: -1px;
        background-color: transparent;
        border: 0;
        padding: 10px 23px;   
    }
    

    .list-group-item.sub-item {
        border-bottom:1px solid rgba(61,61,61,.1);
        border-top:1px solid rgba(61,61,61,.1);
     }

    .list-group-item:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .list-group-item:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .list-group-item > .badge {
        float: right;
    }

    .list-group-item > .badge + .badge {
        margin-right: 5px;
    }

    .panel {
        background-color: transparent;
        border: 0;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        width: 25%;

        @media (max-width:768px) {
            margin-bottom: 0px !important;
        }
    }

    a.list-group-item {
        
        color: #333;
        font-weight: normal;
        border: 0;
        -webkit-transition: background-color 100ms linear;
        -moz-transition: background-color 100ms linear;
        -o-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        strong{line-height: 15px;}
    }

    a.list-group-item:hover,
    a.list-group-item:focus {
        text-decoration: none;
    }

    a.list-group-item.active,
    a.list-group-item.active:hover,
    a.list-group-item.active:focus {
        z-index: 2;
        color: #ffffff;
        border: 0;
    }

    
    ul {
        margin-left: 10px;
        padding-left: 15px;
        padding-right: 15px;

        .subclassDesc {
            list-style: none;

            a {
                font-size: 20px;
                color: #636363;
                line-height: 30px;
                margin-left:30px;
            }
        }

        .subclassDesc-newArrivals {
            color: $color-brand !important;
        }

        .subclassDesc-onSales {
            color: red !important;
        }
    }

    .contact {
        position: fixed;
        z-index: 100;
        padding-left: 0;
        margin-top: -1px;
        width: 100%;
        background-color: white;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        left:0;
        @media (max-height:412px) {
            height: 180px;
        }

        @media (min-height:414px) {
            height: 250px;
        }

        @media (min-height:568px) {
            height: 300px;
        }

        .line {

            a {
                color: $color-foreground-dark;
                text-decoration: none;
                font-size: 16px;
            }

            .label {
                color: $color-brand;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .tel {
                color: $color-foreground-dark;
                display: inline-block;
                font-weight: 700;
                margin: 0 0 0 10px;
            }

            .status {
                font-size: 16px;
                padding-left: 30px;
            }

            .status.open:before {
                background-color: $color-brand;
            }

            .status:before {
                border-radius: 50%;
                content: "";
                display: inline-block;
                height: 7px;
                margin: 3px 15px 0 0;
                width: 7px;
            }
        }
    }
}

.pos-absolute {
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    left: 0;    
    margin-top: -1px;

    @media (max-height:412px) {
        height: 180px;
    }

    @media (min-height:414px) {
        height: 250px;
    }

    @media (min-height:568px) {
        height: 300px;
    }
}
.menu-ico-collapse {
    font-size: 8px;
    margin-left: 2px;
}


#nav {
    list-style: none;
    margin-left: -1.5cm;


    .nav-group {
        float: left;
        position: static;

        .h2 {
            font-size: 28px;
            position: relative;
            z-index: 1;
            margin-left: 0;
            margin-top: 7px;

            nav-item-label {
                display: block;
            }
        }

        a.home {
            border-left: none !important;
        }

        a.nav-item {
            display: block;
            color: inherit;
            text-decoration: none;
            padding: 0 15px;
            letter-spacing: inherit;
            border-left: 2px solid $color-brand;
        }

        a.nav-item:hover {
            color: inherit;
            text-decoration: none;
        }

        .nav-menu-wrapper {
            color: #333333;
            background-color: #FFFFFF;
            border: 2px solid #DDDDDD;
            position: absolute;
            display: none;
            opacity: 0;
            left: 0;
            width: 650px;
            margin-left: 100px;
            overflow: hidden;
            margin-top: -3px;
        }

        .nav-group-title {
            position: relative;
        }
    }

    .nav-group.active .nav-menu-wrapper {
        display: block;
        opacity: 1;
        z-index: 100;
        border-radius: 2px;
        padding-bottom: 15px;
        width: 500px!important;
    }

    .nav-group.active .nav-group-title:after {
        border: 4px solid $color-brand;
        content: "";
        display: block;
        bottom: -32px; //space between menu and >
        height: 22px;
        left: 50%;
        margin-left: -15px;
        position: absolute;
        transform: rotate(45deg);
        width: 45px;
        background-color: lightgrey;
    }
}

//mobile scroll tren top cua menu
.main-menu-scroll {
    background-color:#fff;
    border: 0;  
    .list-group-item {
        padding: 5px 23px;
    }

    .panel {
         
        margin-top: 0;

        .title-filter {
            top: -5px;
        }
    }

    .filter {
        text-align: right;
        width: 50%;
    }

    .sort {
        text-align: left;
        width: 50%;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    background: #ccc;
}

::-webkit-scrollbar-track-piece {
    background: #888;
}

::-webkit-scrollbar-thumb {
    background: #eee;
}
