﻿<div class="item-content">
    <div class="col-item">       
        <span class="classDesc">{{item.classDesc}}</span>
        <ul>
            <li class="subclassDesc" *ngFor="let subclass of item.subclasses">
                <a *ngIf="subclass.subclassDesc != 'New Arrivals' && subclass.subclassDesc != 'On Sale'"  (click)="link(subclass)"> {{subclass.subclassDesc}}</a>
                <a *ngIf="subclass.subclassDesc == 'New Arrivals'" class="subclassDesc-newArrivals"  (click)="newProductLink(subclass)"> {{subclass.subclassDesc}}</a>
            </li>
        </ul>
    </div>
</div>
