@import './../../../styles/globals.scss';
:host {
    display: block;
    background: white;
}

.item-content {
    display: inline-block;
    width: 100%; //calc(100% - 60px);
    vertical-align: middle;
    line-height: 30px;
    padding: 10px 15px 10px 15px;

    @media (max-width:414px) {
         padding: 10px 15px 10px 15px;
    }

    @media (max-width:991px) {
        margin-left: 10px;
       padding: 10px 15px 10px 15px;
       .subclassDesc {
            list-style: none;

            a {
                margin-left:30px;   
            }
             a:hover, a:active {
                color: $color-brand !important;
            }
        }

        .subclassDesc-newArrivals {
            color: $color-brand !important;
        }

        .subclassDesc-onSales {
            color: red !important;
        }
    }
    .classDesc {
        font-size: 26px;
        line-height: 40px;
        margin-left: 10px;
        border-bottom: .3rem solid #719F0A;
        @media (max-width:991px) {  
        font-size: 24px;   
      }
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .class:first-child {
        margin-top: 20px;
    }

    .class:last-child {
        margin-bottom: 20px;
    }

    ul {
        margin-left: -30px;

        .subclassDesc {
            list-style: none;

            a {
                font-size: 20px;
                color:#636363;
                line-height: 30px;
                text-decoration: none;
                touch-action: manipulation;
            }
             a:hover, a:active {
                color: #577a08;
                font-weight:500;
            }
        }

        .subclassDesc-newArrivals {
            color: $color-brand !important;
        }

        .subclassDesc-onSales {
            color: red !important;
        }
    }
}
