﻿<div class="my-account">
    <ul>
        <li class="title">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <span>My Account</span>
        </li>
        <li>
            <div class="accountInformation">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                <span>Account Information</span>
            </div>
            <p>
                Feel free to edit any of your details below so your account is totally up to date
            </p>
            <form [formGroup]="userForm" class="userForm">
                <div class="form-group" [ngClass]="{'has-error':!userForm.controls['firstName'].valid && userForm.controls['firstName'].touched}">
                    <label for="firstName">
                        First Name
                        <span class="required"> *</span>
                    </label>
                    
                    <input class="form-control" [formControl]="userForm.controls['firstName']" id="firstName" maxlength="25" />
                    <div class="alert-danger" *ngIf="userForm.controls['firstName'].hasError('required') && userForm.controls['firstName'].touched">Please enter your first name.</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!userForm.controls['lastName'].valid && userForm.controls['lastName'].touched}">
                    <label for="lastName">Last Name<span class="required"> *</span></label>
                    <input class="form-control" [formControl]="userForm.controls['lastName']" id="lastName" maxlength="25" />
                    <div class="alert-danger" *ngIf="userForm.controls['lastName'].hasError('required') && userForm.controls['lastName'].touched">Please enter your last name.</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!userForm.controls['email'].valid && userForm.controls['email'].touched}">
                    <label for="email">Email<span class="required"> *</span></label>
                    <input class="form-control" [formControl]="userForm.controls['email']" id="email" maxlength="128" />
                    <div class="alert-danger" *ngIf="userForm.controls['email'].hasError('required') && userForm.controls['email'].touched">Please enter your email.</div>
                    <div class="alert-danger" *ngIf="!userForm.controls['email'].hasError('required') && userForm.controls['email'].hasError('invalidEmailAddress') && userForm.controls['email'].touched">Please enter your Email in this format name@company.com.</div>
                    <div class="alert-danger" *ngIf="!userForm.controls['email'].hasError('required')
                             && !userForm.controls['email'].hasError('invalidEmailAddress')
                             && isExistEmail
                             && userForm.controls['email'].touched">
                        Email address already in use.Please <a (click)="openLogin()">login</a>
                    </div>
                </div>
                <div class="form-group actions" role="group">
                    <button type="submit" class="btn btn-brand full-width" data-dismiss="modal" role="button" (click)="saveUser()">Save Changes</button>
                </div>
            </form>
        </li>
    </ul>
</div>
