@import 'variables';
h1 {
    color: $color-background-dark;
    font-size: 30px; //28 35
    font-weight: 700;
    transition: color 500ms,font-size 500ms;
    padding-bottom: 3px;
    margin-bottom: 15px;
    /*text-transform: uppercase;*/
}

h2 {
    font-size: 28px;
    font-weight: 700;
    transition: color 500ms,font-size 500ms;
    color: inherit;
    font-style: normal;
    text-transform: none;
    margin: 0 0 .5em;
}

h4 {
    font-size: 22px;
    margin: 0 0 10px;
    color: #5d5d5d; //#636363;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    text-rendering: optimizeSpeed;
}

p {
    margin: 0 0 1.5em;
    color: #636363;
    //color: inherit;
    font-size: inherit;
    font-style: normal;
    line-height: inherit;
}

a {
    color: $color-brand;
    font-weight: 700;
    text-decoration: none;
    touch-action: manipulation;
    cursor: pointer;
    font-size: 20px;
}

a:hover, a:active {
    color: #577a08;
}

#container {
    border: 1px black solid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    margin: 10px;
    border: 1px gray dashed;
}

.pagination {
    position: absolute;
    bottom: 0;
    left: 0;
}

#spinner {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s;
    border: 1px black solid;
    padding: 5px;
    background-color: rgba(255,0,0, 0.5);
}

#spinner.visible {
    opacity: 1;
}
