@import './../../../styles/globals.scss';

ul{
  padding: inherit;
  margin: 0;
  overflow: hidden;

}

li{
  list-style: none;
  display: inline-block;
  width: 100%;
}

@media (min-width:567px) {
  .col-xs-6 {
    width: 26%;
  }
}
