<div class="row">
    <div class="sale-messages hidden-sm hidden-xs visible-lg-block visible-md-block">
        <div class="sale-off">
            <div class="sale-off-info" style="margin-top:-15px;"></div>
        </div>
    </div>
</div>
<div class="row helpful-resources">    
    <div class="page-title">
        <h1>Guides &amp; FAQs</h1>
    </div>
    <div class="std"><p>We've put together some FAQs and Buying Guides to help you decide on the best product to fit your needs. If you have any questions, please don't hesitate to <a title="Contact Us" [routerLink]="['/contact-us']">Contact Us</a>. Our knowledgeable customer service team is ready to help you.</p></div>
    <div class="faq-category-list-container">
        <div class="faq-category-list">
            <h1 class="title">FAQs</h1>
            <div class="faq-list-container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a (click)="what_is_ada()">
                            <img src="./images/what-is-ada.jpg">
                            <span class="name">What is ADA?</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a  (click)="how_can_i_amplify_outgoing_speach()">
                            <img src="./images/how-can-i-amplify-outgoing-speach.jpg">
                            <span class="name">How can I amplify outgoing speech </span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a (click)="how_can_i_hear_better_on_my_cellphone()">
                            <img src="./images/how-can-i-hear-better-on-my-cellphone.jpg">
                            <span class="name">How can I hear better on my cell phone?</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a (click)="how_can_i_keep_my_hearing_ads_running_smoothl()">
                            <img src="./images/how-can-i-keep-my-hearing-ads-running-smoothly.jpg">
                            <span class="name">How to Buy a Personal Amplifier</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a (click)="what_is_a_t_coil()">
                            <img src="./images/logo.png">
                            <span class="name">What is a T-coil?</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a (click)="what_is_a_loop_system()">
                            <img src="./images/what-is-a-loop-system.jpg">
                            <span class="name">How to Buy a Loop System</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-category-list">
            <h2 class="title">Buying Guides</h2>
            <div class="faq-list-container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a (click)="how_to_buy_an_alarm_clock()">
                            <img src="./images/how-to-buy-an-alarm-clock.jpg">
                            <span class="name">How to Buy an Alarm Clock</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a (click)="how_to_buy_an_amplified_telephone()">
                            <img src="./images/how-to-buy-an-amplified-telephone.jpg">
                            <span class="name">How to Buy an Amplified Telephone</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a (click)="how_to_buy_an_fm_digital_system()">
                            <img src="./images/how-to-buy-an-fm-digital-system.jpg">
                            <span class="name">How to Buy an FM/Digital System</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a (click)="how_to_buy_an_emergency_notification_device()">
                            <img src="./images/how-to-buy-an-emergency-notification-device.jpg">
                            <span class="name">How to buy an Emergency Notification Device</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a (click)="how_to_buy_amplified_stethoscopes()">
                            <img src="./images/how-to-buy-amplified-stethoscopes.jpg">
                            <span class="name">How to buy an amplified stethoscope </span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a (click)="how_to_but_a_tv_listening_system()">
                            <img src="./images/how-to-but-a-tv-listening-system.jpg">
                            <span class="name">How to Buy a TV Amplifier</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a (click)="how_to_buy_a_signaling_device()">
                            <img src="./images/how-to-buy-a-signaling-device.jpg">
                            <span class="name">How to Buy a Signaling Device</span>
                        </a>
                    </div>
                    <div class="col-lg-3 ow_to_buy_col-md-3 col-sm-6 col-xs-6">
                        <a (click)="how_to_buy_a_personal_amplifier()">
                            <img src="./images/how-to-buy-a-personal-amplifier.jpg">
                            <span class="name">How to Buy a Personal Amplifier</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-before-container">
        <div class="inside">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="img-box">
                    <img alt="Assistive Technology Guide" src="./images/assistive-technology-guide.jpg">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="std">
                    <h2>Free Guide to Assistive Technology</h2>
                    <p><strong>Find out more about technologies for hearing loss</strong></p>
                    <p>Approximately 36 million people living in the U.S. have some form of hearing loss.* While most people are familiar with hearing aids and cochlear implants, there's a surprising lack of knowledge about assistive technology and the additional benefits they provide people with hearing loss. This guide shows you a world of products that you may have never known even existed.</p>
                    <a class="btn btn-brand" href="../pdf/harrisorderform.pdf" target="_blank">Download Guide</a>
                </div>
            </div>
        </div>
    </div>
</div>
