﻿@import './../../../styles/globals-content.scss';

.row {
    margin-left: 0;
    margin-right: 0;
}

.helpful-resources {
    color: $color-background-dark;
    font-size: 20px;
    line-height: 1.5;
     
    @media (max-width:768px) {
        margin-top: 10px;
    }


    .faq-category-list .title {
        border-bottom: 2px solid #c6c5c5;
        color: #221f1f;
        font-size: 30px;
        margin: 0 0 20px;
        padding-bottom: 20px;
    }

    img {
        border: 1px solid #c5c4c4;
        display: block;
        margin: 0 auto 30px;
        max-width: 100%;
    }

    .name {
        color: #719f0a;
        display: block;
        font-size: 23px;
        font-weight: 700;
        margin: 0 auto;
        max-width: 222px;
        width: 100%;
    }

    .row {
        margin-bottom: 40px;
    }

    .inside {
        border-top: 1px solid #c5c4c4;
        padding-top: 50px;

        .btn-brand {
            background-color: $color-brand;
            border: 1px solid;
            font-size: 20px;
            width: 200px;
            padding: 8.5px;
            height: 48px;
            box-shadow: inset 0px 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
            color: #fff;
            font-weight: 400;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
            padding: 6px 20px 6px 20px;
        }

        .btn-brand:hover, .btn-brand:active {
            background: linear-gradient(#3d5505,#719f08);
            /*background-color: #577a08;*/
            text-decoration: none;
        }
    }

    .img-box {
        float: left;
        padding: 0 50px 0 0;
    }

    .footer-before-container {
        a {
            color: $color-foreground-bright;
        }
    }

   
    .faq-list-container {
        a {
            color: $color-brand;
            font-weight: 700;
            text-decoration: none;
            touch-action: manipulation;
            cursor: pointer;
            font-size: 20px;
        }

        a span:hover, a span:active {
            color: #577a08;
        }

        img:hover {
            cursor: pointer;
            transition: box-shadow 500ms;
            box-shadow: 0px 0px 15px 10px #999999;
        }

        img {
            /*border: 1px solid #f2f2f2;//#c5c4c4;*/
            display: block;
            margin: 0 auto 30px;
            max-width: 100%;
            box-shadow: 0px 0px 8px 8px #e5e5e5; //rgba(232,232,232,1);
        }

        .name {       
            display: block;
            font-size: 23px;
            font-weight: 700;
            margin: 0 auto;
            max-width: 222px;
            width: 100%;
        }
    }
}
.sale-messages {
    .sale-off {
        background-color: $color-background-dark;
        height: 35px;

        .sale-off-info {
            width: 400px;
            margin-left: 10%;
            height: 35px;
            -webkit-transform: skew(50deg);
            -moz-transform: skew(50deg);
            -o-transform: skew(50deg);
            background-color: $color-brand;
        }
    }


    .first {
        color: white;
        position: absolute;
        font-size: 12px;
        font-weight: 700;
        margin-top: -45px;
        margin-left: 15px;
        word-wrap: break-word;
        width: 90px;
    }

    .second {
        color: white;
        position: absolute;
        font-size: 25px;
        font-weight: 700;
        margin-top: -35px;
        margin-left: 200px;
        width: 400px;
    }

    .third {
        color: white;
        position: absolute;
        font-size: 18px;
        font-weight: 700;
        margin-top: -30px;
        margin-left: 660px;
        width: 400px;
    }
}